{# Primary project identifier #}
{% set ppi = 'aliss' %}
{# Primary project identifier #}

{# Paths #}
{% set atoms = '../atoms/' %}
{% set molecules = 'molecules/' %}
{% set organisms = 'organisms/' %}
{% set includes = 'include/' %}
{% set content = 'dummy-content-snippets/' %}
{# Paths #}