
// Landing Page
// ---------------------------------------

.copy-container.image {
	@include clear;
	// padding-right: 30%;
	max-width: none;
	h1 {
		max-width: 800px;
	}
	.float-image+p {
		margin-top: 1em;
	}
}
.float-image {
	width: 47.5%;
	&.right {
		float: right;
		margin: 1em;
		margin-right: 0;
	}
	@include medium {
		width: 57.5%;
	}
	@include small {
		&.right, &.left {
			margin: 1.75em auto 1.5em auto;
			float: none;
		}
		width: 100%;
		max-width: 400px;
		position: relative;
		margin: 1.75em auto 1.5em auto;
	}
}
.svg {
	position: relative;
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.how-it-works {
		@include aspect-ratio(50, 30);
	}
	&.results {
		@include aspect-ratio(33, 27);
		max-height: 270px;
		@include media(0, 1150) {
			max-height: 270/1.1+px;
		}
	}
	&.categories {
		@include aspect-ratio(25, 23);
		max-height: 225px;
		@include media(0, 1150) {
			max-height: 225/1.1+px;
		}
	}
	&.saved-services, &.recommendations, &.analytics {
		@include aspect-ratio(31, 26);
		max-height: 260px;
		@include media(0, 1150) {
			max-height: 260/1.1+px;
		}
	}
	&.share-print {
		@include aspect-ratio(1, 1);
		max-height: 230px;
		@include media(0, 1150) {
			max-height: 230/1.1+px;
		}
	}
	&.mapping {
		@include aspect-ratio(16, 26);
		max-height: 260px;
		@include media(0, 1150) {
			max-height: 260/1.1+px;
		}
	}
}
.benefits {
	@extend %section-pad;
	padding-top: 0;
	margin-top: -1.5rem;
	padding-bottom: 2em;
	@include clear;
	text-align: center;
	.columns {
		display: inline-block;
		width: 32.5%;
		vertical-align: top;
		margin-bottom: 2.5em;
		@include medium {
			width: 49.5%;
		}
		@include small {
			width: 100%;
		}
		.svg {
			margin-top: 1.5em;
			&.share-print {
				margin-top: 3.25em;
				@include medium {
					margin-top: 0;
				}
				@include small {
					margin-top: 0;
				}
			}
		}
	}
}
.benefits+.center-section {
	padding-top: 0;
}
.center-section+#search {
	padding-top: 0;
}
