// Results
// ---------------------------------------
#skip-content {
  a.skip-content {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
  }
  a.skip-content:focus, a.skip-content:active {
    color: #fff;
    background-color: $brand;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
  }
}

.toggle-heading {
  @include fas(caret-right);
  margin-bottom: 0.5rem;
  &:before {
    width: 0.95rem;
    position: relative;
    left: 0.175rem;
    display: none;
  }
  &.active {
    @include fas(caret-down);
    color: $medium-gray;
    &:before {
      left: 0;
    }
  }
  @include media(0, $search-break) {
    cursor: pointer;
    color: $secondary;
    &:before {
      display: inline-block;
    }
    @include st {
      color: $medium-gray;
      text-decoration: underline;
    }
  }
}

#results {
  padding-bottom: 2rem;
  .search-results {
    margin-top: -0.35rem;
  }
  @include media(0, $search-break) {
    padding-top: 1.5rem;
    .search-results {
      // border-top: 1px solid $light-gray;
      padding-top: 1.75rem;
    }
  }
  @include small {
    padding-top: 0;
  }
  .results {
    @include clear;
  }
  .local-national, .category-selector {
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    h4 {
      display: none;
    }
    @include media(0, $search-break) {
      padding-top: 0;
      padding-bottom: 0;
      padding-bottom: 1rem;
      h4 {
        display: block;
      }
      .cells {
        display: none;
        margin-top: 0;
        margin-bottom: 0;
        &.active {
          display: block;
        }
      }
    }
  }
  .category-selector {
    @include media(0, $search-break) {
      h4 {
        display: none;
      }
      .cells {
        display: block;
      }
    }
  }

  .filters {
    .keyword-search {
      max-width: 400px;
    }
    @include grid-column(4);
    .filter {
      margin: 1.75rem 0;
      >label {
        @extend p;
        margin-bottom: 0.35rem;
      }
    }
    @include media(0, $search-break) {
      width: 100%;
      padding-right: rem-calc($gutter/2);
      padding-left: rem-calc($gutter/2);
      .filter-group {
        display: none;
        margin-top: 1rem;
        &.active {
          display: block;
        }
      }
      .filter {
        margin: 0;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @include small {
      .filter-group {
        margin-top: 0.75rem;
      }
      .filter {
        margin-bottom: 1.5rem;
        // &:last-child {
        //   margin-bottom: 0;
        // }
      }
    }
  }
  .listing {
    @include grid-column(8);
    .search-results, .paged, .error {
      padding-left: rem-calc($gutter);
      @include media(0, $search-break) {
        padding-left: 0;
      }
    }
    @include media(0, $search-break) {
      width: 100%;
      margin-top: 1rem;
      padding-right: rem-calc($gutter/2);
      padding-left: rem-calc($gutter/2);
    }
  }
}

#content.results, #content.my-account {
  h1, h1+.buttons {
    @extend %vam;
  }
  h1+.buttons {
    // margin-top: -0.75rem;
    margin-top: 0.35rem;
    margin-left: 0.75rem;
  }
  @include media(0, $large) {
    h1, h1+.buttons {
      display: block;
    }
    h1+.buttons {
      margin: 1rem 0 0 0;
    }
  }
  @include small {
    padding-bottom: 1.25rem;
    .buttons, h1+.buttons {
      display: none;
    }
  }
}

span.cat {
  width: 2.25rem;
  // padding-top: 0.2rem;
  height: 2.25rem;
  border: 1px solid $medium-gray;
  @extend %vam;
  text-align: center;
  color: $medium-gray;
  margin-right: 0.175rem;
  border-radius: 100%;
  position: relative;
  i {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    // padding-bottom:0.05rem;
    @extend %txy;
    // padding-left: 2px;
  }
}

.cells {
  font-size: $d-fs;
  background: $light-gray_fade;
  border: 3px solid $light-gray_fade;
  @include clear;
  border-radius: $d-rad*2;
  @include media(0, $search-break) {
    margin: 1rem 0 1.25rem 0;
  }
  @include small {
    margin: 0.75rem 0 1rem 0;
    font-size: $d-fs-s;
  }
  span.radio {
    @extend %radio;
  }
  span.checkbox {
    @extend %checkbox;
  }
  ul {
    @extend %no-list;
  }
  >a, >label, > ul > li {
    border: 3px solid $light-gray_fade;
    padding: 1.2rem 1.2rem 1rem 1.2rem;
    line-height: 1.4;
    min-height: 74px;
    float: left;
    display: block;
    position: relative;
    background: $w;
    transition: none;
    @include transition(color, $d-time)
    @include small {
      min-height: 70px;
    }
    .holder {
      padding-left: 2rem;
      position: relative;
      max-width: 350px;
    }
    // &:after {
    //   content:"";
    //   width: 5px;
    //   height: 100%;
    //   top: -5px;
    //   padding-top: 5px;
    //   @include transition;
    //   padding-bottom: 5px;
    //   box-sizing: content-box;
    //   position: absolute;
    //   background: $light-gray_fade;
    //   display: none;
    // }
    span.radio, span.checkbox {
      position: absolute;
      left: 0;
      top: 0.65rem;
    }
    // @include st {
    //   z-index: 3;
    //   border-color: $light-gray;
    //   &:after {
    //     background: $light-gray;
    //   }
    // }
    @include st {
      span.radio, span.checkbox {
        border-color: $brand;
      }
    }
    &.active {
      color: $medium-gray;
      span.radio, span.checkbox {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  > ul > li {
    padding: 0;
    > a {
      padding: 1.2rem 1.2rem 1rem 1.2rem;
    }
  }
  &.two, &.three, &.four {
    >a, >label, > ul > li {
      &:first-child {
        border-top-left-radius: $d-rad*2;
        border-bottom-left-radius: $d-rad*2;
        // &:after {
        //   display: block;
        //   left: 100%;
        //   margin-right: -5px;
        // }
      }
      &:last-child {
        border-top-right-radius: $d-rad*2;
        border-bottom-right-radius: $d-rad*2;
        // &:after {
        //   display: block;
        //   right: 100%;
        //   margin-left: -5px;
        // }
      }
    }
  }
  &.one {
    >a, >label, > ul > li {
      width: 100%;
      border-radius: $d-rad*2;
    }
  }
  &.two {
    >a, >label, > ul > li {
      width: 50%;
      @include small {
        width: 100%;
        &:first-child, &:last-child {
          border-radius: 0;
        }
        &:first-child {
          border-top-left-radius: $d-rad*2;
          border-top-right-radius: $d-rad*2;
        }
        &:last-child {
          border-bottom-left-radius: $d-rad*2;
          border-bottom-right-radius: $d-rad*2;
        }
      }
    }
  }
  &.three {
    >a, >label, > ul > li {
      width: 33.333%;
      @include media(0, $search-break) {
        width: 50%;
        border-radius: 0;
        &:first-child, &:last-child {
          border-radius: 0;
          border: 3px solid $light-gray_fade;
        }
        &:first-child {
          border-top-left-radius: $d-rad*2;
        }
        &:nth-child(2) {
          border-top-right-radius: $d-rad*2;
        }
        &:last-child {
          border-bottom-left-radius: $d-rad*2;
        }
      }
      @include small {
        width: 100%;
        &:first-child, &:last-child, &:nth-child(2) {
          border-radius: 0;
        }
        &:first-child {
          border-top-left-radius: $d-rad*2;
          border-top-right-radius: $d-rad*2;
        }
        &:last-child {
          border-bottom-left-radius: $d-rad*2;
          border-bottom-right-radius: $d-rad*2;
        }
      }
    }
  }
  &.four {
    >a, >label, > ul > li {
      width: 25%;
      @include media(0, $search-break) {
        width: 50%;
        border-radius: 0;
        &:first-child, &:last-child {
          border-radius: 0;
        }
        &:first-child {
          border-top-left-radius: $d-rad*2;
        }
        &:nth-child(2) {
          border-top-right-radius: $d-rad*2;
        }
        &:nth-last-child(2) {
          border-bottom-left-radius: $d-rad*2;
        }
        &:last-child {
          border-bottom-right-radius: $d-rad*2;
        }
      }
      @include small {
        width: 100%;
        &:first-child, &:last-child, &:nth-child(2), &:nth-last-child(2) {
          border-radius: 0;
        }
        &:first-child {
          border-top-left-radius: $d-rad*2;
          border-top-right-radius: $d-rad*2;
        }
        &:last-child {
          border-bottom-left-radius: $d-rad*2;
          border-bottom-right-radius: $d-rad*2;
        }
      }
    }
  }
}

.category-selector {
  @include clear;
  a.clear {
    display: inline-block;
    margin-top: 0.5rem;
    @include media(0, $search-break) {
      margin-top: 0.5rem;
    }
  }
  ul > li {
    @include st {
      span.select, a.select-category {
        color: $medium-gray;
      }
    }
  }
  span.select {
    @include fas(caret-down);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.95rem 1.1rem;
    color: $secondary;
    cursor: pointer;
    @include transition;
    &:before {
      font-size: 1.2rem;
    }
  }
  .active {
    span.select {
      color: $medium-gray;
      @include fas(caret-up);
    }
  }
  li.active {
    border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    > a {
      color: $medium-gray;
      border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    ul {
      display: block;
    }
  }
  ul > li > a {
    display: block;
    position: relative;
    padding-right: 3.5rem;
  }
  ul ul {
    display: none;
    position: absolute;
    top: 100%;
    // width: 100%;
    background: $w;
    z-index: 5;
    margin-top: 0;
    border: 6px solid $light-gray_fade;
    border-top: 1px solid $light-gray_fade;
    left: -6px;
    right: -6px;
    // border-top: 0;
    max-height: 500px;
    overflow: scroll;
    border-bottom-left-radius: $d-rad*2;
    border-bottom-right-radius: $d-rad*2;
    @include small {
      max-height: 300px;
    }
    > li {
      border-top: 1px solid $light-gray_fade;
      &:first-child {
        border-top: 0;
      }
      a {
        padding: 0.65rem 1rem 0.55rem 1rem;
      }
    }
    &.cat-icons {
      > li {
        a {
          padding: 1.1rem 1rem 0.9rem 1rem;
          padding-left: 3.8rem;
          span.cat {
            position: absolute;
            left: 1rem;
            top: 0.65rem;
          }
        }
      }
    }
  }
  a.active-cat {
    color: $medium-gray;
  }
  a.icon {
    padding-left: 3.8rem;
    span.cat {
      position: absolute;
      top: 0.65rem;
      left: 1rem;
    }
  }
  a.truncate {
    span.name {
      @include truncate(100%);
      display: block;
    }
  }
}
.checkbox-agree {
  font-size: 1rem;
  position: relative;
  margin: 0.5rem 0;
  max-width: 710px;
  label {
    padding-left: 2.05rem;
    margin-bottom: 0;
    display: block;
    padding-top: .35rem;
    input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 0.25rem;
    }
  }
}
.radio-list, .radio-list-links, .checkbox-list, .checkbox-list-links {
  font-size: 1rem;
  @extend %no-list;
  ul {
    @extend %no-list;
    margin: 0.5rem 0 0.75rem 0;
    display: none;
    li {
      &:before {
        content: "";
        width: 1.45rem;
        display: block;
        height: 150%;
        z-index: 0;
        position: absolute;
        right: 100%;
        margin-right: -0.1rem;
        top: -85%;
        opacity: 0.5;
        border-radius: 5px;
        border-left: 3px solid $light-gray_fade;
        border-bottom: 3px solid $light-gray_fade;
      }
    }
  }
  a {
    font-size: $d-fs;
    @include small {
      font-size: $d-fs-s;
    }
  }
  label {
    margin: 0;
  }
  &.truncate {
    span.name {
      @include truncate(80%);
      @include media(0, 480) {
        @include truncate(75%);
      }
    }
    ul li span.name {
      @include truncate(75%);
      @include media(0, 480) {
        @include truncate(70%);
      }
    }
  }
  >div, li, ul li {
    margin: 0.4rem 0;
    position: relative;
    span.radio {
      @extend %radio;
    }
    span.checkbox {
      @extend %checkbox;
    }
    input[type=checkbox], input[type=radio], span.radio, span.checkbox {
      @extend %vam;
      margin-right: 0.2rem;
      position: relative;
      z-index: 2;
    }

    // Disabled
    input[type=checkbox], input[type=radio], span.radio, span.checkbox {
      &[disabled], &.disabled {
        background: $light-gray;
        border-color: $light-gray;
        +span.name {
          color: $light-gray;
          cursor: default;
          text-decoration: none;
        }
      }
    }
    a, label {
      color: $light-gray;
      @include st {
        input[type=checkbox], input[type=radio], span.radio, span.checkbox {
          &[disabled], &.disabled {
            background: $light-gray;
            border-color: $light-gray;
            +span.name {
              color: $light-gray;
              cursor: default;
              text-decoration: none;
            }
          }
        }
      }
    }

    // Absolute
    padding-left: 2.05rem;
    input[type=checkbox], input[type=radio], span.radio, span.checkbox {
      position: absolute;
      left: 0;
      top: 0.25rem;
    }

    a, label {
      font-weight: bold;
      line-height: 1.4;
      span.text, span.name {
        color: $secondary;
        @extend %vam;
        padding-top: 0.35rem;
      }
      @include st {
        text-decoration: none;
        span.text, span.name {
          color: $medium-gray;
          text-decoration: underline;
        }
        span.radio, span.checkbox {
          border-color: $brand;
        }
      }
    }
    &.active {
      span.radio, span.checkbox {
        &:before {
          opacity: 1;
        }
      }
      span.name {
        color: $medium-gray;
      }
    }
    input[type=radio]:checked+span.cat+span.name, input[type=checkbox]:checked+span.cat+span.name, input[type=radio]:checked+span.name, input[type=checkbox]:checked+span.name {
      color: $medium-gray;
    }
  }
  &.cat {
    input[type=checkbox], input[type=radio], span.radio, span.checkbox {
      top: 0.55rem;
    }
    ul li {
      input[type=checkbox], input[type=radio], span.radio, span.checkbox {
        top: 0.3rem;
      }
    }
  }
  &.children {
    >div, >li {
      padding-right: 80px;
      @include small {
        padding-right: 20px;
      }
    }
    ul.active {
      display: block;
    }
    .toggle-children {
      @extend %link-style;
      font-size: $d-fs;
      right: 0.5rem;
      top: 0.55rem;
      position: absolute;
      padding-right: 0.95rem;
      .more-text {
        @include fas(plus);
      }
      .less-text {
        @include fas(minus);
        display: none;
      }
      .more-text, .less-text {
        &:before {
          font-size: 0.75rem;
          right: 0;
          top: 0.05rem;
          position: absolute;
        }
      }
      @include st {
        color: $medium-gray;
        text-decoration: underline;
      }
      &.active {
        .less-text {
          display: block;
        }
        .more-text {
          display: none;
        }
      }
      @include small {
        font-size: $d-fs-s;
        right: 0;
        padding: 0 1rem;
        .more-text, .less-text {
          width: 0;
          overflow: hidden;
          display: block;
        }
      }
    }
  }
}
.paged {
  font-weight: bold;
  @include clear;
  .holder {
    margin-top: 2.25rem;
    border-top: 1px solid $light-gray;
    padding-top: 1.5rem;
  }
  p.total {
    float: left;
    margin: 0.4rem 0;
  }
  .pages {
    font-size: $d-fs;
    float: right;
    span {
      color: $light-gray;
    }
    span, a {
      &.prev {
        margin-right: 0.35rem;
        text-align: right;
      }
      &.next {
        margin-left: 0.35rem;
        text-align: left;
      }
      &.number {
        margin: 0 0.1rem;
        width: 1.95rem;
        font-size: 1.2rem;
        text-align: center;
        line-height: 100%;
        line-height: 1.85rem;
        padding-bottom: 0.1rem;
        border-radius: $d-rad;
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        font-family: $heading-font;
        color: $w;
      }
    }
    a.number {
      background: $secondary;
      @include st {
        background: $medium-gray;
      }
    }
    span.number {
      background: $light-gray;
      @include st {
        background: $light-gray;
        text-decoration: none;
      }
    }
    @include small {
      font-size: $d-fs-s;
    }
  }
  @include small {
    p.total, .pages {
      display: block;
      float: none;
      text-align: center;
    }
    p.total {
      margin-top: 0;
    }
    .pages {
      margin-top: 1.5rem;
      span, a {
        &.prev, &.next {
          width: 45px;
          display: inline-block;
        }
      }
    }
  }
}
.claim-requests, .problem-reports {
  margin-top: 2rem;
}
p.org {
  @media print {
    a[href]:after {
        content: none !important;
    }
  }
}

.search-results, .content .search-results, .recommendations-lists,
.rep-organisations, .claim-requests, .problem-reports {
  @extend %no-list;
  padding-left: 0;
  margin-left: 0;
  &.edit {
    // border: 10px solid red;
    >div, >li {
      padding-bottom: 0;
      border-bottom: 0;
      &:first-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  >div, >li {
    font-size: 1rem;
    ol li, ul li {
      font-size: 1rem;
    }
    &:before { display: none; }
    padding: 1.75rem 0 2.25rem 0;
    &.modal {
      padding: 0;
      border: 0;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
    .heading {
      @include clear;
    }
    .heading+p {
      margin-top: 0.65rem;
    }
    h3 {
      margin-bottom: 0;
      float: left;
      margin-top: 0.35rem;
    }
    .heading .alert {
      float: right;
      margin-left: 1rem;
      margin-bottom: 0.35rem;
    }
    .location {
      margin: 0.5rem 0 1rem 0;
      font-size: $d-fs;
      @include small {
        font-size: $d-fs-s;
      }
      .icon-link {
        font-size: 1rem !important;
      }
    }
    .service-areas {
      @media print {
        display: none !important;
        margin-top: 0.35rem;
      }
      a {
        @include fas(plus);
        position: relative;
        padding-right: 0.325rem;
        &.active {
          @include fas(minus);
          color: $medium-gray;
        }
        &:before {
          font-size: 0.75rem;
          // line-height: 1;
          float: right;
          // position: absolute;
          // right: 0;
          // margin-top: -1px;
          width: 14px;
            height: 18px;
            line-height: 18px;
            text-align: right;
        }
      }
    }
    p.last-updated {
      @media print {
        display: none;
      }
    }
    p.org {
      margin-top: 0.35rem;
    }
    .service-areas-list {
      margin-top: 1rem;
      display: none;
      @media print {
        display: block;
      }
      &.active {
        display: block;
      }
      p {
        font-size: $d-fs-s;
        margin: 0;
      }
    }
    ul.contact-info {
      margin-top: 1rem;
      margin-bottom: -0.75rem;
      @extend p;
      @extend %no-list;
      font-weight: bold;
      line-height: 100%;
      li {
        border-right: 1px solid $light-gray;
        @extend %vam;
        margin-right: 0.5rem;
        padding-right: 0.75rem;
        margin-bottom: 0.75rem;
        &:last-child {
          border-right: 0;
          padding-right: 0;
        }
      }
      @include small {
        margin-bottom: 0;
        li {
          display: block;
          margin: 0.5rem 0;
          border: 0;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &.service-areas {
            display: inline-block;
            margin-top: 0;
            margin-top: -0.05rem;
          }
        }
      }
    }
  }
}
$icon-w: 1.5rem;
.icon-link, .back-link {
  font-size: $d-fs-s !important;
  position: relative;
  display: block;
  padding-left: $icon-w + 0.2rem !important;
  line-height: 1.4;
  color: $medium-gray;
  font-weight: bold;
  .icon {
    position: absolute;
    top: 0.05rem;
    line-height: 100%;
    left: 0;
    width: $icon-w;
    text-align: center;
  }
  &.disabled {
    color: $light-gray;
    @include st {
      color: $light-gray;
      cursor: default;
      text-decoration: none;
    }
  }
}
a.icon-link, a.back-link {
  color: $secondary;
  @include st {
    color: $medium-gray;
  }
  &.active {
    color: $medium-gray;
    @include st {
      color: $medium-gray;
    }
  }
}
.back-link  {
  padding-left: 1.1rem !important;
  .icon {
    width: 0.8rem;
  }
}
.icon-link.close {
  padding-left: 1.2rem !important;
  .icon {
    width: 0.9rem;
  }
}
.location > .icon-link, .locations-list > .icon-link {
  padding-left: 1.4rem !important;
  .icon {
    width: 1.1rem;
  }
}
a.alert, a.delete {
  color: $alert;
  @include st {
    color: $medium-gray;
  }
}
a.primary, a.primary {
  color: $primary;
  @include st {
    color: $medium-gray;
  }
}
a.fb, a.tw {
  &:before {
    display: inline-block;
    font-size: 0.9rem;
    min-width: 0.5rem;
    margin-right: 0.45rem;
  }
}
a.fb {
  @include fab(facebook-f);
}
a.tw {
  @include fab(twitter);
}

.claimed {
  @include fas(check);
  margin-left: 0.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  background: $brand;
  line-height: 100%;
  display: inline-block;
  padding: 0.4rem 0.4rem 0.25rem 0.5rem;
  color: $w;
  &:before {
    margin-right: 0.3rem;
  }
  @include small {
    font-size: 0.8rem;
  }
}

.search-results .claimed {
  -webkit-box-shadow: 0 0 1px #1e7abd;
  box-shadow: 0 0 1px #1e7abd;
  font-size: 0.7rem;
  top: -8px;
  position: relative;
  margin-left: -2px;
  border-radius: 100%;
  padding-left: .4rem;
  height: 1.5rem;
  line-height: .8rem;
  padding-right: .1rem;
}

.assigned-categories {
  margin-left: 0.4rem;
  color: silver;
  a,span { color: inherit; }
  a:hover,span:hover { color: gray; }
}

.updated {
  font-weight: bold;
  &.alert {
    color: $alert;
  }
}
.actions {
  > a {
    display: block;
    margin: 0.5rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
#content.service, #content.organisation {
  .properties {
    margin-bottom: 2.5rem;
    color: #555;
    font-size: 1.2rem;
    i { font-size: 90%; }
    .prop-name { font-weight: bold; }
  }

  @include clear;
  .all-locations {
    margin-bottom: 2rem;
    .button {
      margin-top: 0.5rem;
      @include small {
        margin-top: 0;
      }
      @include media(0, 480) {
        display: block;
      }
    }
    .location {
      .property { margin-right: 0.7rem; }
      margin: 1rem 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      // font-size: 1rem;
      p {
        margin-bottom: 0.25rem;
      }
      @include small {
        margin-bottom: 1.5rem;
      }
      > a {
        margin: 0.35rem 0;
      }
    }
  }
  .services-list {
    margin-top: 2.5rem;
    @include small { margin-top: 1.5rem; }
    ul.search-results > li { padding: 0px; margin-bottom:1rem; }
  }
  .columns {
    &.content {
      @include grid-column(8);
      @include grid-column-end;
      .copy-container, .services-list {
        padding-right: rem-calc($gutter);
      }
    }
    &.options {
      @include grid-column(4);
      float: right;
      @media print {
        display: none;
      }
    }
    &.options {
      margin-bottom: 2rem;
    }
    &.feedback-form {
      @include grid-column(12);
      margin-top: 2.5rem;
    }
    @include media(0, $search-break) {
      &.content, &.options, &.contact-info {
        @include grid-column(12);
        .copy-container, .services-list {
          padding-right: 0;
        }
      }
      &.options {
        margin-bottom: 1rem;
        max-width: 500px;
      }
      &.contact-info {
        margin-top: 1rem;
      }
    }
    @include small {
      &.options {
        max-width: 380px;
      }
    }
  }
}
.description.long {
  position: relative;
  min-height: 250px;
  &:before {
    content:"";
    display: none;
    @extend %white_fade;
    @include transition;
    z-index: 2;
  }
  @include media(0, $search-break) {
    max-height: 40vh;
    overflow: hidden;
    &.active {
      max-height: none;
      overflow: none;
      &:before {
        opacity: 0;
      }
    }
    &:before {
      display: block;
      height: 3.175rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
.description.long+p {
  margin-top: 0;
}
.read-more {
  display: none;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  @media print {
    display: none;
  }
  span.less {
    display: none;
  }
  &.active {
    span.more {
      display: none;
    }
    span.less {
      display: inline;
    }
  }
}
.description.long+p>.read-more {
  @include media(0, $search-break) {
    display: inline-block;
  }
}
.feedback-form {
  @media print {
    display: none;
  }
  h5 {
    margin-bottom: 1.15rem;
  }
  form {
    @extend %vam;
    // margin-right: 0.65rem;
  }
  > a, button.txt-button {
    font-size: $d-fs;
    @include small {
      font-style: $d-fs-s;
    }
    @extend %vam;
    margin-right: 0.65rem;
    position: relative;
    padding-left: 2.175rem !important;
    &:before {
      @extend %check-cross;
      position: absolute;
      left: 0;
      top: -0.225rem;
      @include transition;
    }
    &.yes {
      @include fas(check);
      &:before {
        background: $secondary;
      }
    }
    &.no {
      @include fas(times);
      &:before {
        background: $alert;
      }
    }
    &.active, &.yes.active, &.no.active {
      color: $medium-gray;
      &:before {
        background: $medium-gray;
      }
    }
    @include st {
      &:before {
        background: $medium-gray;
      }
      &.no, &.yes {
        &:before {
          background: $medium-gray;
        }
      }
    }
  }
}
.recommend-form, .email-listing-form {
  margin: 0.5rem 0 1rem 0;
  display: none;
  select, input {
    margin: 0;
  }
  &.active {
    display: block;
  }
}
.services-list {
  font-size: 1rem;
  .button {
    margin-top: 1.5rem;
    @include small {
      margin-top: 1rem;
    }
    @include media(0, 480) {
      display: block;
    }
  }
  @include media(0, $search-break) {
    margin-bottom: 2.5rem;
  }
}
.edit-options {
  @media print {
    display: none;
  }
  margin-top: 0.5rem;
  border: 6px solid $light-gray_fade;
  padding: 1.35rem 1.6rem 1.15rem 1.6rem;
  border-radius: $d-rad*2;
  >a {
    margin: 0.5rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include media(0, $search-break) {
    >a, >a:first-child, >a:last-child {
      display: inline-block;
      vertical-align: middle;
      margin: 0rem 0;
      margin-right: 0.5rem;
    }
  }
  @include small {
    padding: 1.2rem 1.4rem 1.15rem 1.4rem;
    >a {
      margin: 0.5rem 0;
      display: block;
      &:first-child {
        margin-top: 0;
        margin-bottom: 0.5rem;
        display: block;
      }
      &:last-child {
        margin-bottom: 0;
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
}

ul.search-results, ul.claim-requests, ul.problem-reports, .contact-info {
  p+.edit-options {
    margin-top: 0.75rem;
  }
  .edit-options {
    margin-top: 1.5rem;
    >a, >a:first-child, >a:last-child, >form {
      @extend %vam;
      margin: 0rem 0;
      margin-right: 0.5rem;
    }
    @include small {
      >a, >form {
        margin: 0.5rem 0;
        display: block;
        &:first-child {
          margin-top: 0;
          margin-bottom: 0.5rem;
          display: block;
        }
        &:last-child {
          margin-bottom: 0;
          display: block;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
.contact-info {
  .edit-options {
    margin-top: 1rem;
  }
  ul.service-areas { list-style: none; padding: 0px; }
  ul.service-areas li:before { content: none; }
}
ul.claim-requests+.paged, ul.problem-reports+.paged, .content-table+.paged {
  .holder {
    border-top: 0;
    padding-top: 0;
    margin-top: 1.75rem;
  }
}
%more-link {
  @include fas(plus);
  position: relative;
  padding-right: 1rem;
  color: $primary;
  &.active {
    @include fas(minus);
    color: $medium-gray;
  }
  &:before {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    top: -0.3rem;
  }
}
.location {
  @media print {
    a[href]:after {
        content: none !important;
    }
  }
}
.location.multiple {
  color: $medium-gray;
  @media print {
    > span {
      display: none;
    }
  }
  a.icon-link, span {
    @extend %vam;
  }
  div.more {
    margin-top: 0.25rem;
  }
  a.more-link {
    @extend %more-link;
    @media print {
      display: none;
    }
  }
  .locations-list {
    display: none;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    @media print {
      display: block !important;
    }
    &.active {
      display: block;
    }
    a.icon-link {
      margin-bottom: 0.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.search-results {
  div.detail-grid {
    margin-top:1.5rem;
    p { font-size:1rem; margin-bottom: 0; margin: 0px; }
    i { font-size: 0.9rem; margin-right:0.3rem; }
    ul.service-areas { color: $medium-gray; li { margin-right:0.1rem; } }
  }

  div.description { margin-top: 1.3rem; }
}