
// Results
// ---------------------------------------

.toggle-heading {
	@include fas(caret-right);
	margin-bottom: 0.5rem;
	&:before {
		width: 0.95em;
		position: relative;
		left: 0.175em;
		display: none;
	}
	&.active {
		@include fas(caret-down);
		color: $medium-gray;
		&:before {
			left: 0;
		}
	}
	@include media(0, $search-break) {
		cursor: pointer;
		color: $secondary;
		&:before {
			display: inline-block;
		}
		@include st {
			color: $medium-gray;
			text-decoration: underline;
		}
	}
}
#results {
	padding-bottom: 2rem;
	.search-results {
		margin-top: -0.35em;
	}
	@include media(0, $search-break) {
		padding-top: 1.5rem;
		.search-results {
			// border-top: 1px solid $light-gray;
			padding-top: 1.75em;
		}
	}
	@include small {
		padding-top: 0;
	}
	.results {
		@include clear;
	}
	.local-national {
		padding-top: 1.75em;
		padding-bottom: 2em;
		h4 {
			display: none;
		}
		@include media(0, $search-break) {
			padding-top: 0;
			padding-bottom: 0;
			h4 {
				display: block;
			}
			.cells {
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
	.filters {
		.keyword-search {
			max-width: 400px;
		}
		@include grid-column(4);
		.filter {
			margin: 1.75rem 0;
			>label {
				@extend p;
				margin-bottom: 0.35em;
			}
		}
		@include media(0, $search-break) {
			width: 100%;
			padding-right: rem-calc($gutter/2);
			padding-left: rem-calc($gutter/2);
			.filter-group {
				display: none;
				margin-top: 1rem;
				&.active {
					display: block;
				}
			}
			.filter {
				margin: 0;
				margin-bottom: 2rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		@include small {
			.filter-group {
				margin-top: 0.75rem;
			}
			.filter {
				margin-bottom: 1.5rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.listing {
		@include grid-column(8);
		.search-results, .paged {
			padding-left: rem-calc($gutter);
			@include media(0, $search-break) {
				padding-left: 0;
			}
		}
		@include media(0, $search-break) {
			width: 100%;
			margin-top: 1rem;
			padding-right: rem-calc($gutter/2);
			padding-left: rem-calc($gutter/2);
		}
	}
}
#content.results, #content.my-account {
	h1, h1+.buttons {
		@extend %vam;
	}
	h1+.buttons {
		// margin-top: -0.75em;
		margin-top: 0.35em;
		margin-left: 0.75em;
	}
	@include media(0, $large) {
		h1, h1+.buttons {
			display: block;
		}
		h1+.buttons {
			margin: 1em 0 0 0;
		}
	}
	@include small {
		padding-bottom: 1.25rem;
		.buttons, h1+.buttons {
			display: none;
		}
	}
}
span.cat {
	width: 2.25em;
	// padding-top: 0.2em;
	height: 2.25em;
	border: 1px solid $medium-gray;
	@extend %vam;
	text-align: center;
	color: $medium-gray;
	margin-right: 0.175em;
	border-radius: 100%;
	position: relative;
	i {
		font-size: 1.2em;
		position: absolute;
		top: 50%;
		left: 50%;
		// padding-bottom:0.05em;
		@extend %txy;
	}
}
.cells {
	font-size: $d-fs;
	background: $light-gray_fade;
	border: 3px solid $light-gray_fade;
	@include clear;
	border-radius: $d-rad*2;
	@include media(0, $search-break) {
		margin: 1em 0 1.25em 0;
	}
	@include small {
		margin: 0.75em 0 1em 0;
		font-size: $d-fs-s;
	}
	span.radio {
		@extend %radio;
	}
	span.checkbox {
		@extend %checkbox;
	}
	>a, >label {
		border: 3px solid $light-gray_fade;
		padding: 1.2em 1.4em 1em 1.4em;
		line-height: 1.4;
		float: left;
		display: block;
		position: relative;
		background: $w;
		.holder {
			padding-left: 2em;
			position: relative;
			max-width: 350px;
		}
		// &:after {
		// 	content:"";
		// 	width: 5px;
		// 	height: 100%;
		// 	top: -5px;
		// 	padding-top: 5px;
		// 	@include transition;
		// 	padding-bottom: 5px;
		// 	box-sizing: content-box;
		// 	position: absolute;
		// 	background: $light-gray_fade;
		// 	display: none;
		// }
		span.radio, span.checkbox {
			position: absolute;
			left: 0;
			top: 0.65em;
		}
		// @include st {
		// 	z-index: 3;
		// 	border-color: $light-gray;
		// 	&:after {
		// 		background: $light-gray;
		// 	}
		// }
		@include st {
			span.radio, span.checkbox {
				border-color: $brand;
			}
		}
		&.active {
			color: $medium-gray;
			span.radio, span.checkbox {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	&.two, &.three, &.four {
		>a, >label {
			&:first-child {
				border-top-left-radius: $d-rad*2;
				border-bottom-left-radius: $d-rad*2;
				// &:after {
				// 	display: block;
				// 	left: 100%;
				// 	margin-right: -5px;
				// }
			}
			&:last-child {
				border-top-right-radius: $d-rad*2;
				border-bottom-right-radius: $d-rad*2;
				// &:after {
				// 	display: block;
				// 	right: 100%;
				// 	margin-left: -5px;
				// }
			}
		}
	}
	&.two {
		>a, >label {
			width: 50%;
			@include small {
				width: 100%;
				&:first-child, &:last-child {
					border-radius: 0;
				}
				&:first-child {
					border-top-left-radius: $d-rad*2;
					border-top-right-radius: $d-rad*2;
				}
				&:last-child {
					border-bottom-left-radius: $d-rad*2;
					border-bottom-right-radius: $d-rad*2;
				}
			}
		}
	}
	&.three {
		>a, >label {
			width: 33.333%;
			@include media(0, $search-break) {
				width: 50%;
				border-radius: 0;
				&:first-child, &:last-child {
					border-radius: 0;
					border: 3px solid $light-gray_fade;
				}
				&:first-child {
					border-top-left-radius: $d-rad*2;
				}
				&:nth-child(2) {
					border-top-right-radius: $d-rad*2;
				}
				&:last-child {
					border-bottom-left-radius: $d-rad*2;
				}
			}
			@include small {
				width: 100%;
				&:first-child, &:last-child, &:nth-child(2) {
					border-radius: 0;
				}
				&:first-child {
					border-top-left-radius: $d-rad*2;
					border-top-right-radius: $d-rad*2;
				}
				&:last-child {
					border-bottom-left-radius: $d-rad*2;
					border-bottom-right-radius: $d-rad*2;
				}
			}
		}
	}
	&.four {
		>a, >label {
			width: 25%;
			@include media(0, $search-break) {
				width: 50%;
				border-radius: 0;
				&:first-child, &:last-child {
					border-radius: 0;
				}
				&:first-child {
					border-top-left-radius: $d-rad*2;
				}
				&:nth-child(2) {
					border-top-right-radius: $d-rad*2;
				}
				&:nth-last-child(2) {
					border-bottom-left-radius: $d-rad*2;
				}
				&:last-child {
					border-bottom-right-radius: $d-rad*2;
				}
			}
			@include small {
				width: 100%;
				&:first-child, &:last-child, &:nth-child(2), &:nth-last-child(2) {
					border-radius: 0;
				}
				&:first-child {
					border-top-left-radius: $d-rad*2;
					border-top-right-radius: $d-rad*2;
				}
				&:last-child {
					border-bottom-left-radius: $d-rad*2;
					border-bottom-right-radius: $d-rad*2;
				}
			}
		}
	}
}
.checkbox-agree {
	font-size: 1em;
	position: relative;
	margin: 0.5em 0;
	max-width: 710px;
	label {
		padding-left: 2.05rem;
		margin-bottom: 0;
		display: block;
		padding-top: .35em;
		input[type=checkbox] {
			position: absolute;
			left: 0;
			top: 0.25em;
		}
	}
}
.radio-list, .radio-list-links, .checkbox-list, .checkbox-list-links {
	font-size: 1em;
	@extend %no-list;
	a {
		font-size: $d-fs;
		@include small {
			font-size: $d-fs-s;
		}
	}
	label {
		margin: 0;
	}
	&.truncate {
		span.name {
			@include truncate(80%);
			@include media(0, 480) {
				@include truncate(75%);
			}
		}
	}
	>div, >li {
		margin: 0.4em 0;
		position: relative;
		span.radio {
			@extend %radio;
		}
		span.checkbox {
			@extend %checkbox;
		}
		input[type=checkbox], input[type=radio], span.radio, span.checkbox {
			@extend %vam;
			margin-right: 0.2em;
		}

		// Disabled
		input[type=checkbox], input[type=radio], span.radio, span.checkbox {
			&[disabled], &.disabled {
				background: $light-gray;
				border-color: $light-gray;
				+span.name {
					color: $light-gray;
					cursor: default;
					text-decoration: none;
				}
			}
		}
		a, label {
			color: $light-gray;
			@include st {
				input[type=checkbox], input[type=radio], span.radio, span.checkbox {
					&[disabled], &.disabled {
						background: $light-gray;
						border-color: $light-gray;
						+span.name {
							color: $light-gray;
							cursor: default;
							text-decoration: none;
						}
					}
				}
			}
		}
	
		// Absolute
		padding-left: 2.05rem;
		input[type=checkbox], input[type=radio], span.radio, span.checkbox {
			position: absolute;
			left: 0;
			top: 0.25em;
		}
		
		a, label {
			font-weight: bold;
			line-height: 1.4;
			span.text, span.name {
				color: $secondary;
				@extend %vam;
				padding-top: 0.35em;
			}
			@include st {
				text-decoration: none;
				span.text, span.name {
					color: $medium-gray;
					text-decoration: underline;
				}
				span.radio, span.checkbox {
					border-color: $brand;
				}
			}
		}
		&.active {
			span.radio, span.checkbox {
				&:before {
					opacity: 1;
				}
			}
			span.name {
				color: $medium-gray;
			}
		}
		input[type=radio]:checked+span.cat+span.name, input[type=checkbox]:checked+span.cat+span.name, input[type=radio]:checked+span.name, input[type=checkbox]:checked+span.name {
			color: $medium-gray;
		} 
	}
	&.cat {
		input[type=checkbox], input[type=radio], span.radio, span.checkbox {
			top: 0.55em;
		}
	}
}
.paged {
	font-weight: bold;
	@include clear;
	.holder {
		margin-top: 2.25em;
		border-top: 1px solid $light-gray;
		padding-top: 1.5em;
	}
	p.total {
		float: left;
		margin: 0.4em 0;
	}
	.pages {
		font-size: $d-fs;
		float: right;
		span {
			color: $light-gray;
		}
		span, a {
			&.prev {
				margin-right: 0.35em;
				text-align: right;
			}
			&.next {
				margin-left: 0.35em;
				text-align: left;
			}
			&.number {
				margin: 0 0.1em;
				width: 1.95em;
				font-size: 1.2em;
				text-align: center;
				line-height: 100%;
				line-height: 1.85em;
				padding-bottom: 0.1em;
				border-radius: $d-rad;
				display: inline-block;
				vertical-align: middle;
				font-weight: normal;
				font-family: $heading-font;
				color: $w;
			}
		}
		a.number {
			background: $secondary;
			@include st {
				background: $medium-gray;
			}
		}
		span.number {
			background: $light-gray;
			@include st {
				background: $light-gray;
				text-decoration: none;
			}
		}
		@include small {
			font-size: $d-fs-s;
		}
	}
	@include small {
		p.total, .pages {
			display: block;
			float: none;
			text-align: center;
		}
		p.total {
			margin-top: 0;
		}
		.pages {
			margin-top: 1.5rem;
			span, a {
				&.prev, &.next {
					width: 45px;
					display: inline-block;
				}
			}
		}
	}
}
p.org {
	margin-top: 0.35em;
}
.search-results, .content .search-results, .recommendations-lists, .rep-organisations {
	@extend %no-list;
	padding-left: 0;
	margin-left: 0;
	&.edit {
		// border: 10px solid red;
		>div, >li {
			padding-bottom: 0;
			border-bottom: 0;
			&:first-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	>div, >li {
		font-size: 1em;
		ol li, ul li {
			font-size: 1em;
		}
		&:before {
			display: none;
		}
		padding: 1.75em 0 2.25em 0;
		border-bottom: 1px solid $light-gray;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
		.heading {
			@include clear;
		}
		.heading+p {
			margin-top: 0.35em;
		}
		h3 {
			margin-bottom: 0;
			float: left;
			margin-top: 0.35rem;
		}
		.heading .alert {
			float: right;
			margin-left: 1em;
			margin-bottom: 0.35em;
		}
		.location {
			margin: 1em 0;
			font-size: $d-fs;
			@include small {
				font-size: $d-fs-s;
			}
			.icon-link {
				font-size: 1em;
			}
		}
		.service-areas {
			a {
				@include fas(plus);
				position: relative;
				padding-right: 1em;
				&.active {
					@include fas(minus);
					color: $medium-gray;
				}
				&:before {
					font-size: 0.75em;
					position: absolute;
					right: 0;
					top: -0.1em;
				}
			}
		}
		.service-areas-list {
			margin-top: 1em;
			display: none;
			&.active {
				display: block;
			}
			p {
				font-size: $d-fs-s;
				margin: 0;
			}
		}
		ul.contact-info {
			margin-top: 1em;
			margin-bottom: -0.75em;
			@extend p;
			@extend %no-list;
			font-weight: bold;
			line-height: 100%;
			li {
				border-right: 1px solid $light-gray;
				@extend %vam;
				margin-right: 0.5em;
				padding-right: 0.75em;
				margin-bottom: 0.75em;
				&:last-child {
					border-right: 0;
					padding-right: 0;
				}
			}
			@include small {
				margin-bottom: 0;
				li {
					display: block;
					margin: 0.5em 0;
					border: 0;
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
$icon-w: 1.5em;
.icon-link, .back-link {
	font-size: $d-fs-s;
	position: relative;
	display: block;
	padding-left: $icon-w + 0.2em;
	line-height: 1.4;
	color: $medium-gray;
	font-weight: bold;
	.icon {
		position: absolute;
		top: 0.05em;
		line-height: 100%;
		left: 0;
		width: $icon-w;
		text-align: center;
	}
	&.disabled {
		color: $light-gray;
		@include st {
			color: $light-gray;
			cursor: default;
			text-decoration: none;
		}
	}
}
a.icon-link, a.back-link {
	color: $secondary;
	@include st {
		color: $medium-gray;
	}
	&.active {
		color: $medium-gray;
		@include st {
			color: $medium-gray;
		}
	}
}
.back-link  {
	padding-left: 1.1em;
	.icon {
		width: 0.8em;
	}
}
.icon-link.close {
	padding-left: 1.2em;
	.icon {
		width: 0.9em;
	}
}
.location > .icon-link {
	padding-left: 1.4em;
	.icon {
		width: 1.1em;
	}
}
a.alert, a.delete {
	color: $alert;
	@include st {
		color: $medium-gray;
	}
}
a.primary, a.primary {
	color: $primary;
	@include st {
		color: $medium-gray;
	}
}
a.fb, a.tw {
	&:before {
		display: inline-block;
		font-size: 0.9em;
		min-width: 0.5em;
		margin-right: 0.45em;
	}
}
a.fb {
	@include fab(facebook-f);
}
a.tw {
	@include fab(twitter);
}
.claimed {
	@include fas(check);
	margin-left: 0.25em;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	background: $brand;
	line-height: 100%;
	display: inline-block;
	padding: 0.4em 0.5em 0.25em 0.5em;
	color: $w;
	&:before {
		margin-right: 0.3em;
	}
	@include small {
		font-size: 0.8em;
	}
}
.assigned-category {
	font-size: $d-fs;
	font-weight: bold;
	color: $medium-gray;
	position: relative;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 2.25em + 0.45em;
	span.cat {
		position: absolute;
		left: 0;
		top: 0;
	}
	@include small {
		font-size: $d-fs-s;
	}
}
.updated {
	font-weight: bold;
	&.alert {
		color: $alert;
	}
}
.actions {
	> a {
		display: block;
		margin: 0.5em 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
#content.service, #content.organisation {
	@include clear;
	.all-locations {
		margin-bottom: 2rem;
		.button {
			margin-top: 0.5rem;
			@include small {
				margin-top: 0;
			}
			@include media(0, 480) {
				display: block;
			}
		}
		.location {
			margin: 1em 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			// font-size: 1em;
			p {
				margin-bottom: 0.25em;
			}
			@include small {
				margin-bottom: 1.5rem;
			}
			> a {
				margin: 0.35em 0;
			}
		}
	}
	.services-list {
		margin-top: 3rem;
		@include small {
			margin-top: 2rem;
		}
	}
	.columns {
		&.content {
			@include grid-column(8);
			.copy-container, .services-list {
				padding-right: rem-calc($gutter);
			}
		}
		&.options, &.contact-info {
			@include grid-column(4);
			float: right;
		}
		&.options {
			margin-bottom: 2rem;
		}
		&.feedback-form {
			@include grid-column(12);
			margin-top: 2.5rem;
		}
		@include media(0, $search-break) {
			&.content, &.options, &.contact-info {
				@include grid-column(12);
				.copy-container, .services-list {
					padding-right: 0;
				}
			}
			&.options {
				margin-bottom: 1rem;
				max-width: 500px;
			}
			&.contact-info {
				margin-top: 1rem;
			}
		}
		@include small {
			&.options {
				max-width: 380px;
			}
		}
	}
}
.desc.long {
	position: relative;
	min-height: 250px;
	&:before {
		content:"";
		display: none;
		@extend %white_fade;
		@include transition;
		z-index: 2;
	}
	@include media(0, $search-break) {
		max-height: 40vh;
		overflow: hidden;
		&.active {
			max-height: none;
			overflow: none;
			&:before {
				opacity: 0;
			}
		}
		&:before {
			display: block;
			height: 3.175em;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}
.desc.long+p {
	margin-top: 0;
}
.read-more {
	display: none;
	margin-top: 1em;
	margin-bottom: 0.5em;
	span.less {
		display: none;
	}
	&.active {
		span.more {
			display: none;
		}
		span.less {
			display: inline;
		}
	}
}
.desc.long+p>.read-more {
	@include media(0, $search-break) {
		display: inline-block;
	}
}
.feedback-form {
	a {
		font-size: $d-fs;
		@include small {
			font-style: $d-fs-s;
		}
		@extend %vam;
		margin-right: 0.65em;
		position: relative;
		padding-left: 2.175em;
		&:before {
			@extend %check-cross;
			position: absolute;
			left: 0;
			top: -0.225em;
			@include transition;
		}
		&.yes {
			@include fas(check);
			&:before {
				background: $secondary;
			}
		}
		&.no {
			@include fas(times);
			&:before {
				background: $alert;
			}
		}
		&.active, &.yes.active, &.no.active {
			color: $medium-gray;
			&:before {
				background: $medium-gray;
			}
		}
		@include st {
			&:before {
				background: $medium-gray;
			}
			&.no, &.yes {
				&:before {
					background: $medium-gray;
				}
			}
		}
	}
}
.recommend-form {
	margin: 0.5em 0 1em 0;
	display: none;
	select, input {
		margin: 0;
	}
	&.active {
		display: block;
	}
}
.services-list {
	font-size: 1em;
	.button {
		margin-top: 1.5em;
		@include small {
			margin-top: 1em;
		}
		@include media(0, 480) {
			display: block;
		}
	}
	@include media(0, $search-break) {
		margin-bottom: 2.5rem;
	}
}
.edit-options {
	margin-top: 0.5rem;
	border: 6px solid $light-gray_fade;
	padding: 1.2em 1.6em 1.15em 1.6em;
	border-radius: $d-rad*2;
	>a {
		margin: 0.5em 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include media(0, $search-break) {
		>a, >a:first-child, >a:last-child {
			display: inline-block;
			vertical-align: middle;
			margin: 0em 0;
			margin-right: 0.5em;
		}
	}
	@include small {
		padding: 1.2em 1.4em 1.15em 1.4em;
		>a {
			margin: 0.5em 0;
			display: block;
			&:first-child {
				margin-top: 0;
				margin-bottom: 0.5em;
				display: block;
			}
			&:last-child {
				margin-bottom: 0;
				display: block;
				margin-top: 0.5em;
			}
		}
	}
}
ul.search-results {
	.edit-options {
		margin-top: 1.5rem;
		>a, >a:first-child, >a:last-child {
			@extend %vam;
			margin: 0em 0;
			margin-right: 0.5em;
		}
		@include small {
			>a {
				margin: 0.5em 0;
				display: block;
				&:first-child {
					margin-top: 0;
					margin-bottom: 0.5em;
					display: block;
				}
				&:last-child {
					margin-bottom: 0;
					display: block;
					margin-top: 0.5em;
				}
			}
		}
	}
}





