{% load aliss %}
{% load cloudinary %}

<div class="grid-x">
  <div class="cell">
    <div class="grid-x">
      <div class="cell small-7 medium-8 large-8">
        <h1>Confirm: {{ object.name }}</h1>
        <div class="desc">
          <p>{{ object.description|linebreaks }}</p>
          <p>
            Last updated <span class="updated alert">{{ object.last_edited }}</span>
          </p>
        </div>
      </div>
      {% if object.logo %}
        <div class="cell small-5 medium-4 large-4">
          {% cloudinary object.logo width=230 height=230 crop="fit" class="org-logo" %}
          <br/>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="cell">
    {% if object.phone or object.email or object.website or object.facebook or object.twitter %}
      <h4>Contact Information</h4>
      <p>
        {% if object.phone %}<strong>{{ object.phone }}</strong><br />{% endif %}
        {% if object.email %}<a title="Click here to email this contact. (This page will open your email client)" href="mailto:{{ object.email }}">{{ object.email }}</a><br />{% endif %}
        {% if object.url %}<a title="Click here to view this contacts website. (This page will open in a new window)" href="{{ object.url }}" target="_blank">Website</a><br />{% endif %}
        {% if object.facebook %}<a title="Click here to view this contacts Facebook profile. (This page will open in a new window)" href="{{ object.facebook }}" class="fb" target="_blank">Facebook</a><br />{% endif %}
        {% if object.twitter %}<a title="Click here to view this contacts Twitter profile. (This page will open in a new window)" href="{{ object.twitter }}" class="tw" target="_blank">Twitter</a>{% endif %}
      </p>
    {% endif %}
  </div>
</div>
<br/><br/>
