<tr>
  <td>
    <a title="{{ organisation.name }}" href="{% url 'organisation_detail' pk=organisation.pk %}">
    {{ organisation.name }}</a>
  </td>
  <td>
    {% if organisation.services.count > 0 %}
      {{ organisation.services.count }}
    {% else %}
      <span class="alert">{{ organisation.services.count }}
        <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="2" title="Until you add services that belong to the organisation it won't be published on ALISS.">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span></span>
    {% endif %}
  </td>
  <td>{{ organisation.last_edited }}</td>
  <td>
    <a title="Click here to edit this organisation." href="{% url 'organisation_edit' pk=organisation.pk %}">
      <i class="fa fa-edit" aria-hidden="true"></i> Edit
    </a>&nbsp;
    <a title="Click here to add a service to this organisation." href="{% url 'service_create' pk=organisation.pk %}">
      <i class="fa fa-plus" aria-hidden="true"></i> Add service
    </a>
  </td>
</tr>