{% extends "base.html" %}
{% load aliss %}
{% load analytics %}
{% load humanize %}

{% block container %}
<main class="main" role="main">
  <section id="content" class="results">
    <div class="row title">
      <div class="columns">
        {% content_render request.path as content_result%}
        {% if content_result%}
          {{ content_result.body|safe }}
        {% endif %}
        <div class="buttons">
          <a href="{% url 'homepage' %}" class="button primary">New search</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
