{% extends "base.html" %}
{% load static %}

{% block container %}
<main class="main" role="main">
  <section class="grid-container" id="content">
    <div class="grid-x">
      <div class="cell small-12 medium-12">
        <h1>{{ organisation.name }}</h1>
        <div class="breadcrumbs">
          <a href="{% url 'organisation_detail' pk=organisation.pk %}">{{ organisation.name }}</a>
          <span class="sep"></span>
          <span>Add service</span>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell small-12 medium-8">
        <form method="post" class="">
          {% csrf_token %}
          {% include 'service/forms/service_form.html' with organisation=organisation %}
          <div class="submit">
            <input type="submit" value="Add Service">
          </div>
          <br/>
        </form>
      </div>
      <div class="cell small-12 medium-4">
        {% if not organisation.published %}
          <div class="pad">
            <br/>
            <h4>Publish progress</h4>
            {% include 'partials/breadcrumb.html' with progress=2 %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block before_body_close%}

<script type="text/javascript">
  $(document).ready(function(){
    
    var setupShortTermServicePickadate = function(){
      $('#id_start_date').pickadate({ formatSubmit: 'dd/mm/yyyy', hiddenName: true })
          .pickadate('picker')
          .set('select', new Date('{{ service.start_date|date:"Y/m/d" }}'))

      $('#id_end_date').pickadate({ formatSubmit: 'dd/mm/yyyy', hiddenName: true })
          .pickadate('picker')
          .set('select', new Date('{{ service.end_date|date:"Y/m/d" }}'))

      $('.picker__input').css({"width":"9rem", "background-color":"#C5C3C6"})
    }

    var short_term_checkbox = $('#short_term_service')

    if (short_term_checkbox.is(':checked')){
      $('#short_term_form').show()
      setupShortTermServicePickadate()
    }
    else {
      $('#short_term_form').hide()
    }

    short_term_checkbox.click(function(box){
      if ($(this).is(':checked')){
        $('#short_term_form').show()
        setupShortTermServicePickadate()
      }
      else {
          $('#id_start_date').pickadate('picker').set('clear')
          $('#id_end_date').pickadate('picker').set('clear')
          $('#short_term_form').hide()
      }
    })

  });
</script>

{% endblock %}
