{% extends "base.html" %}
{% load static %}

{% block container %}
<main class="main" role="main">
  <section class="grid-container" id="content">
    <div class="grid-x">
      <div class="cell small-12 medium-12">
        <h1>{{ organisation.name }}</h1>
        <div class="breadcrumbs">
          <a title="Further information on {{ organisation.name }}." href="{% url 'organisation_detail' pk=organisation.pk %}">{{ organisation.name }}</a>
          <span class="sep"></span>
          <span>Add service</span>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell small-12 medium-8">
        <form method="post" class="">
          {% csrf_token %}
          {% include 'service/forms/service_form.html' with organisation=organisation %}
          <br>
          <i class="fa fa-info-circle" aria-hidden="true" style="font-family: Sofia Pro;"> Please do not include any sensitive personal information (including information about your physical and/or mental health).  If you do include such personal information then it will be publicly accessible via ALISS.  Please note that entries on ALISS are not reviewed and any such personal information will remain on the entry, unless and until you remove it.
          </i>
          <div class="submit">

            <input type="submit" value="Add Service">
          </div>
          <br/>
        </form>
      </div>
      <div class="cell small-12 medium-4">
        {% if not organisation.published %}
          <div class="pad">
            <br/>
            <h4>Publish progress</h4>
            {% include 'partials/breadcrumb.html' with progress=2 %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}