{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h1>Delete service</h1>
                    <p>Are you sure you want to delete <a title="Click here to delete this service." href="{% url 'service_detail' pk=object.pk %}">{{ object.name }}</a>?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="large-form">
        <div class="row">
            <div class="columns">
                <form method="post">
                    {% csrf_token %}
                    <div class="submit">
                        <input type="submit" class="alert" value="Delete Service">
                        <a title="Click here to cancel the deletion of this service." href="{% url 'organisation_detail' pk=object.organisation.pk %}" class="button secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
