{% load aliss %}
{% load static %}
<body style="margin: 0;">
  <main class="main" role="main">
    <article id="content" class="service">
      <div id="mapid" style="height: 500px; width: 500px; z-index: 1;"></div>
    </article>
  </main>
</body>

{% block before_body_close %}
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin="">
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      var targetId = 'mapid'
      var mymap = renderMap(targetId);
      var no_geo_features = true;

      var serviceId =  "{{service.id}}";
      if ("{{service.service_areas.all.0|safe}}" != ""){
        renderFeatures(mymap, serviceId);
        no_geo_features = false;
      }

      var locations = {{location_lat_longs|safe}};
      if (!$.isEmptyObject(locations)){
        addLocations(mymap, locations, no_geo_features);
      }
    });
  </script>
{% endblock %}
