{% extends "account/admin_base.html" %}

{% block content %}
<div class="row">
    <div class="columns">
        <div class="copy-container">
            <h3>Suggested improvements</h3>
            <p>Show: <a href="?f=all">all</a> | <a href="?f=resolved">resolved</a> |  <a href="?f=unresolved">unresolved</a></p>

            <ul class="problem-reports edit">
                {% for report in object_list %}
                    <li>
                        <div class="heading">
                            <h4>Improvements suggested for <a href="{% url 'service_detail' pk=report.service.pk %}">{{ report.service }}</a></h4>
                        </div>
                        <p>Reason: {{ report.get_type_display }}</p>
                        <p>{{ report.message }}</p>
                        <p>Reported by <a href="{% url 'account_detail' pk=report.user.pk %}">{{ report.user.get_full_name }}</a> on {{ report.created_on }}</p>
                        {% if report.status == report.UNRESOLVED %}
                            <div class="edit-options">
                                <a href="{% url 'service_edit' pk=report.service.pk %}" class="icon-link">
                                    <span class="icon">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                    Edit Service
                                </a>
                                <form method="post" action="{% url 'service_problem_update' pk=report.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="status" value="{{ report.RESOLVED }}" />
                                    <button type="submit" class="txt-button secondary icon-link">
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        Mark as Resolved
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% include 'partials/pagination.html' with page=page_obj paginator=paginator %}
        </div>
    </div>
</div>
{% endblock %}
