{% extends "base.html" %}
{% load static %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h1>Suggest an improvement for {{ service.name }}</h1>
                    <div class="breadcrumbs">
                        <a title="Click here to suggest an improvement for {{ service.name }}" href="{% url 'service_detail' pk=service.pk %}">{{ service.name }}</a>
                        <span class="sep"></span>
                        <span>Improve this service</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="large-form">
        <div class="row">
            <div class="columns form">
                {% include 'service/forms/feedback.html' %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
