{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Thank you for your help</h1>

                    <p>Thank you for helping us with our listings, we will get back to you once we've reviewed your suggestions.</p>

                    <p><a id="backbtn" href="#">Back</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block before_body_close %}
<script type="text/javascript">
$(document).ready(function(){
    $('#backbtn').attr('href', $.urlParam('back'));
});
</script>

{% endblock %}