{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section class="grid-container" id="content">
        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <h1>{{ organisation.name }}</h1>
                <div class="breadcrumbs">
                    <a href="{% url 'organisation_detail' pk=service.organisation.pk %}">{{ service.organisation.name }}</a>
                    <span class="sep"></span>
                    <span>Update Service</span>
                </div>
            </div>
        </div>

        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <form method="post">
                    {% csrf_token %}
                    {% include 'service/forms/service_form.html' with organisation=organisation %}
                    <div class="submit">
                        <input type="submit" value="Update Service">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block before_body_close%}

<script type="text/javascript">
  $(document).ready(function(){

    console.log('Test')
    var nationalOptions = []
    var regionalOptions = []
    var optionGroups = $('#id_service_areas').children().each(function(index, group){
      if (group.label == "Country"){
        console.log('Group: ', group)
        var groupArray = Array.from(group.children)
        $.merge(nationalOptions, groupArray)
      }
      else {
        console.log('Group: ', group)
        var groupArray = Array.from(group.children)
        $.merge(regionalOptions, groupArray)
      }

    });
    console.log("National Options: ", nationalOptions)
    console.log("Regional Options: ", regionalOptions)


    function checkSelected(option){
      if (option.selected){
        return option
      }
    }

    var nationalSelectedCount = nationalOptions.filter(checkSelected).length
    var regionalSelectedCount = regionalOptions.filter(checkSelected).length

    console.log(regionalSelectedCount)
    console.log(nationalSelectedCount)

    var regionalWarning = "<h4 id=regional_warning>To add national service area remove all regional</h4>"

    var nationWarning = "<h4 id=national_warning>To add regional service areas remove all national.</h4>"

    var serviceArealabel = $('label[for="id_service_areas"]')
    serviceArealabel.append()


  });
</script>

{% endblock %}
