@inherits UmbracoViewPage

<div id="banner_beta" class="govuk-phase-banner js-banner hide-print" style="display: none;">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tagBlue govuk-phase-banner__content__tagBlue">
            BETA
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new version of our website - please click here for an <a href="/aliss-beta-updates">overview</a> of what's included in this version (September 2020).
        </span>
        <span id="banner_beta_close" class="govuk-phase-banner__close">
            <i class="fas fa-times"></i>
        </span>
    </p>
</div>
