@inherits UmbracoViewPage

<div id="cookies-eu-edit" class="aliss-cookie--edit">
	<button id="cookie-eu-show-edit" class="aliss-cookie__settings">
		<span class="sr-only">Cookie Settings</span>
		<svg class="aliss-cookie__cog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.03 23.02"><path d="M10.31.08a5.25,5.25,0,0,0-.25,1.11c-.1.57-.2,1.08-.22,1.14s-.1.11-.27.14a5.2,5.2,0,0,0-.68.17l-.46.14-.2-.22c-.1-.13-.44-.52-.74-.88A2.83,2.83,0,0,0,6.83,1a4.14,4.14,0,0,0-1,.5c-1,.58-1.06.62-1.06.76A10.66,10.66,0,0,0,5.13,3.4l.38,1L5,5l-.53.54-.17-.07c-.69-.27-1.92-.7-2-.7s-.19,0-.76,1.06a4.52,4.52,0,0,0-.5,1c0,.08.24.3.67.66l.87.75.22.19-.13.46a6,6,0,0,0-.18.69c0,.16-.06.24-.14.26s-.55.12-1.11.22a8.44,8.44,0,0,0-1.11.24C0,10.35,0,10.36,0,11.5s0,1.14.09,1.21A5.07,5.07,0,0,0,1.18,13l1.11.2c.08,0,.12.08.16.23s.1.42.18.68a4.33,4.33,0,0,1,.13.52,9.1,9.1,0,0,1-.87.76,4.94,4.94,0,0,0-.87.84,4.14,4.14,0,0,0,.5,1c.58,1,.61,1.06.76,1.06a11.47,11.47,0,0,0,1.13-.37l1-.38L5,18l.53.53-.06.17c-.27.69-.7,1.91-.7,2s0,.19,1.06.77a4.53,4.53,0,0,0,1,.5,3.75,3.75,0,0,0,.8-.84l.75-.88s.21,0,.51.1l.68.17c.17,0,.24.06.27.13s.13.57.22,1.14a6,6,0,0,0,.25,1.11c.07.08.19.09,1.21.09s1.15,0,1.22-.11A7.21,7.21,0,0,0,13,21.79c.1-.55.2-1.05.22-1.11s.1-.11.27-.13.46-.11.68-.18l.46-.13.2.22.74.87a2.83,2.83,0,0,0,.66.67,4.14,4.14,0,0,0,1-.5c1-.58,1.06-.62,1.06-.76s-.17-.57-.37-1.13l-.38-1,.53-.54.53-.54.17.07c.69.27,1.92.7,2,.7s.18-.05.76-1.06a4.14,4.14,0,0,0,.5-1,4.67,4.67,0,0,0-.88-.84,6.37,6.37,0,0,1-.85-.79s.08-.35.17-.71.19-.65.26-.68.54-.11,1.09-.21a7.21,7.21,0,0,0,1.12-.24c.11-.07.11-.08.11-1.22s0-1.15-.11-1.22a8.59,8.59,0,0,0-1.12-.24c-.55-.1-1-.19-1.09-.21s-.14-.2-.26-.68-.17-.67-.17-.71a8,8,0,0,1,.85-.79A1,1,0,0,0,22,6.58a1,1,0,0,0-.5-.76c-.58-1-.62-1.07-.76-1.07s-1.31.43-2,.7l-.17.07L18.05,5l-.53-.54.38-1c.14-.37.27-.75.38-1.13,0-.14-.06-.18-1.07-.76a4.14,4.14,0,0,0-1-.5,2.83,2.83,0,0,0-.66.67c-.3.36-.64.75-.74.88l-.2.22-.46-.14c-.25-.08-.56-.15-.68-.18s-.24-.06-.27-.13-.12-.56-.21-1.11A8.27,8.27,0,0,0,12.73.11C12.67,0,12.65,0,11.52,0S10.38,0,10.31.08Zm2,6.08a5.24,5.24,0,0,1,3,1.53,5.28,5.28,0,0,1,1.59,4.07,5.35,5.35,0,0,1-.39,1.76A5.41,5.41,0,0,1,6.34,9.93,5.64,5.64,0,0,1,7,8.48,7.41,7.41,0,0,1,8.5,7,5.44,5.44,0,0,1,12.36,6.16Z"></path></svg>
	</button>
	<div class="aliss-cookie__editor" id="cookie-eu-settings">
		<div class="aliss-grid">
			<div class="aliss-container">
				<span class="aliss-cookie__heading">About cookies on this site</span>
				<p>Currently status: <span id="cookie-eu-status"></span></p>
				<p>You can read more about our cookies in <a href="/privacy-policy/">our privacy policy</a> section.</p>
				<p><strong>Do you wish to change your preference?</strong></p>
				<div>
					<button id="cookie-eu-custom-accept" class="btn btn--primary">Accept analytics cookies</button>
					<button id="cookie-eu-custom-reject" class="btn btn--primary">Reject analytics cookies</button>
				</div>
				<button id="cookie-eu-close-edit" class="aliss-cookie__close">
					<span class="sr-only">Close Editor</span>
					<i class="fas fa-times" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>
