@inherits UmbracoViewPage

<div id="cookies-eu-banner" class="aliss-cookie">
	<div class="aliss-grid">
		<div class="aliss-container ">
			<span class="aliss-cookie__heading">Cookies on ALISS website</span>
			<p>We've put some small files called cookies on your device to make our site work.</p>
			<p>These send information about how our site is used to an service called Google Analytics. We use this information to improve our site.</p>
			<p>Let us know if this is OK. We'll use a cookie to save your choice. You can read more <a href="/privacy-policy/">about our cookies</a> before you choose.</p>
			<p>
				<button id="cookies-eu-accept" class="btn btn--primary btn--accept">I'm  ok with analytics cookies</button>
				<button id="cookies-eu-reject" class="btn btn--primary">Do not use analytics cookies</button>
			</p>
		</div>
	</div>
</div>