<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=***DBNAME***; User ID=***USER***; Password=***PASSWORD***;" providerName="System.Data.SqlClient" />
</connectionStrings>
