django==1.11.20
dj-database-url==0.4.2
gunicorn==19.6.0
psycopg2==2.7.3.2
whitenoise==3.3.0
django-filter==1.0.4
elasticsearch==5.2.0
elasticsearch-dsl==6.1.0
geopy==1.11.0
djangorestframework>=3.9.1
certifi==2017.1.23
django-redis==4.8.0
django-braces==1.11.0
django-localflavor==1.5.2
django-cors-headers==2.3.0
cloudinary==1.14.0
requests==2.20.0
Shapely==1.6.4.post2
