// Organisation
// ---------------------------------------
p.message {
  border: 1px solid silver;
  padding: 2vh 2vw;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.content ul.progress-breadcrumb:last-child {
  margin-bottom: 2em;
}

ul.progress-breadcrumb {
  label {
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
  }
}

ul.progress-breadcrumb.step-none li {}

ul.progress-breadcrumb {
  li.half { display: inline-block; width:49.6%; text-align:center; }
}

ul.progress-breadcrumb.step-1 {
  li:nth-child(1) { text-decoration: line-through; } 
}

ul.progress-breadcrumb.step-2 {
  li:nth-child(1), li:nth-child(2) { text-decoration: line-through; }
}

ul.progress-breadcrumb.step-3 {
  li:nth-child(1), li:nth-child(2), 
  li:nth-child(3) { text-decoration: line-through; }
}

ul.progress-breadcrumb.step-4 {
  li:nth-child(1), li:nth-child(2), 
  li:nth-child(3), li:nth-child(4) { text-decoration: line-through; }
}

.glow {
    background-color: inherit;
    border: 1px solid transparent;
    -webkit-transition: border 0.8s linear;
       -moz-transition: border 0.8s linear;
            transition: border 0.8s linear;
}

.glow.start-glow {
    border-color: $brand;
    -webkit-box-shadow: 0 0 6px 2px $brand;
       -moz-box-shadow: 0 0 6px 2px $brand;
            box-shadow: 0 0 6px 2px $brand;
}

.new-service.large-form,
.new-location.large-form,
.new-org.large-form {
  width:62%;

  .annotation { right :-40%; width: 37%; }

  .f-row { 
    position: relative;
    margin-right: 5%;
    padding-right: 0;
  }

  .f-row:after { content: none; } 
}

.progress-container {
  float:right;
  width:36%;
}

@media (max-width: 830px) {
  .progress-container {
    float:none;
    width:100%;
  }
}

ul.progress-breadcrumb {

  margin-left:0;
  margin-bottom:2em;
  padding: 0px;
  list-style: none;

  $elements: 15;
  @for $i from 0 to $elements {
    li:nth-child(#{$i + 1}) {
      z-index: ($elements - $i);
    }
  }

  li {
    font-size: 1.1em;
    color: #4c5c68;
    width: 100%;
    text-align:left;
    padding: 0.5em;
    position: relative;
    background: #ebebeb;
    border: 3px solid #ffffff;
    margin-top: 0.01em;
    margin-bottom: 0em;

    i.fa {  
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }

  li:after, li:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    background: none;
  }

  li:after {
    border-color: rgba(235, 235, 235, 0);
    border-top-color: #ebebeb;
    border-width: 18px;
    margin-left: -18px;
  }

  li:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 20px;
    margin-left: -20px;
  }

  li:last-child:after,
  li:last-child:before { 
    border:none;
  }
}

.search-orgs {
  padding-top: 2rem;
  h4 {
    margin-bottom: 0.5rem;
  }
  .org-search {
    max-width: 450px;
  }
  .org-results {
    margin-top: 2rem;
    max-width: 900px;
  }
  .add-org {
    margin-top: 2.5rem;
    p {
      margin-bottom: 0.5em;
    }
    @include media(0, 480) {
      .button {
        display: block;
      }
    }
  }
}

ul.orgs {
  @extend %no-list;
  >li {
    @include clear;
    @extend p;
    @extend %no-list;
    padding: 0.95em 0.75em 0.55em 0.75em;
    @include media(0, 480) {
      padding: 0.95em 0.75em 0.95em 0.75em;
    }
    &:nth-child(2n) {
      background: $light-gray_fade;
    }
    span.name {
      float: left;
      margin-right: 2%;
      margin-bottom: 0.25em;
      @include media(0, $search-break) {
        float: none;
        display: block;
      }
    }
    >ul {
      float: right;
      @extend %no-list;
      @include media(0, $search-break) {
        float: none;
        display: block;
      }
      >li {
        @extend %vam;
        border-right: 1px solid $light-gray;
        line-height: 100%;
        padding-right: 0.5em;
        margin-right: 0.35em;
        &:last-child {
          margin: 0;
          padding: 0;
          border-right: 0;
        }
        @include media(0, 480) {
          border-right: 0;
          padding-right: 0;
          margin-right: 0;
          display: block;
          margin: 0.5em 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

ul.orgs+.paged {
  .holder {
    border-top: 0;
    margin-top: 0;
  }
}

.org-results {
  .has-tip { 
    border:none;
    .fa { opacity: 0.3; }
  }

  .has-tip:hover {
    .fa { opacity: 1.0; }
  }
}

/* Unpublished Orgs */

table td.options { 
  input[type="submit"] { font-size:100%; }
}