// Services

// Form

.all-categories {
  border: 1px solid $light-gray;
  border-radius: $d-rad;
  margin-bottom: 1.35rem;
  padding: 0.35em 1em 0.35em 1rem;
  overflow: auto;

  #category-filter {
    margin-top: 1rem;
  }
}

.selected-categories {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1.25rem;;
  p {
    margin-bottom: 0;
  }
  .cats {
    @include clear;
    display: block;
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    overflow: scroll;
  }
  .selected-cat {
    float: left;
    white-space: nowrap;
  }
  &.active {
    display: block;
  }
}