<form>
    <p>What would you like to report?</p>
    <div class="radio-list">
        <div>
            <label>
                <input type="radio">
                <span class="name">
                    Information provided is unclear
                </span>
            </label>
        </div>
        <div>
            <label>
                <input type="radio">
                <span class="name">
                    Contact information incorrect or no response
                </span>
            </label>
        </div>
        <div>
            <label>
                <input type="radio">
                <span class="name">
                    This service no longer exists
                </span>
            </label>
        </div>
        <div>
            <label>
                <input type="radio">
                <span class="name">
                    This service does not operate in my area
                </span>
            </label>
        </div>
    </div>
    <input type="submit" value="Submit Feedback">
</form>
