{% load aliss %}

{% if form.errors %}
<div class="f-row">
  <fieldset class="errors">
  <legend>Form invalid</legend>
    {% for field in form %}
      {% for error in field.errors %}
        <ul class="alert alert-danger">
          <li>{{ field.name|title }}: {{ error|escape }}</li>
        </ul>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <ul class="alert alert-danger">
        <li>{{ error|escape }}</li>
      </ul>
    {% endfor %}
  </fieldset>
</div>
{% endif %}

<div class="f-row">
  {% include 'partials/forms/field.html' with field=form.name %}
</div>
<div class="f-row">
  {% include 'partials/forms/field.html' with field=form.description annotation="Include information on what your service does, who you help and opening times. Feature words you think people would search for, assume those searching have never heard of your organisation or service." %}
</div>
<div class="f-row two">
  {% include 'partials/forms/field.html' with field=form.phone %}
  {% include 'partials/forms/field.html' with field=form.email %}
</div>
<div class="f-row">
  {% include 'partials/forms/field.html' with field=form.url %}
</div>
<div class="f-row">
  <label>Categories <span>(required)</span></label>
  <p class="small">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Select up to three categories that best describe the needs that your service satisfies.
  </p>
  <div class="all-categories">
    <div id="category-filter">
      <input type="text" placeholder="Type to filter categories...">
    </div>
    {% get_root_categories as root_categories %}
    <ul class="radio-list cat truncate children">
      {% for category in root_categories %}
        {% include 'service/forms/partials/category.html' with category=category selected_categories=form.categories.value %}
      {% endfor %}
    </ul>
  </div>
  <div class="selected-categories active">
    <p>You have selected the following categories:</p>
    <div class="cats"></div>
  </div>
</div>

<div class="f-row">
  {% include 'partials/forms/multiselect_field.html' with field=form.locations %}
</div>

<div class="f-row">
  <fieldset id="add-location-fieldset">
    <legend id="show-add-location">Add new location</legend>
    <div class="add-location-form" style="display:none;">
      <input type="hidden" id="location_csrf" value="{{ csrf_token }}">

      <label for="location_name">
        Location name
      </label>
      <input type="text" name="location_name" minlength="2" maxlength="100" id="location_name">

      <label for="location_street_address">
        Street address <span>(required)</span>
      </label>
      <input type="text" class="required" name="location_street_address" minlength="2" maxlength="100" id="location_street_address">

      <label for="location_locality">
        City/town <span>(required)</span>
      </label>
      <input type="text" class="required" name="location_locality" minlength="2" maxlength="30" id="location_locality">

      <label for="location_postal_code">
        Post code <span>(required)</span>
      </label>
      <input type="text" class="required" name="location_postal_code" minlength="4" maxlength="10" id="location_postal_code">

      <button data-create-endpoint="{% url 'location_create' pk=organisation.pk %}" id="add-location" class="btn">Add location</button>
    </div>
  </fieldset>
</div>

<div class="f-row">
  <div class="multiselect{% if form.service_areas.errors %} has-error{% endif %}">
    <label for="{{ form.service_areas.id_for_label }}">{{ form.service_areas.label }}
      
      <a title="Click here for help (This will open in a new window)." class="small" style="margin-left:0.7rem;" href="{% url 'service_area_definition' %}" target="_blank"><span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="2" title="This link opens in a new tab">
      <i class="fa fa-question-circle" aria-hidden="true"></i> Help
      </span></a>
    </label>

    <p class="small"><i class="fa fa-info-circle" aria-hidden="true"></i>
      <span id="service-area-warning">If you select Scotland or United Kingdom as a service area, your listing will not appear when a user filters their search to only show local - not national - services.</span>
    </p>

    {{ form.service_areas }}
    {% if form.service_areas.errors %}
      <div class="f-error">
      {% for error in form.service_areas.errors %}
        {{ error }}<br />
      {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
