<form method="post">
    {% csrf_token %}
    <div class="f-row">
        {% include 'partials/forms/field.html' with field=form.email %}
        <span class="annotation">
            We need your email so we can contact you when the problem is resolved.
        </span>
    </div>
    <div class="f-row">
        {% include 'partials/forms/field.html' with field=form.message %}
        <span class="annotation">
            Try and be as specific as possible, if you know newer details for the service, please tell us about them here.
        </span>
    </div>
    <div class="submit">
        <input type="submit" value="Report Problem">
    </div>
</form>
