{% macro descriptive_icon(icon_code, tooltip_text) %}
<div class="aliss-descriptive-icon">
  <span class="tool" data-tip="Example Tool tip">
    <i class="fa fa-info-circle"></i>
  </span>
</div>
{% endmacro %}