<div class="aliss-organism accordion aliss-component-search-filter">
  <div class="accordion__toggle">
    <p>Filter search results</p>
  </div>
  <div class="accordion__list">
    <form class="aliss-search-form aliss-search-form--home" action="/search/">

    <fieldset data-form="search-category">
      <label for="search-category">Filter by category: </label> 
      <div>
        <select id="search-category" name="search-category">
          <option value="">Choose an category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
        </select>
      </div>
    </fieldset>

    <fieldset data-form="search-keyword">
      <label for="search-keyword">Filter by keyword: </label>
      <div>
        <input type="text" name="search-keyword" id="search-keyword" placeholder="E.G. diabetes" value="">
        <button class="btn btn--primary" type="submit">Apply filters</button>
      </div>
    </fieldset>

    <fieldset class="aliss-component-search-filter__radio" data-form="search-sort">
      <legend>
        Sort by:
      </legend>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label js-label" for="search-sort-by">Best match.</label>
        <input class="aliss-component-search-filter__input aliss-component-search-filter__radio__item__input" type="radio" name="search-sort-by" id="signup-name" value="A">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label js-label" for="search-sort-by">Best match.</label>
        <input class="aliss-component-search-filter__input aliss-component-search-filter__radio__item__input" type="radio" name="search-sort-by" id="signup-name" value="B">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label js-label" for="search-sort-by">Best match.</label>
        <input class="aliss-component-search-filter__input aliss-component-search-filter__radio__item__input" type="radio" name="search-sort-by" id="signup-name" value="CS">
      </div>
    </fieldset>
    
    <fieldset class="aliss-component-search-filter__radio" data-form="search-loc-nat">
      <legend>
        Filter by local or national:
      </legend>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label" for="name">Best match.</label>
        <input class="aliss-component-search-filter__radio__item__input" type="radio" name="name" id="signup-name" value="Best match.">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label" for="name">Best match.</label>
        <input class="aliss-component-search-filter__radio__item__input" type="radio" name="name" id="signup-name" value="Best match.">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label" for="name">Best match.</label>
        <input class="aliss-component-search-filter__radio__item__input" type="radio" name="name" id="signup-name" value="Best match.">
      </div>
    </fieldset>
    
    <fieldset class="aliss-component-search-filter__radio" data-form="search-loc-nat">
      <legend>
        Show me services within a:
      </legend>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label js-label" for="name">Best match.</label>
        <input class="aliss-component-search-filter__radio__item__input" type="radio" name="name" id="signup-name" value="Best match.">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label" for="name">Best match.</label>
        <input class="aliss-component-search-filter__radio__item__input" type="radio" name="name" id="signup-name" value="Best match.">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <label class="aliss-component-search-filter__radio__item__label" for="name">Best match.</label>
        <input class="aliss-component-search-filter__radio__item__input" type="radio" name="name" id="signup-name" value="Best match.">
      </div>
      <div class="aliss-component-search-filter__radio__item">
        <input class="range-slider__range" id="custom-radius-input" type="range" min="1000" max="50000" value="10000" step="1000" aria-valuemin="1000" aria-valuemax="50000" aria-valuenow="10000" name="radius">
      </div>
    </fieldset>
    <fieldset>
      <div>
        <button class="btn btn--primary btn--submit" type="submit">Apply filters</button>
      </div>
    </fieldset>
  </form>
  </div>
</div>

  