{% load aliss %}
{% load humanize %}

<div class="row category-selector">
  <div class="columns">
    <h4 class="toggle-heading" id="select_cat_toggle">Select Category</h4>

    <!-- ONE -->
    {% if not category %}
      <div class="cells one toggled" id="select_cat">
        <ul>
          <li>
            <a title="Filter services by category." class="select-category" tabindex="0">Filter by category</a>
            <span class="select" ></span>
            <ul class="cat-icons">
              {% get_categories as categories %}
              {% for category in categories %}
                {% if category.is_root %}
                  <li{% if category.slug == request.GET.category %} class='active'{% endif %}>
                    <a title="Apply a filter for {{ category.name }} results." href="{% query_transform request category=category.slug page=None %}" tabindex="0">
                      <span class="cat">
                        <i class="fa {{ category|get_icon }}"></i>
                      </span>
                      <span class="name">
                        {{ category.name }}
                      </span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    {% else %}
      {% get_category_tree category=category as category_tree %}
      {% if category.children.all %}
        <div class="cells {{ category_tree|length|add:1|apnumber }} toggled" id="select_cat">
      {% else %}
        <div class="cells {{ category_tree|length|apnumber }} toggled" id="select_cat">
      {% endif %}
        <ul>
          {% for item in category_tree %}
            <li>
              {% if item.is_root %}
                <a title="{{ item.name }}" href="#" class="active-cat icon truncate" tabindex="0">
                  <span class="cat">
                    <i class="fa {{ item|get_icon }}"></i>
                  </span>
                  <span class="name">
                    {{ item.name }}
                  </span>
                </a>
              {% else %}
                <a title="{{ item.name }}" href="{% query_transform request category=item.slug page=None %}" class="active-cat truncate" tabindex="0">{{ item.name }}</a>
              {% endif %}
              <span class="select"></span>
              <ul {% if category.is_root %}class="cat-icons"{% endif %}>
                {% for sibling in item.siblings %}
                  {% if sibling.is_root %}
                    <li{% if sibling.pk == item.pk %} class="active"{% endif %}>
                      <a title="{{ sibling.name }}" href="{% query_transform request category=sibling.slug page=None %}">
                        <span class="cat">
                          <i class="fa {{ sibling|get_icon }}"></i>
                        </span>
                        <span class="name">
                          {{ sibling.name }}
                        </span>
                      </a>
                    </li>
                  {% else %}
                    <li{% if sibling.pk == item.pk %} class="active"{% endif %}><a title="{{ sibling.name }}" href="{% query_transform request category=sibling.slug page=None %}">{{ sibling.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% if forloop.last %}
              {% if item.children.all %}
                <li>
                  <a title="Select a sub category." href="#" class="select-category">Select Sub Category</a>
                  <span class="select"></span>
                  <ul>
                    {% for child in item.children.all %}
                      <li><a title="{{ child.name }}" href="{% query_transform request category=child.slug page=None %}">{{ child.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <p><a title="Click here to clear all selected categories." href="{% query_transform request category=None page=None %}" class="clear">Clear Categories</a></p>
    {% endif %}
  </div>
</div>
