<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1be68a54-8bf1-4a5c-9156-a05291267e18" Alias="Add an Organisation - Meta Description - Textbox" Level="2">
  <Info>
    <Name>Add an Organisation - Meta Description - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 165
}]]></Config>
</DataType>