<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bddf10d9-f7ee-4991-91f0-6175b2228c9f" Alias="Category Picker" Level="2">
  <Info>
    <Name>Category Picker</Name>
    <EditorAlias>aliss.nested.category.picker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>