<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9599d815-a1d1-4095-9c71-bb58b7c13f1e" Alias="Do dont list items" Level="2">
  <Info>
    <Name>Do dont list items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "doDontListContentPicker",
      "ncTabAlias": "Content",
      "nameTemplate": "{{componentContents}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>