<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9d750d4-64b1-4184-ab1a-084c79dd14c9" Alias="Footer Link Items" Level="2">
  <Info>
    <Name>Footer Link Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "cdtFooterLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>