<?xml version="1.0" encoding="utf-8"?>
<DataType Key="239c6967-a7db-4728-a1a7-87baca89be54" Alias="Footer Navigation Column" Level="2">
  <Info>
    <Name>Footer Navigation Column</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "cdtFooterNavigationColumn",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>