<?xml version="1.0" encoding="utf-8"?>
<DataType Key="723c4473-93dd-483f-8ed0-a988a261371d" Alias="Guidance Content" Level="2">
  <Info>
    <Name>Guidance Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "guidanceOption",
      "ncTabAlias": "Content",
      "nameTemplate": "{{showOnPages[0]}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>