<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66a01e2a-4824-404c-b3c8-ba75a0ead9f0" Alias="Header Link Items" Level="2">
  <Info>
    <Name>Header Link Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>