<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2df6f69-ce17-48a0-86f7-192ba826972d" Alias="Informational Message Text" Level="2">
  <Info>
    <Name>Informational Message Text</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 150
    }
  },
  "OverlaySize": "small",
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>