<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f6bc3cc-927e-4476-8f13-131108c01516" Alias="List Panel Picker" Level="2">
  <Info>
    <Name>List Panel Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "dtListPanel",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>