<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ee86578-d251-42eb-83ba-77732d6814f6" Alias="RTE Restricted" Level="2">
  <Info>
    <Name>RTE Restricted</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link"
    ],
    "stylesheets": [
      "/css/RTE.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": null
    }
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>