<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d922ce5-46f3-4954-85b7-f15a9eb8422e" Alias="RTE Restricted with Images" Level="2">
  <Info>
    <Name>RTE Restricted with Images</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker"
    ],
    "stylesheets": [
      "/css/RTE.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>