<?xml version="1.0" encoding="utf-8"?>
<DataType Key="494aeb05-2c89-48fa-a0dc-e64b8b822d87" Alias="Search Suggestions" Level="2">
  <Info>
    <Name>Search Suggestions</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "cdtSearchSuggestion",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}} {{disabled==1?' (Disabled)':''}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>