<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1878861-6205-47ba-aaf5-c87a930404e1" Alias="Search Options Type" Level="2">
  <Info>
    <Name>Search Options Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Location"
    },
    {
      "id": 2,
      "value": "What"
    },
    {
      "id": 4,
      "value": "Category"
    },
    {
      "id": 3,
      "value": "Who"
    }
  ]
}]]></Config>
</DataType>