<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb5e7430-d055-4c7a-917c-521542e59045" Alias="Social Link Items" Level="2">
  <Info>
    <Name>Social Link Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "cdtSocialLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>