<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69bcb642-6ff6-45e5-81a4-0beaeb2e0e3b" Alias="Textstring 75" Level="2">
  <Info>
    <Name>Textstring 75</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 75
}]]></Config>
</DataType>