<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24903e75-a1ea-4f38-a3da-441585901604" Alias="Textstring 200" Level="2">
  <Info>
    <Name>Textstring 200</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200
}]]></Config>
</DataType>