<style>
    .beta-banner {
        z-index: 999999;
        position: -webkit-sticky;
        position: sticky;
        bottom: 15px;
        top: 0;
        right: 0;
        left: 15px;
        background: #004785;
        width: 500px;
        border-bottom: 1px solid #EEEEEE;
        padding: 10px;
        box-sizing: border-box;
        -webkit-transform: translateY(-150%);
        transform: translateY(-150%);
        color: #FFFFFF;
        border-radius: 25px;
        font-family: "Open Sans", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-animation: beta-banner-slide-in 0.8s ease forwards;
        animation: beta-banner-slide-in 0.8s ease forwards;
    }
    
    .beta-banner-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: inherit;
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
        padding-left: 0.46875rem;
        padding-right: 0.46875rem;
        box-sizing: border-box;
    }
    
    .beta-banner-title {
        font-size: 18px;
    }
    
    .beta-banner-text {
        margin: 0 20px 0 0;
    }
    
    .beta-banner-button {
        display: inline-block;
        background: #FFFFFF;
        height: 40px;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0 20px;
        color: #0E9C71;
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        text-decoration: none;
        white-space: nowrap;
    }
    
    .beta-banner-close {
        position: absolute;
        top: 20%;
        right: 50px;
        width: 20px;
        height: 60px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
    }
    /* Gradient color1 - color2 - color1 */
    
    hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #1e7abd, #ccc);
    }
    
    .beta-banner-close:before,
    .beta-banner-close:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background: #FFFFFF;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        -webkit-transform-origin: center;
        transform-origin: center;
    }
    
    a {
        color: white;
        text-decoration: underline;
    }
    
    .beta-banner-close:before {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .beta-banner-close:after {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    @-webkit-keyframes beta-banner-slide-in {
        0% {
            -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
        }
        100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
    
    @keyframes beta-banner-slide-in {
        0% {
            -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
        }
        100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
</style>

<!-- Header beta with call to action -->



<div class="beta-banner" id="beta-banner">
    <div class="beta-banner-content">

        <div class="beta-banner-text">
            <h4 style="color: white;"><i class="fa fa-info-circle" aria-hidden="true"></i> Aliss Beta</h4>
            <hr>
            <p style="color: white; text-justify: inter-word;">Based on feedback and research were improving the design and accessibility of this website. <br><a href="http://alissapp.azurewebsites.net/">Click here to try the new version</a> </p>
        </div>


    </div>
    <div class="beta-banner-close"></div>
</div>




<script>
    jQuery('.beta-banner-close').on('click', function() {
        jQuery(this).parent().remove();
    });
    jQuery('.beta-banner-close').on('click', function() {
        jQuery(this).parent().remove();
    });
    if (document.querySelector('.beta-banner')) {
        document.querySelector('.beta-banner-close').addEventListener('click', (event) => {
            document.cookie = "covid_wanring=true=;"
        });
    }
    if (document.cookie.split(';').some((item) => item.trim().startsWith('covid_wanring='))) {
        document.getElementById('beta-banner').style.display = 'none';
    } else {
        document.getElementById('beta-banner').style.display = 'block';
    }
</script>