<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
.aliss__component-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 0.46875rem;
    padding-right: 0.46875rem;
} 
.aliss__component--site-alert {
    padding: 25px;
    background-color: rgba(190, 34, 31, 1);
} 
.aliss__component__site-alert h2, .aliss__component__site-alert p  {
    color: white;
}
.aliss__component__site-alert h2  {
    margin: 0 0 15px;
}
.aliss__component__site-alert p  {
    margin: 0;
}
</style>
<div class="aliss__component aliss__component--site-alert">
<div class="aliss__component-wrapper">
    <div class="aliss__component__site-alert">
        <h2 class="aliss__component__site-alert__title">Notice</h2>
        <p class="aliss__component__site-alert__message">Due to current public health advice around Coronavirus (COVID-19), some services may be operating in a different way, they may have different opening hours or may be closed temporarily. We recommend that you contact the service directly ahead of attending to ensure it is open and to confirm any changes.</p>
    </div>
</div>
</div>