<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
.aliss__component-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 0.46875rem;
    padding-right: 0.46875rem;
} 
.aliss__component--site-alert {
    padding: 25px;
    background-color: rgba(190, 34, 31, 1);
} 
.aliss__component__site-alert h2, .aliss__component__site-alert p  {
    color: white;
}
.aliss__component__site-alert h2  {
    margin: 0 0 15px;
}
.aliss__component__site-alert p  {
    margin: 0;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<div class="aliss__component aliss__component--site-alert">
<div class="aliss__component-wrapper">
    <div class="aliss__component__site-alert">
        <h2 class="aliss__component__site-alert__title">Notice</h2>
        <p class="aliss__component__site-alert__message">Due to current public health advice around Coronavirus (COVID-19), some services may be operating in a different way, they may have different opening hours or may be closed temporarily. We recommend that you contact the service directly ahead of attending to ensure it is open and to confirm any changes.</p>
    </div>
</div>
</div>


<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tagRed govuk-phase-banner__content__tagRed">
            COVID-19
        </strong>
        <span class="govuk-phase-banner__text">
            Due to the Coronavirus pandemic, some services may have different opening hours or may be closed temporarily. We recommend to contact the service directly ahead of attending to ensure it is open and to confirm any changes.
        </span>
    </p>
</div>
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            BETA
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new version of our website - please click here for an <a href="/Help/index">overview</a> of what's included in this version (September 2020).
        </span>
    </p>
</div>