{% extends "account/base.html" %}

{% block content %}
<div class="row">
  <div class="columns">
    <div class="breadcrumbs">
      <a title="Click here to view your organisations." href="{% url 'account_my_organisations' %}">My organisations.</a>
      <span class="sep"></span>
      <span>Claim {{ organisation.name }}</span>
    </div>
  </div>
</div>
<section class="large-form">
  <div class="row">
    <div class="columns">
      <form method="post" class="claim-form">
        {% csrf_token %}
        {% include 'claim/forms/claim_form.html' %}
        <div class="submit">
          <input type="submit" value="Send Request">
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}