{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
  <section id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container">
          <h1>Stop representation</h1>
          <p>Are you sure you want to stop representing <a title="Click here for further information on further this organisation." href="{% url 'organisation_detail' pk=object.organisation.pk %}">{{ object.organisation.name }}</a>?</p>
        </div>
      </div>
    </div>
  </section>
  <section class="large-form">
    <div class="row">
      <div class="columns">
        <form method="post">
          {% csrf_token %}
          <div class="submit">
            <input type="submit" class="alert" value="Stop representation">
            <a title="Click here to cancel this action." href="{% url 'account_my_organisations' %}" class="button secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}