{% extends "account/admin_base.html" %}
{% load aliss %}

{% block content %}
  <div class="row">
    <div class="columns">
      <div class="copy-container">
        <h3>Claim requests</h3>
        <ul class="claim-type">
          <li>
            <a title="Click here to view all unreviewed claims." href="{% query_transform request status=0 page=None  %}" {% if request.GET.status == '0' or request.GET.status == None %}class="active"{% endif %}>Unreviewed ({{ unreviewed_count }})</a>
          </li>
          <li>
            <a title="Click here to view all approved claim requests." href="{% query_transform request status=10 page=None  %}" {% if request.GET.status == '10' %}class="active"{% endif %}>Approved requests ({{ confirmed_count }})</a>
          </li>
          <li>
            <a title="Click here to view all denied claim requests." href="{% query_transform request status=20 page=None %}" {% if request.GET.status == '20' %}class="active"{% endif %}>Denied requests ({{ denied_count }})</a>
          </li>
          <li>
            <a title="Click here to view all revoked claim requests." href="{% query_transform request status=30 page=None %}" {% if request.GET.status == '30' %}class="active"{% endif %}>Revoked requests ({{ revoked_count }})</a>
          </li>
        </ul>
        <ul class="claim-requests edit">
          {% for claim in object_list %}
            <li>
              <div class="heading">
                <h4>User <a title="{{ claim.user.get_short_name }} has claimed this organisation." href="{% url 'account_detail' pk=claim.user.pk %}">{{ claim.user.get_short_name }}</a> has claimed <a href="{% url 'organisation_detail' pk=claim.organisation.pk %}">{{ claim.organisation.name }}</a></h4>
              </div>
              <p>{{ claim.comment }}</p>
              <p>Request made on {{ claim.created_on }}</p>

              {% if claim.reviewed_by != None %}
              <p>Last reviewed on {{ claim.reviewed_on }} by {{ claim.reviewed_by.name }} ({{ claim.reviewed_by }}) </p>
              {% endif %}
              <ul class="contact-info">
                {% if claim.phone %}
                  <li>
                    {{ claim.phone }}
                  </li>
                {% elif claim.user.phone_number %}
                  <li>
                    {{ claim.user.phone_number }}
                  </li>
                {% endif %}
                <li>
                  <a title="Click here to email the contact who has claimed this organisation." href="mailto:{{ claim.user.email }}">{{ claim.user.email }}</a>
                </li>
              </ul>
              {% if claim.status == claim.UNREVIEWED %}
                <div class="edit-options">
                  <form method="post" action="{% url 'claim_detail' pk=claim.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="{{ claim.CONFIRMED }}" />
                    <button href="#" class="txt-button secondary icon-link">
                      <span class="icon">
                        <i class="fas fa-check"></i>
                      </span>
                      Approve claim
                    </button>
                  </form>
                  <form method="post" action="{% url 'claim_detail' pk=claim.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="{{ claim.DENIED }}" />
                    <button href="#" class="txt-button alert delete icon-link">
                      <span class="icon">
                        <i class="fas fa-times"></i>
                      </span>
                      Deny claim
                    </button>
                  </form>
                </div>
              {% elif claim.status == claim.CONFIRMED %}
                <div class="edit-options">
                  <form method="post" action="{% url 'claim_detail' pk=claim.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="{{ claim.REVOKED }}" />
                    <button href="#" class="txt-button alert icon-link">
                      <span class="icon">
                        <i class="fas fa-minus-hexagon"></i>
                      </span>
                      Revoke representation
                    </button>
                  </form>
                </div>
              {% elif claim.status == claim.DENIED or claim.status == claim.REVOKED %}
                <div class="edit-options">
                  <form method="post" action="{% url 'claim_detail' pk=claim.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="{{ claim.UNREVIEWED }}" />
                    <button href="#" class="txt-button primary icon-link">
                      <span class="icon">
                        <i class="fas fa-hand-paper"></i>
                      </span>
                      Reconsider representation
                    </button>
                  </form>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% include 'partials/pagination.html' with page=page_obj paginator=paginator  %}
      </div>
    </div>
  </div>
{% endblock %}
