{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
  <section id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container" style="min-height: 350px;">
          <h1>Claim sent</h1>
          <p>Your organisation claim has been submitted to the ALISS team. We will be in contact with you as soon as possbile.</p>
          <p>Thank you for your patience.</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
