<div id="aliss-claims-disclaimer" class="aliss-banner aliss-banner__disclaimer hide-print hide">
	<div class="aliss-banner__content">
		<div class="aliss-content--text mt--0 mb--0">
			<div class="aliss-banner__title mb--8"><i class="fa fa-info-circle"></i> Claimed status</div>
			<span class="aliss-claimed-status aliss-claimed-status--claimed">Claimed</span> means that someone has taken responsibility for maintaining this information - <a class="aliss-component-master__contents__primary-link no-margin" title="Use this button to navigate to the 'About Claimed' page (This will open in a new window)." target="_blank" href="@ViewBag.AboutClaimedUrl">Learn more</a>
		</div>
	</div>
	<button id="aliss-claims-disclaimer-dismiss" title="Use this button to dismiss claims disclaimer" class="btn btn--primary">Dismiss</button>
</div>
