<div class="aliss-organism-homepage-search">
  <div class="aliss-organism-homepage-search__block">
      <h1>ALISS Frontend Library</h1>
      <p>Search for <span>services</span>, <span>groups</span> and <span>activities</span> in <span>Scotland</span> by entering a <span>postcode</span> or your <span>nearest town</span>.</p>
      <ul>
        <li>Page x</li>
      </ul>
  </div>
</div>