{# CSS scripts #}
  <!-- Stylesheet -->
  {# <link rel="stylesheet" href="css/site.min.css"> #}
  <!-- Supporting Classes -->
  <script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- Supporting Shim Dom -->
  <script rel="preconnect" src="//cdnjs.cloudflare.com/ajax/libs/dom4/2.0.0/dom4.js">/* DOM4 */</script>
  <!-- Typekit font -->
  <link rel="stylesheet" href="https://use.typekit.net/hwk2ezh.css">
{# CSS scripts #}