<meta charset="UTF-8">
<title>ALISS Admin - {{page_Meta_Title}}</title>
<!-- Meta: SEO -->
<meta name="keywords" content="{{page_Meta_Keywords}}">
<meta name="description" content="{{page_Meta_Description}}">
<meta name="author" content="Tactuum">
<!-- Meta: Device Optimization -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
{#  #}
<link rel="stylesheet" type="text/css" href="css/site.min.css"/>
<!-- Awesome Font -->
<script src="https://kit.fontawesome.com/7264da0bdc.js" crossorigin="anonymous"></script>
{#  #}
<link rel="stylesheet" href="https://use.typekit.net/hwk2ezh.css">
{#  #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">