{% from GV.atoms + "atoms_a.njk" import a as a %}
{% from GV.atoms + "atoms_h1.njk" import h1 as h1 %}
{% from GV.atoms + "atoms_p.njk" import p as p %}
{% from GV.atoms + "atoms_img.njk" import img as img %}