{% extends "account/base.html" %}
{% load aliss %}

{% block content %}
{% if form.errors %}
<div class="f-row">
  <fieldset class="errors">
  <legend>Form invalid</legend>
    {% for field in form %}
      {% for error in field.errors %}
        <ul class="alert alert-danger">
          <li>{{ field.name|title }}: {{ error|escape }}</li>
        </ul>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <ul class="alert alert-danger">
        <li>{{ error|escape }}</li>
      </ul>
    {% endfor %}
  </fieldset>
</div>
{% endif %}

<div class="form">
  <h3>New service notification</h3>
  <form method="post" action="{% url 'account_create_my_digest' %}">
    {% csrf_token %}
    <label for="postcode">What postcode area would you like to get e-mails about? <span>(required)</span>
    </label>
    <input type="text" name="postcode" id="postcode" placeholder="Postcode e.g. G2 4AA">
    {% if form.cleaned_data.category.slug %}
      <p>Previously Selected Category: {{form.cleaned_data.category.name}}</p>
      <br/>
    {% endif %}

    <label for="aliss-dropdown">What category would you like to filter by? <span>(optional)</span>
    </label>
    <div id="js-categories">
      <select disabled="disabled"><option value="categories">Select category</option></select>
    </div>
    <input type="hidden" name="category" id="category" value={{form.cleaned_data.category.slug}}>
    <input type="submit" value="Save selection">
  </form>
</div>
{% endblock %}

{% block before_body_close %}
<script type="text/javascript">
$(document).ready(function(){
  var a = new ALISS(); a.init();
  a.config.categoryTarget = '#js-categories';
  var b = function(event){ $('#category').empty().val(event.target.value) };
  a.config.categoryChanged = b;
  a.renderCategoryDropdown();
});
</script>
{% endblock %}
