@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "Error";
	ViewBag.Message = "An error occurred while processing your request.";
	Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
}

<h1>@ViewBag.Title</h1>
<p>@ViewBag.Message</p>
