.noticePrivacy {
    border: 2px solid #212121;
    padding: 10px;
    color: red;
    font-weight: bold;
    font-family:sans-serif;
  }
  .privacyText{
    text-align: justify;
    text-justify: inter-word;
        font-family: sans-serif;
  }
  .privacyTextFoot{
    text-align: right !important;
    text-justify: inter-word;
        font-family: sans-serif;
  }
  .privacyTextContact{
    text-align: justify;
    text-justify: inter-word;
    font-family: sans-serif;
      font-weight: bold;
  
  }
  
  
   .privacyTitle{
     text-align:center; 
     color: #6C1F71;
     font-family: sans-serif;
  }
  
  .privacySubTitle{
     color: #6C1F71;
      font-weight: bold;
        font-family: sans-serif;
  }
  .spanPhone{
   font-weight: bold;
  }