{% extends "layout.njk" %}

{# Global variables #}
  {# 
    Access to atom, molecule and organism paths.
  #}
  {% import "../partials/include/globalVariables.njk" as GV %}
{# Global variables #}

{# Page variables #}
  {# 
    Page meta data:
    If specified, this will populate meta tags for page SEO.
  #}
    {% set page_Meta_Title = 'Dashboard' %}
    {% set page_Meta_Description = '' %}
    {% set page_Meta_Keywords = '' %}
  {# 
    Page styles:
    Utilise Atoms, Molecules and Organisms to create templates.
  #}
  {% set page_Styles = false %}
  {# 
    Page body ID & class:
    If specified, this id and or class will be applied to the body tag.
  #}
    {% set page_Body_ID = 'aliss-admin' %}
    {% set page_Body_Class = 'aliss-admin' %}
  {# 
    Page ID & class:
    If specified, this class will be applied to top level parent tag of this page, containing all of the componets within the page contents.
  #}
  {% set page_ID = '' %}
  {% set page_Class = '' %}
{# Page variables #}

{% block body %}

<div class="aliss-organism aliss-collection__item">
                    <div class="aliss-typography">
                      <h3>##ServiceName##</h3>
                      <p>
                        by: <a href="#">##ServiceProvider##</a>
                        <span class="aliss-claimed">claimed</span>
                      </p>
                      <p>Exercise &amp; Get Fit , Social Group , Physical Activity , Social Activity , Activity</p>
                      <p>Last Updated: 01/01/2021</p>
                    </div>
                    <!-- First Location Not Part Of Accoridon -->
                    <ul class="aliss-icon-list">
                        <li class="aliss-icon-list__item aliss-icon-list__item--location">
                            <a href="#">
                                Location, Address, City, Postcode
                            </a>
                        </li>
                    </ul>
                    <!-- For Rest of Locations -->
                    <div class="aliss-locations">                        
                        <div class="aliss-accordion__header">
                            <button class="aliss-accordion__trigger" data-accordion-trigger="service0">
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                <span class="hide">Toggle Accordion for ##ServiceName## locations</span>
                            </button>                           
                            <span class="aliss-accordion__label">More locations</span>
                        </div>                            
                        <div class="aliss-accordion__content" id="service0">
                            <div class="aliss-accordion__inner">
                                <ul class="aliss-icon-list margin-bottom-2">
                                    <li class="aliss-icon-list__item aliss-icon-list__item--location">
                                        <a href="#">
                                            Location, Address, City, Postcode
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--location">
                                        <a href="#">
                                            Location, Address, City, Postcode
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--location">
                                        <a href="#">
                                            Location, Address, City, Postcode
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--location">
                                        <a href="#">
                                            Location, Address, City, Postcode
                                        </a>
                                    </li>
                                </ul>                       
                            </div>
                        </div>
                         <div class="aliss-accordion__header">
                            <button class="aliss-accordion__trigger" data-accordion-trigger="service-area0">
                                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                <span class="hide">Toggle Accordion for ##ServiceName## areas</span>
                            </button>                           
                            <span class="aliss-accordion__label">Service Areas</span>
                        </div>                            
                        <div class="aliss-accordion__content" id="service-area0">
                            <div class="aliss-accordion__inner">
                                <p>
                                    Glasgow City<br>
                                    East Renfrewshire<br>
                                    East Ayrshire
                                </p>                
                            </div>
                        </div>
                    </div>
                     <ul class="aliss-icon-list aliss-icon-list--thirds">
                        <li class="aliss-icon-list__item aliss-icon-list__item--website hide-print">
                            <a href="http://tactuum.com">
                                <span class="hide">Go to ##ServiceName## </span>Website
                            </a>
                        </li>
                        <li class="aliss-icon-list__item aliss-icon-list__item--website show-print">
                            <span>http://www.website.com</span>
                        </li>
                        <li class="aliss-icon-list__item aliss-icon-list__item--telephone">
                            <a href="mailto:test@tactuum.com">
                                <span class="hide">Phone </span>0141 555 6677
                            </a>
                        </li>
                        <li class="aliss-icon-list__item aliss-icon-list__item--trash red hide-print">
                            <a href="#">
                                Remove service
                            </a>
                        </li>
                    </ul>
                </div>


<div class="aliss-pagination-component">
    <div class="aliss-pagination-component__wrapper">
        <div class="aliss-pagination-component__wrapper__item">
            <p>Showing page <span>1</span> of <span>10</span></p>
        </div>
        <div class="aliss-pagination-component__wrapper__item">
            <nav>
            <ol>
                <li>
                <a href="" class="aliss-pagination-previous">Previous</a>
                </li>
                <li>
                <a href=""  class="js-pagination-previous-page">2</a>
                </li>
                <li>
                <a href=""  class="js-pagination-previous-page">3</a>
                </li>
                <li>
                <a href=""  class="js-pagination-previous-page">4</a>
                </li>
                <li class="js-pagination-hidden">
                    <a href="/search/index?page=@i&postcode=@Model.Postcode@url">
                        @i
                    </a>
                </li>
                <li>
                    <a href="" class="aliss-pagination-next">
                        Next
                    </a>
                </li>
            </ol>
            </nav>
        </div>
    </div>
</div>

{% endblock %}

{% block side %}
<div class="aliss-sidemenu">
dfdfdfd
</div>
{% endblock %}