{% load aliss %}

<li>
    <label>
        <input type="checkbox" name="categories" value="{{ category.pk }}" {% if category.pk in selected_categories %}checked{% endif %}>

        {% if category.is_root %}
            <span class="cat">
                <i class="fa {{ category|get_icon }}"></i>
            </span>
        {% endif %}
        <span class="name">
            {{ category.name }}
        </span>
    </label>
    {% if category.children.all %}
        <span class="toggle-children">
            <span class="more-text">More</span>
            <span class="less-text">Less</span>
        </span>
        <ul>
            {% for child in category.children.all %}
                {% include 'service/forms/partials/category.html' with category=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
