<div class="aliss-organism aliss-component-about-us">
  <h2>
    We <span>can</span> help you find.
  </h2>
  <ul class="aliss-icon-list">
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Foodbanks.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Money advice.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Mental health support.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Homelessness support.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Local and national services.</li>
  </ul>
  <h2>
    We <span>cannot</span> help you find.
  </h2>
  <ul class="aliss-icon-list">
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Volunteer roles.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Training courses.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Events.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Documents.</li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">General business listings.</li>
  </ul>
</div>