<div class="aliss-organism aliss-component-contact-details">
  <h2>
    Publishing on ALISS
  </h2>
  <ul class="aliss-icon-list">
    <li class="aliss-icon-list__item aliss-icon-list__item--search">
      Check organisation isn't listed.
    </li>
    <li class="aliss-icon-list__item aliss-icon-list__item--edit">
      Add organisation details.
    </li>
    <li class="aliss-icon-list__item aliss-icon-list__item--users">
      Add your organisation's services.
    </li>
    <li class="aliss-icon-list__item aliss-icon-list__item--time">
      Await approval by ALISS staff.
    </li>
    <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">
      Approved and available on ALISS.
    </li>
  </ul>
</div>

