{{ master_component({
  classes: 'aliss-component-master--red',
  item_type: "",
  item_title: "Notice: No services have been added to this organisation",
  item_text: "This organisation will not be visible to the public on ALISS until at least one service has been added. To add a service use the button below or the button within the <a href='#actions'>actions panel</a>.",
  item_buttons: [
    {
      href: "/",
      classes: "btn btn--warning",
      text: "Add a service",
      title: "Click here to...",
      attributes: [
        {
          attribute: 'test-attribute',
          value: 'test-value'
        }
      ]
    }
  ]
}) }}