
.aliss-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: rem-calc(30);

    &__filter {
        display: flex;
        flex: 0 1 100%;
    }

    &__clear {
        margin-left: rem-calc(20);
        min-width: rem-calc(140);
    }
}