<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9aa9b0c7-43b5-4ea2-a7c5-0f484de2b72b" Alias="cdtHasDataGovernance" Level="2">
  <Info>
    <Name>Has Data Governance</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>08ae6cd0-1713-40eb-8f06-9c403596acf6</Key>
      <Name>Bulk Review Months</Name>
      <Alias>bulkReviewMonths</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many months ahead should an email include?]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="dataGovernance">Data Governance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a67383bc-625a-47b4-9046-b2e39dd2faf0</Key>
      <Name>Data Disclaimer</Name>
      <Alias>dataDisclaimer</Alias>
      <Definition>24903e75-a1ea-4f38-a3da-441585901604</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A message to be displayed below the services page filters detailing the review process and data moved to the end of the search results.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="dataGovernance">Data Governance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8e1c137-20c6-43d0-a8c0-c41f527d589d</Key>
      <Name>Email 1 Notification Months</Name>
      <Alias>email1NotificationMonths</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many months since last review will the first email be sent?]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dataGovernance">Data Governance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5487f2fc-d590-4b49-a54c-bf5cb5fa28e3</Key>
      <Name>Email 2 Notification Months</Name>
      <Alias>email2NotificationMonths</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many months since the first email will the second email be sent?]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="dataGovernance">Data Governance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41aa5d9e-b05d-4749-b18b-7556423d6fa8</Key>
      <Name>Email 3 Notification Months</Name>
      <Alias>email3NotificationMonths</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many months since the second email will the third email be sent?]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="dataGovernance">Data Governance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Data Governance</Caption>
      <SortOrder>17</SortOrder>
      <Alias>dataGovernance</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>