<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f386bcb-7f36-4c6c-aea7-d4fa5c8774e5" Alias="dtCollections" Level="1">
  <Info>
    <Name>Collections</Name>
    <Icon>icon-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9e3716c4-4afc-4561-a60f-dd3548651355">cdtHasListingPageConfiguration</Composition>
      <Composition Key="2809f65f-307b-4077-971f-3c77a5c5e997">cdtHasPageTitle</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
    </Compositions>
    <DefaultTemplate>DtCollections</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eddc003c-23d2-4d07-8d0a-bb0c2e77840d">DtCollections</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>