<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df66c375-4a75-4cd5-ad94-f6f77a2efa33" Alias="dtHomepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="09813dc0-dcf5-476f-bfb9-7397efc7166a">cdtHasInformationalMessage</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
      <Composition Key="4253fd4e-6326-47de-a0ae-de05f14101cd">cdtHasSearchOptions</Composition>
      <Composition Key="74aefab0-29ff-497d-a226-c17bde544c75">cdtHasSearchSuggestions</Composition>
    </Compositions>
    <DefaultTemplate>DtHomepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4faef6ef-b8c2-4d16-ba30-d501313e152e">DtHomepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7ed99040-ae9f-40b7-bcc0-84f3636ba9ca" SortOrder="0">dtContent</ContentType>
    <ContentType Key="07e2d304-b121-4db2-b007-4c382f0839c3" SortOrder="1">dtServices</ContentType>
    <ContentType Key="cd065d87-3d2d-4625-8a3d-1a3cd01bc5a4" SortOrder="2">dtOrganisations</ContentType>
    <ContentType Key="2540f132-6d32-4a5d-9d9e-6a7d45314812" SortOrder="3">dtConfiguration</ContentType>
    <ContentType Key="4f386bcb-7f36-4c6c-aea7-d4fa5c8774e5" SortOrder="4">dtCollections</ContentType>
    <ContentType Key="95e64bde-e7ac-4491-8407-1cc13aaf699e" SortOrder="5">listPanelFolder</ContentType>
    <ContentType Key="f2b7fa5b-8408-492a-a503-840e283a305f" SortOrder="6">dtAddAnOrganisation</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>