<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e8a329c1-e869-45d6-a0a0-96f2c65eed19" Alias="dtSaveThisService" Level="1">
  <Info>
    <Name>Save This Service</Name>
    <Icon>icon-categories color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="70e24588-ab00-4856-a1c5-b933cf6cbd96">cdtHasContent</Composition>
      <Composition Key="1147e3c5-6eea-4d7c-8a71-c12db401df4e">cdtHasFormContent</Composition>
      <Composition Key="2809f65f-307b-4077-971f-3c77a5c5e997">cdtHasPageTitle</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
      <Composition Key="c952c48f-7289-4475-a640-4f952cd9981f">cdtHasSentMessage</Composition>
      <Composition Key="455f9d7c-853c-43e1-8a30-94ebcf5ccfdb">cdtHasSiteNavigation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>