<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b71903b-66ee-48be-862a-9a606b990220" Alias="Data Input Pages" Level="2">
  <Info>
    <Name>Data Input Pages</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 1,
      "value": "Add To ALISS"
    },
    {
      "id": 2,
      "value": "Unpublished Forms"
    },
    {
      "id": 3,
      "value": "Organisation Details"
    },
    {
      "id": 4,
      "value": "Service Details"
    },
    {
      "id": 5,
      "value": "Where"
    },
    {
      "id": 6,
      "value": "Categories"
    },
    {
      "id": 7,
      "value": "Who"
    },
    {
      "id": 8,
      "value": "Accessibility"
    },
    {
      "id": 9,
      "value": "Media"
    },
    {
      "id": 10,
      "value": "Summary"
    }
  ]
}]]></Config>
</DataType>