<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee33efbd-108e-4bdf-9086-7bc1de54f5df" Alias="Font awesome Picker" Level="1">
  <Info>
    <Name>Font awesome Picker</Name>
    <EditorAlias>faIcon</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>