<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9c3bc44-a8c2-48ad-ba29-0305bab5b2bd" Alias="Footer Link - Link Visibility - Dropdown" Level="2">
  <Info>
    <Name>Footer Link - Link Visibility - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Public site"
    },
    {
      "id": 2,
      "value": "Admin site"
    },
    {
      "id": 3,
      "value": "Both sites"
    }
  ]
}]]></Config>
</DataType>