<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00689d3c-28c9-4004-9e31-883f2355d054" Alias="Social Link Item - Link Type - Dropdown" Level="2">
  <Info>
    <Name>Social Link Item - Link Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 2,
      "value": "Facebook"
    },
    {
      "id": 3,
      "value": "Instagram"
    },
    {
      "id": 4,
      "value": "TikTok"
    },
    {
      "id": 1,
      "value": "Twitter"
    },
    {
      "id": 6,
      "value": "WhatsApp"
    },
    {
      "id": 5,
      "value": "YouTube"
    }
  ]
}]]></Config>
</DataType>