{{ master_component({
  classes: '',
  item_type: "",
  item_title: "Actions",
  item_text: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.",
  item_links: [
    {
      icon_class: "email",
      href: "/",
      text: "Share this page via email",
      title: "Click here to..."
    },
    {
      icon_class: "print",
      href: "/",
      text: "Print this page",
      title: "Click here to..."
    },
    {
      icon_class: "save",
      href: "/",
      text: "Add this page to your saved searches",
      title: "Click here to..."
    },
    {
      icon_class: "share",
      href: "/",
      text: "Recommend this service",
      title: "Click here to..."
    },
    {
      icon_class: "back-arrow",
      href: "/",
      text: "Return to latest search results",
      title: "Click here to..."
    }
  ]
}) }}