<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f26731e9-4dc0-463f-b714-4768c7a1271a" Alias="cdtFooterNavigationSocialColumn" Level="2">
  <Info>
    <Name>Footer Navigation Social Column</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6de56825-6e4b-40af-894f-f28ca8c54268</Key>
      <Name>Navigation Link</Name>
      <Alias>navigationLink</Alias>
      <Definition>eb5e7430-d055-4c7a-917c-521542e59045</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These links will open in a new window/tab]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2bc77e36-e917-48b3-87f3-41f2244ca8fd</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A title shown above the list of links for this column.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>