<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4253fd4e-6326-47de-a0ae-de05f14101cd" Alias="cdtHasSearchOptions" Level="2">
  <Info>
    <Name>Has Search Options</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e4d82fea-a3bd-4e09-89fb-97291bf489ac</Key>
      <Name>Search Options</Name>
      <Alias>searchOptions</Alias>
      <Definition>cdba1dd0-b139-4c7e-ad5a-99884c4c2949</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>-10</SortOrder>
      <Tab Alias="homepageConfig">Homepage Config</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Homepage Config</Caption>
      <SortOrder>0</SortOrder>
      <Alias>homepageConfig</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>