<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1147e3c5-6eea-4d7c-8a71-c12db401df4e" Alias="cdtHasFormContent" Level="2">
  <Info>
    <Name>Has Form Content</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54c82512-788d-45e9-a7f8-e69aee4867c6</Key>
      <Name>Form Body Text</Name>
      <Alias>formBodyText</Alias>
      <Definition>9ee86578-d251-42eb-83ba-77732d6814f6</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to be shown after the form but before the submit button.]]></Description>
      <SortOrder>-500</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f55b1be-ac10-4417-8375-cb274b71ab91</Key>
      <Name>Privicy Statement</Name>
      <Alias>privicyStatement</Alias>
      <Definition>eae2d98f-5583-4606-a70f-35b3b8e637ad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text shown at the bottom of the form directing users to the privacy policy.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>-999</SortOrder>
      <Alias>content</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>