<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e3716c4-4afc-4561-a60f-dd3548651355" Alias="cdtHasListingPageConfiguration" Level="2">
  <Info>
    <Name>Has Listing Page Configuration</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c9ba3bcd-181f-4a2e-9e90-0e17e4bd0f81</Key>
      <Name>Page Size</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The number of results per page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listConfig">List Config</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>List Config</Caption>
      <SortOrder>10</SortOrder>
      <Alias>listConfig</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>