<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2134e2fc-9035-43c1-9658-e2183e179d95" Alias="cdtHasListPanel" Level="2">
  <Info>
    <Name>Has List Panel</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>491b3fb9-1620-4c0a-a4e9-afc4a8676c52</Key>
      <Name>List Panels</Name>
      <Alias>listPanels</Alias>
      <Definition>1f6bc3cc-927e-4476-8f13-131108c01516</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="listPanel">List Panel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f70566f7-80f2-44f1-8fa2-83d4816431c6</Key>
      <Name>Show Contact Panel</Name>
      <Alias>showContactPanel</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If true, a contact information panel will be shown on the right of the content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listPanel">List Panel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>List Panel</Caption>
      <SortOrder>-900</SortOrder>
      <Alias>listPanel</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>