<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74aefab0-29ff-497d-a226-c17bde544c75" Alias="cdtHasSearchSuggestions" Level="2">
  <Info>
    <Name>Has Search Suggestions</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f2729f6e-8afd-4c52-9a1f-570a78efad65</Key>
      <Name>Search Suggestions</Name>
      <Alias>searchSuggestions</Alias>
      <Definition>494aeb05-2c89-48fa-a0dc-e64b8b822d87</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set up pre configured search suggestions]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homepageConfig">Homepage Config</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Homepage Config</Caption>
      <SortOrder>0</SortOrder>
      <Alias>homepageConfig</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>