<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa6d236f-100c-46df-bbab-80f9a3886925" Alias="cdtHasGuidance" Level="2">
  <Info>
    <Name>Has Guidance</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6aee994c-c3d3-4f84-b5a6-65d726421ff8</Key>
      <Name>Guidance</Name>
      <Alias>guidance</Alias>
      <Definition>723c4473-93dd-483f-8ed0-a988a261371d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="guidance">Guidance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Guidance</Caption>
      <SortOrder>18</SortOrder>
      <Alias>guidance</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>