<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c952c48f-7289-4475-a640-4f952cd9981f" Alias="cdtHasSentMessage" Level="2">
  <Info>
    <Name>Has Sent Message</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f29c575-a5d9-4725-b09a-268c908d0af7</Key>
      <Name>Sent Body Text</Name>
      <Alias>sentBodyText</Alias>
      <Definition>9ee86578-d251-42eb-83ba-77732d6814f6</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sent">Sent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sent</Caption>
      <SortOrder>-990</SortOrder>
      <Alias>sent</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>