<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="09813dc0-dcf5-476f-bfb9-7397efc7166a" Alias="cdtHasInformationalMessage" Level="2">
  <Info>
    <Name>Has Informational Message</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e736878-6fa8-46f4-aab0-91008ac96510</Key>
      <Name>Enabled</Name>
      <Alias>enabled</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable/disable the informational message]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="informationalMessagge">Informational Messagge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>864a074c-80f5-4265-bffc-d1948c445ccc</Key>
      <Name>Message</Name>
      <Alias>message</Alias>
      <Definition>a2df6f69-ce17-48a0-86f7-192ba826972d</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="informationalMessagge">Informational Messagge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Informational Messagge</Caption>
      <SortOrder>90</SortOrder>
      <Alias>informationalMessagge</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>