<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b049ec3-5298-41be-b4f4-7ffbdc723642" Alias="ctdHasPageSummary" Level="2">
  <Info>
    <Name>Has Page Summary</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8dbca080-7351-479d-99ee-5a7dde0f1006</Key>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Definition>69bcb642-6ff6-45e5-81a4-0beaeb2e0e3b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Summary information included in a tile for this content.]]></Description>
      <SortOrder>-800</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>-999</SortOrder>
      <Alias>content</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>