<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2b7fa5b-8408-492a-a503-840e283a305f" Alias="dtAddAnOrganisation" Level="1">
  <Info>
    <Name>Add an Organisation</Name>
    <Icon>icon-add color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9e3716c4-4afc-4561-a60f-dd3548651355">cdtHasListingPageConfiguration</Composition>
      <Composition Key="e9074114-173f-464c-8262-b58467ee2b7a">cdtHasNavigation</Composition>
      <Composition Key="2809f65f-307b-4077-971f-3c77a5c5e997">cdtHasPageTitle</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
    </Compositions>
    <DefaultTemplate>DtAddAnOrganisation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7cdfa991-fcf4-4df0-ad11-29e2649aad52">DtAddAnOrganisation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>