<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2540f132-6d32-4a5d-9d9e-6a7d45314812" Alias="dtConfiguration" Level="1">
  <Info>
    <Name>Configuration</Name>
    <Icon>icon-settings-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="1575c1d7-c078-4361-a3a8-b3977a2b7163">cdtHasContactInfo</Composition>
      <Composition Key="9aa9b0c7-43b5-4ea2-a7c5-0f484de2b72b">cdtHasDataGovernance</Composition>
      <Composition Key="fa6d236f-100c-46df-bbab-80f9a3886925">cdtHasGuidance</Composition>
      <Composition Key="be9a31ba-511b-4142-b5ac-c06b889ba8d3">cdtHasOrganisationConfiguration</Composition>
      <Composition Key="b23b07ae-b18c-4800-bbf6-bc7e1568dbc7">cdtHasSearchFilters</Composition>
      <Composition Key="4311a66e-8c86-472b-998f-0ec03b7607b5">cdtHasServiceConfiguration</Composition>
      <Composition Key="455f9d7c-853c-43e1-8a30-94ebcf5ccfdb">cdtHasSiteNavigation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="44a00eef-d310-4fba-949b-db01be8a682e" SortOrder="0">dtImproveThisListing</ContentType>
    <ContentType Key="7ed99040-ae9f-40b7-bcc0-84f3636ba9ca" SortOrder="1">dtContent</ContentType>
    <ContentType Key="8427ac7f-8094-465a-be6a-868227533949" SortOrder="2">dtShareThisPage</ContentType>
    <ContentType Key="206b4de9-4fd8-49cf-a8f2-c2ce28260578" SortOrder="3">dtShareThisCollection</ContentType>
    <ContentType Key="cdd8ef66-44ee-4cf5-be94-301f86782757" SortOrder="4">dtClaimOrganisation</ContentType>
    <ContentType Key="c283027d-a6b7-41ad-8452-e32e9bffb3cf" SortOrder="5">dtManageOrganisation</ContentType>
    <ContentType Key="a0e31704-7ef3-4c2d-86f4-74ac0b39cb59" SortOrder="6">dtClaimService</ContentType>
    <ContentType Key="274aaa5b-70a5-4477-9f58-1a7d609164fa" SortOrder="7">dtManageService</ContentType>
    <ContentType Key="e8a329c1-e869-45d6-a0a0-96f2c65eed19" SortOrder="8">dtSaveThisService</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>