<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ed99040-ae9f-40b7-bcc0-84f3636ba9ca" Alias="dtContent" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Standard content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="70e24588-ab00-4856-a1c5-b933cf6cbd96">cdtHasContent</Composition>
      <Composition Key="2134e2fc-9035-43c1-9658-e2183e179d95">cdtHasListPanel</Composition>
      <Composition Key="e9074114-173f-464c-8262-b58467ee2b7a">cdtHasNavigation</Composition>
      <Composition Key="a20845be-15a5-4f03-aed2-b75f9d7748fa">cdtHasPageBanner</Composition>
      <Composition Key="2809f65f-307b-4077-971f-3c77a5c5e997">cdtHasPageTitle</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
    </Compositions>
    <DefaultTemplate>DtContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="572b5954-7b70-488a-8533-a0597977cbb5">DtContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>