<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="274aaa5b-70a5-4477-9f58-1a7d609164fa" Alias="dtManageService" Level="1">
  <Info>
    <Name>Manage Service</Name>
    <Icon>icon-client color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="70e24588-ab00-4856-a1c5-b933cf6cbd96">cdtHasContent</Composition>
      <Composition Key="1147e3c5-6eea-4d7c-8a71-c12db401df4e">cdtHasFormContent</Composition>
      <Composition Key="e9074114-173f-464c-8262-b58467ee2b7a">cdtHasNavigation</Composition>
      <Composition Key="2809f65f-307b-4077-971f-3c77a5c5e997">cdtHasPageTitle</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
      <Composition Key="c952c48f-7289-4475-a640-4f952cd9981f">cdtHasSentMessage</Composition>
    </Compositions>
    <DefaultTemplate>ClaimOrganisation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2440c849-87b3-4817-aaef-203184d271f2">ClaimOrganisation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>29440529-989a-4853-ba76-531ce8abbc85</Key>
      <Name>Data Standards</Name>
      <Alias>dataStandards</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify the data standards document]]></Description>
      <SortOrder>-700</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2868ef66-86b0-485f-a7e0-db0946d13234</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>1be68a54-8bf1-4a5c-9156-a05291267e18</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>-999</SortOrder>
      <Alias>content</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>100</SortOrder>
      <Alias>seO</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>