<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd065d87-3d2d-4625-8a3d-1a3cd01bc5a4" Alias="dtOrganisations" Level="1">
  <Info>
    <Name>Organisations</Name>
    <Icon>icon-user-females color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9e3716c4-4afc-4561-a60f-dd3548651355">cdtHasListingPageConfiguration</Composition>
      <Composition Key="e9074114-173f-464c-8262-b58467ee2b7a">cdtHasNavigation</Composition>
      <Composition Key="2809f65f-307b-4077-971f-3c77a5c5e997">cdtHasPageTitle</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
    </Compositions>
    <DefaultTemplate>DtOrganisations</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cb3b2215-6839-41f9-b662-a8b7ac26004e">DtOrganisations</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>