<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07e2d304-b121-4db2-b007-4c382f0839c3" Alias="dtServices" Level="1">
  <Info>
    <Name>Services</Name>
    <Icon>icon-donate color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Services listing page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9e3716c4-4afc-4561-a60f-dd3548651355">cdtHasListingPageConfiguration</Composition>
      <Composition Key="e9074114-173f-464c-8262-b58467ee2b7a">cdtHasNavigation</Composition>
      <Composition Key="09c87295-9944-4b42-95b6-00d8f8a89316">cdtHasSearchEngineOptimisation</Composition>
    </Compositions>
    <DefaultTemplate>DtServices</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e75c52cc-dab9-4eaf-9261-47d089394c87">DtServices</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>