<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95e64bde-e7ac-4491-8407-1cc13aaf699e" Alias="listPanelFolder" Level="1">
  <Info>
    <Name>List Panel Folder</Name>
    <Icon>icon-folder-close color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="17fe9387-c12c-489c-b2f7-ed3cbe1df2be" SortOrder="0">dtListPanel</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>