{{ master_component({
  classes: '',
  item_type: "",
  item_title: "Couldn't find your organisation?",
  item_text: "Use the button below to start the process of adding your organisation.",
  item_buttons: [
    {
      href: "/",
      classes: "btn btn--primary",
      text: "Add your organisation",
      title: "Click here to...",
      attributes: [
        {
          attribute: 'test-attribute',
          value: 'test-value'
        }
      ]
    }
  ]
}) }}