<div class="aliss-component-master aliss-component-descriptive-blocks">
  {{ master_component({
    classes: '',
    item_type: "",
    item_title: "Claim status:",
    item_text: "Unclaimed."
  }) }}

  {{ master_component({
    classes: '',
    item_type: "",
    item_title: "Last updated:",
    item_text: "17 September 2018."
  }) }}
</div>
