{# Global variables #}
  {% import "../../include/globalVariables.njk" as GV %}
{# Global variables #}
<div class="aliss-component-service-areas aliss-content-spacer">
  <div class="accordion">
    <div class="accordion__toggle">
      <p><strong>Service area(s):</strong> View all (00)</p>
    </div>
    <div class="accordion__list">
      <ul class="aliss-icon-list">
        <li class="aliss-icon-list__item aliss-icon-list__item--map">
          Dundee city.
        </li>
        <li class="aliss-icon-list__item aliss-icon-list__item--map">
          Glasgow City.
        </li>
      </ul>
    </div>
  </div>
</div>