{{ master_component({
  classes: '',
  item_type: "",
  item_title: "Was this information helpful?",
  item_text: "Please let us know if the information on this page was helpful or not so we can find out where key information can be improved.",
  item_buttons: [
    {
      href: "/",
      classes: "btn--yes",
      text: "Yes",
      title: "Click here to...",
      attributes: [
        {
          attribute: 'test-attribute',
          value: 'test-value'
        }
      ]
    },
    {
      href: "/",
      classes: "btn--no",
      text: "No",
      title: "Click here to...",
      attributes: [
        {
          attribute: 'test-attribute',
          value: 'test-value'
        }
      ]
    }
  ]
}) }}