{# Global variables #}

{# Global variables #}

<div class="aliss-organism-homepage-search">
  <div class="aliss-organism-homepage-search__block">
      <h1><span>Connecting</span> you<br> to your <span>community</span>.</h1>
      <p>Search for <span>services</span>, <span>groups</span> and <span>activities</span> in <span>Scotland</span> by entering a <span>postcode</span> or your <span>nearest town</span>.</p>
      <form class="aliss-search-form aliss-search-form--home" action="/search/">
        <fieldset>
          <label for="search-home">Search by city/town or postcode:</label>
          <div>
            <input type="text" name="search-home" id="search-home" placeholder="EG. Glasgow or G2 4AA..." value="">
            <button class="btn btn--primary" type="submit">Search</button>
          </div>
        </fieldset>
      </form>
  </div>
</div>