{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content" class="my-account">
        <div class="row title">
            <div class="columns">
                <h1>Hello, {% if request.user.name %}{{ request.user.name }}{% else %}{{ request.user.email }}{% endif %}</h1>
                <div class="buttons">
                    <a href="{% url 'account_update' %}" class="button primary">Edit Account Info</a>
                </div>
                {% if request.user.postcode %}<p>Your postcode: <strong>{{ request.user.postcode }}</strong></p>{% endif %}
            </div>
        </div>
    </section>
    <section id="my_account">
        {% if request.user.is_staff %}
            {% include 'account/partials/admin_menu.html' %}
        {% endif %}
        <div class="row my-account-links">
            <div class="columns s-3 m-3 l-3">
                {% with url_name=request.resolver_match.url_name %}
                <a href="{% url 'account_saved_services' %}" {% if url_name == 'account_saved_services' %}class="active"{% endif %}>
                    <span class="text">
                        My Saved Services
                    </span>
                </a>
            </div>
            <div class="columns s-3 m-3 l-3">
                <a href="{% url 'account_my_recommendations' %}" {% if url_name == 'account_my_recommendations' or url_name == 'account_my_recommendations_detail' %}class="active"{% endif %}>
                    <span class="text">
                        My Recommendations
                    </span>
                </a>
            </div>
            <div class="columns s-3 m-3 l-3">
                <a href="{% url 'account_my_organisations' %}" {% if url_name == 'account_my_organisations' or url_name == 'claim_create' %}class="active"{% endif %}>
                    <span class="text">
                        My Organisations
                    </span>
                </a>
            </div>
            <div class="columns s-3 m-3 l-3">
              <!--Need to add the code to link the digest view to detail view etc.  -->
                <a href="" {% if url_name == ''%}class="active"{% endif %}>
                    <span class="text">
                        My Digest
                    </span>
                </a>
                {% endwith %}
            </div>
        </div>
        <hr class = "clear"/>
        <div class="row">
            <div class="columns">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </section>
    <section class="mobile-buttons">
        <div class="row">
            <div class="columns">
                <a href="{% url 'account_update' %}" class="button primary">Edit Account Info</a>
                <a href="{% url 'logout' %}" class="button secondary">Logout</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
