{% extends "account/admin_base.html" %}

{% block content %}
  <div class="row">
    <div class="admin-actions">
      <div class="info-box small toggled" id="user_actions">
        <div class="heading">
          <h4 id="user_actions_toggle" class="toggle-heading">Actions</h4>
        </div>
        <div class="actions toggle-content">
          {% if request.user.is_staff %}
            {% if object.is_editor %}
              <form method='post' action="{% url 'account_is_editor' pk=object.pk %}">
                {% csrf_token %}
                <input type='hidden' name='next' value="{{ request.get_full_path }}" />
                <button type="submit" class="txt-button alert icon-link">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                  Cancel editorial privilege
                </button>
              </form>
            {% else %}
              <form method='post' action="{% url 'account_is_editor' pk=object.pk %}">
                {% csrf_token %}
                <input type='hidden' name='next' value="{{ request.get_full_path }}" />
                <button type="submit" class="txt-button icon-link">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                  Make user editor
                </button>
              </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="columns content">
      <div class="copy-container">
        {% if object.username %}
          <h2>{{ object.username }}</h2>
          <p><a title="Click here to email: {{ object.email }} (This will open your email client)." href="mailto:{{ object.email }}">{{ object.email }}</a></p>
        {% else %}
          <h3><a title="Click here to email: {{ object.email }} (This will open your email client)." href="mailto:{{ object.email }}">{{ object.email }}</a></h3>
        {% endif %}
        <p>{{ object.date_joined }}</p>

        {% if object.created_services.all %}
          <h4>Created Services:</h4>
          <ul>
          {% for service in object.created_services.all %}
            <li><a title="Click here for further information on {{ service.name }}." href="{% url 'service_detail' service.id %}">{{ service.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if object.updated_services.all %}
          <h4>Updated Services:</h4>
          <ul>
          {% for service in object.updated_services.all %}
            <li><a title="Click here for further information on {{ service.name }}." href="{% url 'service_detail' service.id %}">{{ service.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if object.created_organisations.all %}
          <h4>Created Organisations:</h4>
          <ul>
          {% for organisation in object.created_organisations.all %}
            <li><a title="Click here for further information on {{ organisation.name }}." href="{% url 'organisation_detail' organisation.id %}">{{ organisation.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if object.updated_organisations.all %}
          <h4>Updated Organisations:</h4>
          <ul>
          {% for organisation in object.updated_organisations.all %}
            <li><a title="Click here for further information on {{ organisation.name }}" href="{% url 'organisation_detail' organisation.id %}">{{ organisation.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
