{% extends "account/admin_base.html" %}
{% load aliss %}

{% block content %}
  <div class="row edit-users">
    <div class="columns">
      <h4>Users</h4>
      <ul class="claim-type">
        <li>
          <a title="The editor count is: {{ editor_count }}." href="{% query_transform request editor='true' page=None %}" {% if request.GET.editor == 'true' %}class="active"{% endif %}>Editors ({{ editor_count }})</a>
        </li>
        <li>
          <a title="The non-editor count is: {{ user_count }}." href="{% query_transform request editor='false' page=None %}" {% if request.GET.editor == 'false' %}class="active"{% endif %}>Non-editors ({{ user_count }})</a>
        </li>
      </ul>
      <div class="filter user-search">
        <form>
          <label>Search users:</label>
          <div class="sbs-inputs">
            <input name="q" type="text" placeholder="e.g. John Smith" value="{{ request.GET.q }}">
            <input type="submit" class="secondary" value="Search">
          </div>
        </form>
      </div>
      <div class="content-table">
        <table class="users-listing">
          <thead>
            <tr>
              <td>Name</td>
              <td>Email Address</td>
              <td>Postcode</td>
              <td>Date Joined</td>
              <td align="center">Orgs claimed</td>
              <td align="center">Orgs created</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for user in object_list %}
              <tr>
                <td><a title="{{ user.name }}" href="{% url 'account_detail' pk=user.pk %}">{{ user.name }}</a></td>
                <td><a title="{{ user.email }}" href="{% url 'account_detail' pk=user.pk %}">{{ user.email }}</a></td>
                <td>{{ user.postcode }}</td>
                <td>{{ user.date_joined|date:"j M Y" }}</td>
                <td align="center">{{ user.claimed_organisations.count }}</td>
                <td align="center">{{ user.created_organisations.count }}</td>
                <td><a title="Click here for more details." id="user-{{user.pk}}_modal" class="button primary">Show details</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include 'partials/pagination.html' with page=page_obj paginator=paginator  %}
    </div>
  </div>

  <div class="black"></div>
  <div class="user-modals">
    {% for user in object_list %}
    <div class="modal" id="user-{{user.pk}}">
    <div class="pad">
      <div class="heading">
        <a title="Click here to close this modal." id="user-{{user.pk}}_modal_close" role="button" tabindex="0" class="close alert icon-link">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
          Close
        </a>
        <h5>{{ user.name }} ({{ user.email }})</h5>
      </div>
      <br class="clear"/>
      <div class="row">
        <div class="s-12 m-6 l-6">
          <p>Postcode: {{ user.postal_code }}</p>
          <p>Phone no: {{ user.phone }}</p>
        </div>
        <div class="s-12 m-6 l-6">
          <p>Is staff? {{ user.is_editor }}</p>
          <p>Is editor? {{ user.is_staff }}</p>
        </div>
      </div>
      <hr class="clear"/>
      <div class="row">
        <div class="s-12 m-6 l-6">
          <p><b>Organisations created</b></p>
          {% for org in user.created_organisations.all %}
            <p><a title="{{ org.name }}" target="_blank" href="{% url 'organisation_detail' pk=org.pk %}">{{ org.name }}</a></p>
          {% endfor %}
        </div>
        <div class="s-12 m-6 l-6">
          <p><b>Organisations claimed</b></p>
          {% for org in user.claimed_organisations %}
            <p><a title="{{ org.name }}" target="_blank" href="{% url 'organisation_detail' pk=org.pk %}">{{ org.name }}</a></p>
          {% endfor %}
        </div>
      </div>
      <br class="clear"/>
    </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
