{% extends "base.html" %}

{% block title %}Log In - ALISS{% endblock %}
{% block meta_schema %}
  <meta property="og:title" content="Log In - ALISS" />
  <meta name="twitter:title" content="Log In - ALISS" />
{% endblock %}

{% block container %}
<main class="main" role="main">
  <section id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container">
          <h3>
          {% url 'potential_create' as src %}
          {% if request.GET.next == src %}
            Before adding an organisation you will need to <a title="Click here to sign up." href="{% url 'signup' %}">sign up</a> or login:
          {% else %}
            Not got an account? <a title="Click here to sign up." href="{% url 'signup' %}">Sign up</a>
          {% endif %}
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section id="login">
    <div class="row">
      <div class="columns">
        <div class="login">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="info-box">
              <div class="heading">
                <h4>Login details</h4>
              </div>
              {% if form.non_field_errors %}
                <div class="f-error all content">
                  <ul>
                    {% for item in form.non_field_errors %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <label for="id_username">
                Email
                <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="2" title="Please ensure email address is the correct combination of uppercase and lowercase i.e. example@aliss.org is not the same as Example@aliss.org">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>
              </label>
              {{ form.username }}
              {{ form.password.label_tag }}
              {{ form.password }}
              <p>
                <div class="checkbox-agree">
                  <label>
                    <input type="checkbox" name="remember_me">
                    Remember Me
                  </label>
                </div>
              </p>
              <p><a title="Click here if you have forgotten your password." href="{% url 'password_reset' %}">I've forgotten my password</a></p>
            </div>
            <input type="submit" value="Log in">
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
        </br>
        <div class="copy-container">
          <h3>Having issues logging in? <a title="Click here for assistance if you are having issues logging in." href="mailto:hello@aliss.org" >hello@aliss.org</a></h3>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
