{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Logged out</h1>
                    <p>You have been logged out.</p>
                    <div class="buttons">
                        <a href="{% url 'homepage' %}" class="button primary">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
