{% extends "account/base.html" %}
{% load aliss %}

{% block content%}
<h4>My Digest</h4>
<div class=my-digest-details>
  <p>Test</p>
  {% if not saved_services.all %}
  <div class="updated-digest-list none">
    <p>You haven't saved any services yet.</p>
    <p><a href="{% url 'homepage' %}">Start Searching</a></p>
  </div>
  {% else %}
  <div class="updated-digest-list">
    <p>Test 2</p>
    <ul class="updated-services">
      {% for service in saved_services.all %}
        <p>{{ service.name }}</p>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% endblock %}
