{% extends "account/base.html" %}
{% load aliss %}
{% block content%}

<h2>New Services</h2>
<div class="copy-container">
  <p>Keep up to date with new services. Get notifications about new services by selecting postcodes and categories that you're interested in.</p>
</div>

<div class="my-account-details">
  <div class=my-digest-details>
    {% if not selected_updated %}
      <div class="updated-digest-list none">
        <p><b>You haven't selected any postcode areas to form your notification yet.</b></p>
      </div>
      <hr class="clear" />
      <a href="{% url 'account_create_my_digest' %}" class="button primary">Create new notification</a>
    {% else %}
      <div class="account-list">
        <ul class="search-results">
          {% for selection_option in selected_updated %}
            <li>
              <div class="heading">
                <form method='post' action="{% url 'account_my_digest_delete' selection_option.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="txt-button alert icon-link">
                    <span class="icon">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                    Remove
                  </button>
                </form>
                <h5>Postcode: {{selection_option|get_item:"Postcode"}}, Category: {{selection_option|get_item:"Category"}}</h5>
              </div>
              <div>
                  {% if not selection_option|get_item:"values" %}
                    <p>No new services in this digest in the last week.</p>
                  {% else %}
                    {% for service in selection_option|get_item:"values" %}

                        <p class="org"><a href="{% url 'service_detail' pk=service.id %}">{{ service.name }}</a></p>
                        <p>Created On: <span class="updated alert">{{ service.created_on|format_time_string }} </span></p>

                      {% endfor %}
                  {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <hr class="clear" />
      <a href="{% url 'account_create_my_digest' %}" class="button primary">Add   selection to notifications</a>
    {% endif %}
  </div>
</div>
{% endblock %}
