{% extends "account/base.html" %}

{% block content %}
<h4>My Organisations</h4>
<div class="copy-container">
    <p>If you are a member of an organisation, you can search for them below then request to represent them. Once approved by the ALISS moderation team, you will be able to update your organisation’s details and services.</p>
</div>
<div class="my-account-details">
    {% if object_list %}
        <div class="account-list">
            <ul class="rep-organisations">
                {% for claim in object_list %}
                    <li>
                        <div class="heading">
                            <a href="{% url 'claim_delete' pk=claim.pk %}" class="alert icon-link">
                                <span class="icon">
                                    <i class="fas fa-minus-hexagon"></i>
                                </span>
                                Stop Representing
                            </a>
                            <a href="{% url 'organisation_detail' pk=claim.organisation.pk %}"><h3>{{ claim.organisation.name }}</h3></a><span class="claimed">Claimed</span>
                        </div>
                        <p>Last updated <span class="updated">{{ claim.organisation.updated_on }}</span></p>
                    </li>
                {% endfor %}
            </ul>
            <div class="actions">
                <a href="{% url 'organisation_search' %}">Represent another org</a>
            </div>
        </div>
        <div class="screen-info">
            <a href="{% url 'organisation_search' %}" class="button primary">Represent another org</a>
        </div>
    {% else %}
        <div class="account-list none">
            <p>You are not currently representing any organisations</p>
            <p><a href="{% url 'organisation_search' %}">Add your organisation</a></p>
        </div>
        <div class="screen-info">
            <a href="{% url 'organisation_search' %}" class="button primary">Add your organisation</a>
        </div>
    {% endif %}
</div>
{% endblock %}