{% extends "account/base.html" %}

{% block content %}
<h4>My Organisations</h4>
<p><a title="Click here to add or edit an organisation." href="{% url 'potential_create' %}">Add or edit another organisation</a></p>
<table class="stack">
  <thead>
    <tr>
      <th width="">Name</th>
      <th width="">No. of services</th>
      <th width="">Last updated</th>
      <th width="">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list or orgs_list %}
    {% for claim in object_list %}
    <tr>
      <td>
        <a title="Click here for further information on {{ claim.organisation.name }}." href="{% url 'organisation_detail' pk=claim.organisation.pk %}">{{ claim.organisation.name }}
        </a>
      </td>
      <td>
        {% if claim.organisation.services.count > 0 %}
          {{ claim.organisation.services.count }}
        {% else %}
          <span style="color:red;">{{ claim.organisation.services.count }}
            <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="2" title="Until you add services that belong to the organisation it won't be published on ALISS.">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span></span>
        {% endif %}
      </td>
      <td>{{ claim.organisation.last_edited }}</td>
      <td>
        <a title="Click here to edit this organisation." href="{% url 'organisation_edit' pk=claim.organisation.pk %}">
          <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </a>&nbsp;
        <a title="Click here to stop representing this organisation." href="{% url 'claim_delete' pk=claim.pk %}" class="alert">
          <i class="fas fa-minus-hexagon"></i> Stop representing
        </a>&nbsp;
        <a title="Click here to add a service." href="{% url 'service_create' pk=claim.organisation.pk %}">
          <i class="fa fa-plus" aria-hidden="true"></i> Add service
        </a>
      </td>
    </tr>
    {% endfor %}
    {% for organisation in orgs_list %}
      {% include 'organisation/partials/row.html' with organisation=organisation %}
    {% endfor %}
    {% else %}
      <tr><td colspan="4">
        <p class="center">
          You are not currently representing any organisations<br/>
          <a title="Click here to add an organisation." href="{% url 'potential_create' %}">Add an organisation</a>
        </p>
      </td></tr>
    {% endif %}
    {% if last_edited %}
      <tr>
      <td colspan="4" class="white-bg">
        <h5 class=""><i class="fa fa-edit"></i> Last edited by you</h5>
      </td>
      </tr>
    {% for organisation in last_edited %}
      {% include 'organisation/partials/row.html' with organisation=organisation %}
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
