{% extends "account/base.html" %}

{% block content %}
<div class="black"></div>
<h4>My Recommendations</h4>
<div class="copy-container">
    <p>Create recommendation lists of services for people who need support. You can then share that list with them.</p>
</div>
<div class="my-account-details">
    {% if recommended_service_lists %}
        <div class="account-list">
            <ul class="recommendations-lists">
                {% for recommendation_list in recommended_service_lists %}
                    <div class="modal" id="email_list_{{ recommendation_list.pk }}">
                        <div class="pad">
                            <div class="heading">
                                <a title="Click here to close this modal." role="button" id="email_recommendation_modal_close" tabindex="0" class="close alert icon-link">
                                    <span class="icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    Close
                                </a>
                                <h5>Email recommendations</h5>
                            </div>
                            {% if not recommendation_list.services.all%}
                            <div class="form">
                              <p>You haven't recommended any services for {{recommendation_list.name}} yet.</p>
                              <p><a title="Click here to navigate to the homepage." href="{% url 'homepage' %}">Start Searching</a></p>
                            </div>
                            {% else %}
                            <div class="form">
                                <form method="post" action="{% url 'account_my_recommendations_email' %}">
                                    {% csrf_token %}
                                    <label for="email">Enter an email address to send your recommendations for {{ recommendation_list.name }}:</label>
                                    <input name="recommendation_list" type="hidden" value="{{ recommendation_list.pk }}">
                                    <input name="email" type="email" placeholder="email@company.com" required>
                                    <input type="submit" class="secondary" value="Send">
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <li>
                        <div class="heading">
                            <a title="Click here to delete your recommendations list." id="delete_recommendation_list_{{ recommendation_list.pk }}_modal" class="alert icon-link">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                Delete
                            </a>
                            <a title="Recommended for {{ recommendation_list.name }}" href="{% url 'account_my_recommendations_detail' pk=recommendation_list.pk %}"><h3>Recommended for {{ recommendation_list.name }}</h3></a>
                        </div>
                        <div class="modal" id="delete_recommendation_list_{{ recommendation_list.pk }}">
                            <div class="pad">
                                <div class="heading">
                                    <a title="Click here to close this modal." role="button" id="delete_recommendation_list_close" tabindex="0" class="close alert icon-link">
                                        <span class="icon">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        Close
                                    </a>
                                    <h5>Delete Recommendation List</h5>
                                </div>
                                <div class="content">
                                    <p>Are you sure you want to delete your Recommendation list for {{ recommendation_list.name }}?</p>
                                    <div class="buttons">
                                        <form method="post" action="{% url 'account_my_recommendations_delete' pk=recommendation_list.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="button alert" value="Delete">
                                            <a title="Cancel the deletion of this recommendation list." role="button" tabindex="0" id="delete_recommendation_list_cancel" class="button secondary cancel">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>{{ recommendation_list.services.count }} Service{{ recommendation_list.services.count|pluralize }}</p>
                        <div class="options">
                            <!-- <a href="#" class="icon-link disabled"> -->
                            <a title="Click here to email your recommendations." id="email_list_{{ recommendation_list.pk }}_modal" class="icon-link">
                                <span class="icon">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                Email recommendations
                            </a>
                            <a title="Click here to print your recomendations." onclick="frames['recommendation_list_{{ recommendation_list.pk }}'].print()" class="icon-link">
                                <span class="icon">
                                    <i class="fas fa-print"></i>
                                </span>
                                Print recommendations
                            </a>
                            <iframe src="{% url 'account_my_recommendations_detail' pk=recommendation_list.pk %}" name="recommendation_list_{{ recommendation_list.pk }}" style="display:none !important"></iframe>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="account-list none">
            <p>You haven’t created any recommendation lists yet.</p>
        </div>
    {% endif %}
    <div class="screen-info">
        <h5>Create a recommendations list</h5>
        <div class="form">
            <form method="post">
                {{ form.errors }}
                {% csrf_token %}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}{% if form.name.required %} <span>(required)</span>{% endif %}</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="f-error">
                    {% for error in form.name.errors %}
                        {{ error }}<br />
                    {% endfor %}
                    </div>
                {% endif %}
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</div>
{% endblock %}
