{% extends "account/base.html" %}
{% load aliss %}

 {% block content %}
<h4>My Services to Review</h4>
<div class="copy-container">
    <p>Any services which you maintain which haven't been updated in the last six weeks will appear here. If any of the listed details have changed and or are not correct you can select 'Review Service' to make the necessary edits. If all of the service information is correct you can 'Confirm' the information so that the service won't appear here for another six weeks.</p>
</div>
<div class="my-account-details">
    {% if not services_to_review.all %}
        <div class="account-list none">
            <p>You have no services to review.</p>
            <p><a href="{% url 'homepage' %}">Start searching</a></p>
        </div>
    {% else %}
        <div class="account-list">
            <ul class="search-results">
                {% for service in services_to_review.all %}
                    <li>
                        <div class="heading">
                          <a href="{% url 'service_detail' pk=service.pk %}"><h3>{{ service.name }}</h3></a>
                        </div>
                        <p class="org">by <a href="{% url 'organisation_detail' pk=service.organisation.pk %}">{{ service.organisation.name }}</a> {% if service.organisation.claimed_by %}<span class="claimed">Claimed</span></p>{% endif %}
                        <p>Last updated: <span class="updated alert">{{ service.last_edited }}</span></p>

                         <div class="assigned-category">
                            {% for category in service.categories.all %}
                                <span class="name">
                                    {{ category.name }}
                                </span>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>

                         {% include 'service/partials/locations.html' with locations=service.locations.all %}

                         <ul class="contact-info">
                            {% if service.phone %}<li>{{ service.phone }}</li>{% endif %}
                            {% if service.url %}<li><a href="{{ service.url }}">Website</a></li>{% endif %}
                            {% if service.service_areas.all %}<li class="service-areas"><a>Service areas</a></li>{% endif %}
                        </ul>
                        {% if service.service_areas.all %}
                            <div class="service-areas-list">
                                <p>{% for area in service.service_areas.all %}{{ area.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            </div>
                        {% endif %}
                        <div class="edit-options">
                          <a href="{% url 'service_edit_redirect_review' pk=service.pk %}" class=" delete icon-link">
                            <span class="icon">
                              <i class="fas fa-pencil-alt"></i>
                            </span>
                            Edit Service
                          </a>
                          <form method='post' action="{% url 'account_my_reviews_approve' pk=service.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="txt-button secondary icon-link" style="margin-top: 0rem;">
                              <span class="icon">
                                <i class="fas fa fa-thumbs-up"></i>
                              </span>
                              Confirm
                            </button>
                          </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="screen-info">
        </div>
    {% endif %}
{% endblock %}
