{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h1>Password Reset Confirm</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="large-form">
        <div class="row">
            <div class="columns">
                <form method="post">
                    <div class="f-row two">
                        <div>
                            {% csrf_token %}
                            {{ form }}
                        </div>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Reset Password">
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
