{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Password reset done</h1>
                    <p>We have sent you an email containing instructions for how to reset your password.  Please open the email and click on the link to reset your password.</p>
                    <p><i class="fa fa-info-circle" aria-hidden="true"></i> Please check your spam folder, just in case the email arrives there.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
