{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Your password has been reset</h1>
                    <p>You can now <a title="Click here to navigate to the login page." href="{% url 'login' %}">login</a> using your new password</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
