{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Email sent</h1>
                    <p>Your recommendation list was sent successfully!</p>
                    <a title="Click here to go back to your account details." href="{% url 'account_saved_services' %}">Go back to account details</a> |
                    <a title="Click here to go back to your recommendations." href="{% url 'account_my_recommendations' %}">Go back to my recommendations</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
