{% extends "account/base.html" %}

{% block content %}
  <div class="black"></div>
  <div class="modal" id="email_list">
    <div class="pad">
      <div class="heading">
        <a title="Click here to close this modal." role="button" id="email_list_modal_close" tabindex="0" class="close alert icon-link">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
          Close
        </a>
        <h5>Email recommendations</h5>
      </div>
      <div class="form">
        <form method="post" action="{% url 'account_my_recommendations_email' %}">
          {% csrf_token %}
          <label for="email">Enter an email address to send your recommendations for {{ recommendation_list.name }}:</label>
          <input name="recommendation_list" type="hidden" value="{{ recommendation_list.pk }}">
          <input name="email" type="email" placeholder="email@company.com" required>
          <input type="submit" class="secondary" value="Send">
        </form>
      </div>
    </div>
  </div>
  <div class="breadcrumbs">
    <a title="Click here to view your recommendations." href="{% url 'account_my_recommendations' %}">My recommendations</a>
    <span class="sep"></span>
    <span>Recommended for {{ object.name }}</span>
  </div>
  <div class="copy-container">
  </div>
  <div class="my-account-details">
    {% if services.all %}
      <div class="account-list">
        <ul class="search-results">
          {% for service in services.all %}
            <li>
              <div class="heading">
                <form method='post' action="{% url 'account_my_recommendations_remove_service' %}">
                  {% csrf_token %}
                  <input type='hidden' name='service' value="{{ service.pk }}" />
                  <input type='hidden' name='recommendation_list' value="{{ object.pk }}" />
                  <input type='hidden' name='next' value="{{ request.get_full_path }}" />
                  <button type="submit" class="txt-button alert icon-link">
                    <span class="icon">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                    Remove
                  </button>
                </form>
                <a title="Click here for further information on {{ service.name }}." href="{% url 'service_detail' pk=service.pk %}"><h3>{{ service.name }}</h3></a>
              </div>
              <p class="org">by <a title="Click here for further information on {{ service.organisation.name }}." href="{% url 'organisation_detail' pk=service.organisation.pk %}">{{ service.organisation.name }}</a> {% if service.organisation.claimed_by %}<span class="claimed">Claimed</span>{% endif %}</p>
              <p class="last-updated">Last Updated <span class="updated alert">{{ service.last_edited }}</span></p>
              <div class="assigned-categories">
                {% for category in service.categories.all %}
                  <span class="name">
                    {{ category.name }}
                  </span>
                  {% if not forloop.last %},{% endif %}
                {% endfor %}
              </div>

              {% include 'service/partials/locations.html' with locations=service.locations.all %}

              <ul class="contact-info">
                {% if service.phone %}<li>{{ service.phone }}</li>{% endif %}
                {% if service.url %}<li><a title="Click here to view this services website." href="{{ service.url }}">Website</a></li>{% endif %}
                {% if service.service_areas.all %}<li class="service-areas"><a>Service Areas</a></li>{% endif %}
              </ul>
              {% if service.service_areas.all %}
                <div class="service-areas-list">
                  <p>{% for area in service.service_areas.all %}{{ area.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <div class="actions">
          <a title="Click here to email recommendations." id="email_list_modal" role="button" tabindex="0" class="icon-link">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            Email recommendations
          </a>
          <a title="Click here to print your recomendations." href="javascript:window.print();" class="icon-link">
            <span class="icon">
              <i class="fas fa-print"></i>
            </span>
            Print recommendations
          </a>
        </div>
      </div>
    {% else %}
      <div class="account-list none">
        <p>You haven't recommended any services for {{ object.name }} yet.</p>
        <p><a title="Click here to start searching." href="{% url 'homepage' %}">Start Searching</a></p>
      </div>
    {% endif %}
    <div class="back">
      <a title="Click here to navigate back to your recommendations." href="{% url 'account_my_recommendations' %}" class="back-link"><span class="icon"></span> Back to recommendations</a>
    </div>
  </div>
{% endblock %}
