{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Sign up</h1>
                    <p>You have been signed up and logged in successfully!</p>
                    <a href="{% url 'organisation_create' %}" class="button primary">Add an Organisation</a>
                    </br>
                    <a href="{% url 'account_saved_services' %}">Go to My Account</a>
                    </br>
                    <div class="info-box small toggled" id="service_actions">
                        <div class="heading">
                            <h4 id="service_actions_toggle" class="toggle-heading">Add a Service</h4>
                        </div>
                        <div class="actions toggle-content">
                          <p>You will first need to add the organisation that provides service</p>
                          </div>
                    </div>
                    </br>
                    <a href="{% url 'search' %}" >Start a New Search</a>
                    </br>
                    <a id="back_to_seach" style = "display:none">Back To Last Search</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block before_body_close %}
  <script type="text/javascript">
    $(document).ready(function(){
      searchURL = localStorage.getItem('searchURL')
      if (searchURL != null){
        $('#back_to_seach').attr('href', searchURL).show()
      }
    })
  </script>
{% endblock%}
