{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
  <section id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container" style="min-height: 350px;">
          <h1>Sign up</h1>
          <p>You have been signed up and logged in successfully!</p>

          <div class="info-box small toggled" id="service_actions">
            <div class="heading">
              <h4 id="service_actions_toggle" class="toggle-heading">Get started</h4>
            </div>

            <div class="actions toggle-content">

              <a title="Click here to start a new search." href="/" class="icon-link">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
              Start a new search
              </a>

              <a title="Click here to go back to your last search." id="back_to_seach" class="icon-link" style="display:none">
              <span class="icon">
                <i class="fas fa-arrow-left"></i>
              </span>
              Back to last search
              </a>

              <a title="Click here to add an organisation." href="{% url 'potential_create' %}" class="icon-link">
              <span class="icon">
                <i class="far fa-handshake"></i>
              </span>
              Add an organisation
              </a>

              <a title="Click here to add a service." class="icon-link" id="add_service">
              <span class="icon">
                <i class="far fa-paper-plane"></i>
              </span>
              Add a service
              </a>

              <p id="add_explanation" style="display:none">
              You will first need to <a title="Click here to add an organisation." href="{% url 'potential_create' %}">add the organisation</a> that provides the service.
              </p>

              <!-- TODO: Add a service to a new organisation -->
              <!-- TODO: Add a service to an existing organisation -->

              <a title="Click here for further information on navigate to your account." href="{% url 'account_saved_services' %}" id="back_to_seach" class="icon-link">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              Go to my account
              </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
{% endblock %}

{% block before_body_close %}
  <script type="text/javascript">
  $(document).ready(function(){
    searchURL = localStorage.getItem('searchURL');
    if (searchURL != null){
    $('#back_to_seach').attr('href', searchURL).show()
    }

    $('#add_service').on('click', function(){
    $('#add_explanation').toggle()
    })
  })
  </script>
{% endblock%}
