{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container" style="min-height: 350px;">
                    <h1>Sign up</h1>
                    <p>You have been signed up and logged in successfully!</p>
                    <a href="{% url 'account_saved_services' %}">Go to My Account</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
