{{ master_component({
  classes: '',
  item_type: "",
  item_title: "Can you help improve this listing?",
  item_text: "Your feedback can help us improve the information provide on this listing.",
  item_buttons: [
    {
      href: "/",
      classes: "btn btn--primary",
      text: "Improve listing",
      title: "Click here to...",
      attributes: [
        {
          attribute: 'test-attribute',
          value: 'test-value'
        }
      ]
    }
  ]
}) }}