{% extends "base.html" %}
{% load static %}

{% block title %}404 - ALISS{% endblock %}
{% block meta_schema %}
    <meta property="og:title" content="404 - ALISS" />
    <meta name="twitter:title" content="404 - ALISS" />
{% endblock %}

{% block container %}
<main class="main" role="main">
    <section id="error">
        <div class="row">
            <div class="columns">
                <div class="copy-container">
                    <h1>Sorry, we couldn't find that page.</h1>
                    <p>We couldn't find the page you're looking for, it may have been moved or deleted. If you're looking for a service you expected to be here and represent the organisation who facilitates that service, you can help us by adding it back in:</p>
                </div>
                <div class="buttons">
                    <a title="Click here to navigate back to the homepage." href="{% url 'signup' %}" class="button primary">Sign Up</a>
                    <a title="Click here to navigate back to the homepage." href="{% url 'homepage' %}" class="button secondary">Go to homepage</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
