{% extends "base.html" %}
{% load static %}

{% block container %}
<main class="main" role="main">
    <section id="error">
        <div class="row">
            <div class="columns">
                <div class="copy-container">
                    <h1>Sorry, something went wrong.</h1>
                    <p>We seem to having some technical difficulties. If the problem persists, please email <a href="mailto:hello@aliss.org">hello@aliss.org</a>.</p>
                </div>
                <div class="buttons">
                    <a href="{% url 'homepage' %}" class="button primary">Go to homepage</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
