{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <title>{% block title %}ALISS{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block meta_schema %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- Javacript -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

    {% block before_head_close %}
    {% endblock %}
</head>
<body>
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script type="text/javascript">
        $('#id_locations').select2();
        $('#id_service_areas').select2();
    </script>
    {% block header %}
        {% include 'partials/header.html' %}
    {% endblock %}

    {% include 'partials/messages.html' %}

    {% block container %}
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}

    <!-- Javacript -->

    {% block before_body_close %}
    {% endblock %}
</body>
</html>
