{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <title>{% block title %}ALISS{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% block before_head_close %}
    {% endblock %}
</head>
<body>
    {% block header %}
        {% include 'partials/header.html' %}
    {% endblock %}

    {% block container %}
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}

    <!-- Javacript -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {% block before_body_close %}
    {% endblock %}
</body>
</html>
