{% extends "base.html" %} {% load static %} {% block title %}Help Center{% endblock %} {% block meta_schema %}
<meta property="og:title" content="Help - ALISS" />
<meta name="twitter:title" content="Help - ALISS" />
<meta name="description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">
<meta property="og:description" content="We believe that people of Scotland should be able to access the information they need to help them live well." />
<meta name="twitter:description" content="We believe that people of Scotland should be able to access the information they need to help them live well." /> {% endblock %} {% block container %}
<main class="main" role="main">
    <section id="banner">
        <div class="banner" style="background-image: url('{% static 'img/alliance.jpg' %}');">
            <img alt="" src="{% static 'img/alliance.jpg' %}">
        </div>
    </section>
    <article id="content">
        <div class="row">
            <div class="columns content" style="margin-left: 200px;">
                <div class="copy-container">

                    <h1 style="text-align: center;">Help Center</h1>
                    <h3 style="text-align: center;">ALISS Users responsability</h3>

                    <p style="font-size: 18px;">
                        Owner: Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid saepe eius delectus laboriosam! Perferendis amet laborum dolore ad magni et asperiores rem, optio repellat repellendus dignissimos laboriosam exercitationem molestiae quod.
                    </p>
                    <p style="font-size: 18px;">
                        Managers: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tenetur itaque impedit odit pariatur, cum incidunt minima voluptates sapiente quam?
                    </p>

                    <p style="font-size: 18px;">
                        Site managers: Lorem ipsu dolor sit amet consectetur adipisicing elit. Fugiat consectetur odit quos dolorem qui eos? Nobis possimus natus enim vitae laudantium culpa architecto deserunt beatae.

                    </p>
                    <p style="font-size: 18px;">To see a summary of the different capabilities of each type of user, view the chart below:</p>



                    <table>

                        <tr style="   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <th style="text-align: left;">Capability</th>
                            <th style="text-align: left;">Owner</th>
                            <th style="text-align: left;">Manager</th>
                            <th style="text-align: left;">Editor</th>
                            <th style="text-align: left;">User</th>
                        </tr>
                        <tr>
                            <td style="font-size: 15px; ">Add and remove users</td>

                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;">&#10004;</td>

                        </tr>
                        <tr>

                            <td style="font-size: 15px; ">Update certain location settings
                                <td style="font-size:100%;color:black;">&#10004;</td>


                                <td style="font-size:100%;color:black;">&#10004;</td>


                                <td style="font-size:100%;color:black;">&#10004;</td>


                                <td style="font-size:100%;color:black;">&#10004;</td>

                        </tr>
                        <tr>
                            <td style="font-size: 15px;">Edit Service </td>
                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;"></td>
                        </tr>
                        <tr>
                            <td style="font-size: 15px;">Edit phone number and mail</td>
                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;">&#10004;</td>

                        </tr>
                        <tr>
                            <td style="font-size: 15px;">Edit Organisation</td>
                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;">&#10004;</td>
                        </tr>
                        <tr>
                            <td style="font-size: 15px;">Can edit and add Locations</td>
                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;">&#10004;</td>
                        </tr>
                        <tr>
                            <td style="font-size: 15px;">Can edit Claim</td>
                            <td style="font-size:100%;color:black;"></td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;">&#10004;</td>


                            <td style="font-size:100%;color:black;"></td>
                        </tr>
                    </table>
                    <br>
                    <p>ALISS key objectives are:</p>
                    <ul>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eius.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis nam dolorem cum repudiandae dolor magnam culpa, doloribus odit dolore ullam ex unde ratione, voluptas facere neque quasi sequi hic.</li>

                    </ul>
                    <br/>
                    <h5>Contact us</h5>
                    <p><strong>Email:</strong> <a title="Click here to contact us on email at hello@aliss.org (This will open your email client)." href="mailto:hello@aliss.org">hello@aliss.org</a>
                        <br/><strong>Phone:</strong> 0141 4040239</p>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}