{% extends "base.html" %}

{% block title %}ALISS - Community Health & Wellbeing Information | Social Care in Scotland{% endblock %}
{% block meta_schema %}
  <meta property="og:title" content="ALISS - A Local Information System for Scotland" />
  <meta name="twitter:title" content="ALISS - A Local Information System for Scotland" />
  <meta name="description" content="ALISS (A Local Information System for Scotland) is a service to help you find help and support close to you when you need it most.">
  <meta property="og:description" content="ALISS (A Local Information System for Scotland) is a service to help you find help and support close to you when you need it most." />
  <meta name="twitter:description" content="ALISS (A Local Information System for Scotland) is a service to help you find help and support close to you when you need it most." />
{% endblock %}

{% block before_head_close %}
  <section id="skip-content">
    <a class="skip-content" href="#search">Skip to Search</a>
  </section>
{% endblock%}

{% block container %}
<main class="main" role="main">
  <section id="search">
    <div class="bg"></div>
    <div class="row">
      <div class="columns">
        <h1>Connecting Communities</h1>
        <label for="postcode">Enter a placename or postcode to search for support in housing, health and much more:</label>
        <div class="search-box">
          <div class="search-holder sbs-inputs">
            <form action="{% url 'search' %}">
              <input aria-label="Postcode to search" class="postcode" type="text" name="postcode" id="postcode" placeholder="e.g. Glasgow or G2 4AA" {% if request.user.postcode and request.user.prepopulate_postcode %}value="{{ request.user.postcode }}"{% endif %}>
              <div class="search-button">
                <button type="submit"><span>Search</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="center-section">
    <div class="row section-title">
      <div class="columns">
        <h3>What is ALISS?</h3>
        <p>ALISS (A Local Information System for Scotland) is a service to help you find help and support close to you when you need it most.</p>
      </div>
    </div>
    {% include 'partials/for-not-for.html' %}
    <div class="row buttons">
      <div class="columns">
        <a titloe="Find out more about who we are and what we do." href="{% url 'about' %}" class="button secondary">More about us</a>
      </div>
    </div>
  </section>
  {% if not request.user.is_authenticated %}
    <section class="center-section">
      <div class="row section-title">
        <div class="columns">
          <h3>Join the ALISS community</h3>
          <p>Joining ALISS allows you to receive notifications about new services in your area, get updates if a service you frequent is changed and more.</p>
        </div>
      </div>
      <div class="row buttons">
        <div class="columns">
          <a title="Click here to join the ALISS community, you can sign up by following this link." href="{% url 'signup' %}" class="button primary">Sign Up</a>
        </div>
      </div>
    </section>
  {% endif %}
  {% include 'partials/share-search.html' %}
</main>
{% endblock %}

{% block before_body_close %}
  <script type="text/javascript">
    $(document).ready(function(){
      window.initSearchAutocomplete();
    });
  </script>
{% endblock %}
