{% extends "base.html" %}
{% load static %}

{% block title %}ALISS helps you promote your services - ALISS{% endblock %}
{% block meta_schema %}
    <meta property="og:title" content="ALISS helps you promote your services - ALISS" />
    <meta name="twitter:title" content="ALISS helps you promote your services - ALISS" />
    <meta name="description" content="">
    <meta property="og:description" content="" />
    <meta name="twitter:description" content="" />
{% endblock %}

{% block container %}
<main class="main" role="main">
    <section id="banner">
        <div class="banner" style="background-image: url('{% static 'img/lp3-banner.jpg' %}'); background-position: center bottom -80px;">
            <img alt="" src="{% static 'img/lp3-banner_small.jpg' %}">
        </div>
    </section>
    <article id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container image">
                    <h1>ALISS helps you promote and assess demand for your services</h1>
                    <div class="float-image right">
                        <div class="svg how-it-works">
                            <svg>
                                <use xlink:href="#how_it_works" />
                                <title>How ALISS works</title>
                            </svg>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                </div>
            </div>
        </div>
    </article>
    <section class="center-section">
        <div class="row section-title">
            <div class="columns">
                <h3>Join ALISS</h3>
                <p>Joining ALISS allows you to receive notifications about new services in your area, get updates if a service you frequent is changed and more.</p>
            </div>
        </div>
        <div class="row buttons">
            <div class="columns">
                <a title="Click here to join the ALISS community, you can sign up by following this link." href="{% url 'signup' %}" class="button primary">Sign Up</a>
            </div>
        </div>
    </section>
    <section id="search" class="landing-page">
        <div class="row">
            <div class="columns">
                <label for="postcode">Enter your postcode to search local help:</label>
                <div class="search-box">
                    <div class="search-holder sbs-inputs">
                        <form action="{% url 'search' %}">
                            <input class="postcode" type="text" name="postcode" id="postcode" placeholder="e.g. G2 4AA">
                            <div class="search-button">
                                <button type="submit"><span>Search</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="row">
            <div class="columns">
                <p>ALISS is mapping services across Scotland so people can find help in their local area:</p>
                <div class="svg mapping">
                    <svg>
                        <use xlink:href="#mapping_services" />
                        <title>Mapping Services</title>
                    </svg>
                </div>
            </div>
            <div class="columns">
                <p>ALISS creates direct links to services, meaning less time wasted with referrals:</p>
                <div class="svg recommendations">
                    <svg>
                        <use xlink:href="#results" />
                        <title>Service Links</title>
                    </svg>
                </div>
            </div>
            <div class="columns">
                <p>ALISS can provide meaningful data about what people in Scotland need the most:</p>
                <div class="svg analytics">
                    <svg>
                        <use xlink:href="#analytics" />
                        <title>Analytics</title>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="content landing-page">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h4>More about ALISS</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
