{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy - ALISS{% endblock %}
{% block meta_schema %}
    <meta property="og:title" content="Privacy Policy - ALISS" />
    <meta name="twitter:title" content="Privacy Policy - ALISS" />
{% endblock %}

{% block container %}
<main class="main" role="main">
    <article id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h1>Privacy Policy</h1>
                    <p>This Privacy Policy covers the use of A Local Information System for Scotland (ALISS).</p>
                    <h4>1. ALISS service description</h4>
                    <p>ALISS believes that people of Scotland living with long term conditions, disabled people and unpaid carers should be able to access the information they need to help them live well.</p>
                    <p>ALISS is a free service, you may search for services that support health and wellbeing without any registration or account requirements. When you have found a service that meets your needs you may contact the resource provider/s with no restrictions.</p>
                    <p>Information added to ALISS will be publicly findable and will be used to signpost people to the relevant health and wellbeing Services. This is the purpose of ALISS. </p>
                    <p>ALISS is a programme delivered and managed by the Health and Social Care Alliance Scotland (the ALLIANCE). </p>
                    <h4>2. Introduction</h4>
                    <p>This privacy policy sets out why and how we collect personal information from you. We do not collect sensitive information in any way.</p>
                    <p>The ALLIANCE provides this service on a values basis and we expect people to use this service within the ethos of openness, respect for others and respect for the organisations and services contained with the website. </p>
                    <p>By using ALISS you accept the Terms and Conditions and Privacy Policy in full. If you do not agree with any part of the Terms and Conditions and/or this Privacy Policy then you must not use ALISS in any way. </p>
                    <p>If you have any questions regarding this Privacy Policy, please contact the ALLIANCE data controller:</p>
                    <address>
                        Data Controller<br />
                        Health and Social Care Alliance Scotland (the ALLIANCE)<br />
                        Venlaw Building<br />
                        349 Batch Street<br />
                        Glasgow<br />
                        G2 4AA
                    </address>
                    <p>Scottish Charity No. SC 037475<br />
                    Company No. 307731</p>
                    <p>Phone: 0141 404 0239<br />
                    Email: <a href="mailto:info@alliance-scotland.org.uk">info@alliance-scotland.org.uk</a></p>
                    <p>We make a clear distinction between personal information and publicly findable information:</p>
                    <ul>
                        <li>Personal information relates to your name, email and postcode (sign up requirements) that are added to ALISS by you. This details will only be shared with a third party service or organisation for the sole purpose of delivering the service as described in the Terms and Conditions. </li>
                        <li>Publicly findable information is defined as information added to ALISS for the purpose defined in Section 1 ALISS Service Description. This information will be used to signpost people to the relevant health and wellbeing services as is the purpose of ALISS.</li>
                    </ul>
                    <h4>3. Why we collect information from you</h4>
                    <p>In this website, we use metrics from analytics to help make the service better for you and people who use the website.</p>
                    <p>We collect data:</p>
                    <ul>
                        <li>For the sole purpose of making the ALISS website and service better for you.</li>
                        <li>To ensure we can objectively understand who is using the website, the general geographic location of you and how you are using the features and functionality contained within the website. </li>
                        <li>For the purpose of managing a account system that ensures we have administrative control and oversight of the actions and activities taking place within the website.</li>
                        <li>To help us and other trusted third parties understand the health and social care needs in Scotland. </li>
                        <li>For the purpose of managing a feedback feature within the website, that allows you to provide valuable and relevant feedback to the ALISS administration team. The email you provide in this feature will only ever be used to provide you with a response to the feedback given. </li>
                        <li>To provide you with a personalised service based on your location (or location of someone you want to help) and your needs (or the needs of someone you want to help.</li>
                        <li>To provide you with email communications to give you information on new or changes of services in your chosen area. This is an opt-in service and you can change your preferences at any time.</li>
                    </ul>
                    <h4>4. Types of information we collect from you</h4>
                    <p>In this website, we use metrics from analytics to help make the service better for you and people who use the website.</p>
                    <p>We collect and process the following data about you:</p>
                    <ul>
                        <li>Account sign up / log in details, including; name, email address, postcode and password. Your selected needs, your notifications, your communication preferences, your prepopulated postcode details, your was this helpful feedback and your request to represent details. </li>
                        <li>Feedback form, from which we collect your name and email address.</li>
                        <li>Your website visits, including; but not limited to, IP address, traffic data, location data, device data, browser data and other communication data and any other relevant data that helps us deliver a responsive and stable website.</li>
                        <li>Metrics from all aspects of your searching and activity on the website.  </li>
                        <li>Your work adding, editing and representing the Organisations, Services and Locations.</li>
                    </ul>
                    <h4>5. How we collect information</h4>
                    <p>In this website, we use metrics from analytics to help make the service better for people who use the website.</p>
                    <p>We use a range of proprietary software applications to assist us in making the ALISS website and service better for people.</p>
                    <ul>
                    <li>We use Google Analytics to track and measure website traffic.</li>
                    <li>We use Mixpanel to track and measure website traffic and how people use our website. </li>
                    <li>We use Keen IO to track events such as search term frequency.</li>
                    </ul>
                    <h4>6. Cookies</h4>
                    <p>The ALISS website uses cookies to deliver a fast and responsive service. We also use cookies to allow us to track your activity on the website.</p>
                    <h4>7. Access to information</h4>
                    <p>You can request a copy of the information we hold on you. Please write to the Data Controller as detailed in section 2.
                    Please note we have the right to ask you to provide further information and identification to enable your request to be processed.</p>
                    <p>In some situations we may be prevented from disclosing the information we hold to on you, to you. In these situations we will always obtain guidance on best practice before we make a decision.  For example; we will not comply with the request if we cannot do so without disclosing information relating to another individual who can be identified from the information.</p>
                    <p>We will respond to a Subject Access Request promptly and within 40 calendar days of receiving it.</p>
                    <p>Should your details change in any way, you should update them on your account page as soon as possible.</p>
                    <h4>8. Privacy Policy changes</h4>
                    <p>We reserve the right to change this policy in the best interests of the ALLIANCE, the ALISS Programme and / or the ALISS website. Please note it is your responsibility to ensure that you keep up to date with the Terms &amp; Conditions and Privacy Policy of the ALISS website.</p>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}
