{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy - ALISS{% endblock %}
{% block meta_schema %}
    <meta property="og:title" content="Privacy Policy - ALISS" />
    <meta name="twitter:title" content="Privacy Policy - ALISS" />
{% endblock %}

{% block container %}
<main class="main" role="main">
    <article id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h1>Privacy Policy</h1>
                    <h4>1. Introduction</h4>
                    <p>This Privacy Policy covers the use of A Local Information System for Scotland (ALISS). ALISS is operated by The Health and Social Care Alliance Scotland (the ALLIANCE).</p>
                    <p>ALISS takes Data Protection seriously and is committed to ensuring that your privacy is protected.</p>
                    <p>Should we ask you to provide personal information when using our website then you can be assured that it will be used only in accordance with this privacy policy and in line with the principles of Data Protection legislation.</p>
                    <p>This privacy policy explains what to expect when ALISS collects personal information about you.</p>
                    <h4>2. Who do we collect information about?</h4>
                    <p>ALISS collects the following information:</p>
                    <ul>
                        <li><strong>Account holders</strong> – individuals who choose to register for an account, for the purposes of uploading services to the website, together with managing their own preferences e.g. whether to receive notification of updates.</li>
                        <li><strong>Visitors to our website</strong> – individuals who use the website to search for a service.</li>
                    </ul>
                    <h4>3. Why do we collect information about you?</h4>
                    <p>ALISS will collect personal information about you for the following purposes:</p>
                    <ul>
                        <li>Administer your account.</li>
                        <li>Keep you informed about changes and improvements.</li>
                        <li>Improve the services we provide to you.</li>
                        <li>Provide you with a service search results relevant to your search query.</li>
                        <li>Manage our portfolio of work.</li>
                        <li>Help us better understand the health and social care needs in Scotland.</li>
                        <li>Help manage feedback.</li>
                        <li>To maintain the integrity and stability of the site.
                        <li>To determine how users are accessing the site e.g. directly or via another website.</li>
                        <li>To track those who are new to ALISS and those who are return users.</li>
                        <li>To track searches to establish the usefulness of the resources.</li>
                    </ul>
                    <h4>4. What information do we collect about you?</h4>
                    <p>When you sign up for an ALISS account you are consenting to us processing your personal information to administer your account.  We will request a name, email address, postcode and phone number.  You will also be required to provide a password, however, this will not be visible or accessible to ALISS and the ALLIANCE.</p>
                    <p>You may choose to provide additional information should you want to customise your account.</p>
                    <ul>
                        <li>You can select preferences such as the postcode area you want to search and the types of activity you are interested in relevant to health and wellbeing services; e.g. advocacy, foodbanks, mental health support, homelessness support services.</li>
                        <li>You can opt-in to receive an email digest which provides you with notifications with changes within your postcode and area of need. E.g. a local service changes their phone number and/or a new service is added.</li>
                        <li>You can select ALISS to remember your postcode for future searches.</li>
                        <li>You can represent your organisation, and the services and locations linked to your organisation. This gives you editorial control of all the information linked to your organisation listing.</li>
                    </ul>
                    <p>When account holders or visitors search the ALISS website we will collect your IP address, web browser, operating system, time of visit, pages visited, length of time on each page, referral site, flash version, network location, actual location (e.g. town), your referral route and search query.  This information is collected using Google Analytics and Mixpanel (subsidiary of Salesforce). </p>
                    <p>If you are logged in to ALISS then we will also collect your e-mail address and password (although your password is not visible or accessible to the ALLIANCE).</p>
                    <p>ALISS has a feedback function that allows users to feedback comments, complaints, report bugs and ask questions of ALISS.  All visitors to ALISS can you use this function and to do so you will have to provide us with your Feedback type, Feedback free text, name and email address.</p>
                    <h4>5. Marketing and sharing</h4>
                    <p>ALISS sometimes needs to share the personal information we process with the individuals themselves and with other organisations.  Where this is necessary we comply with all aspects of the Data Protection legislation.</p>
                    <p>ALISS and its sub-contractors will not sell, distribute or lease personal information to third parties unless we have your written permission, or are required by law, to do so.
                    <p>ALISS’ sub-contractors may have access to personal data while operating our IT systems (including website), conducting our business or providing you with a service.  However, in doing so, they will be bound by data protection legislation and the ALISS and ALLIANCE privacy policies.
                    <p>Users of our website are notified when their information is being collected by any outside parties.  We do this so our users can make an informed choice as to whether or not they should proceed with services that require an outside party.
                    <p>All personal data collected through the ALISS website will be treated as personal data under guidance from the Information Commissioners Office.</p>
                    <h4>6. Transfer of data overseas</h4>
                    <p>We use third party sites such as Heroku (Salesforce), Google and Mixpanel Inc to collect data.  These sites are based in the USA, outside of the EEA, and are signed up to the EU-US Privacy Shield.</p>
                    <p>For the purpose as defined in ALISS Terms and Conditions, Section 1. ALISS Service Description, this information will be transferred overseas and accessible worldwide.</p>
                    <h4>7. Retention</h4>
                    <p>Personal information regarding the user account is kept for as long as the user account is active.  If you have registered for an ALISS account and no longer want to use it, you can request that all account information is deleted. Please note that once the request for the deletion is received all account information is deleted at the next available working day and no back up copy is made.</p>
                    <p>If you close your account and you represented an Organisation then all of the information that this allowed you to manage will be made available to be represented again by another.</p>
                    <p>Information collected by Google Analytics, which tracks and measures website traffic, is retained for one year by Google and then automatically deleted.</p>
                    <p>Information collected by Mixpanel, which tracks and measures website traffic and how people use our website, is retained for 6 months by Mixpanel Inc and then deleted automatically.</p>
                    <h4>8. Security of your Information</h4>
                    <p>We are committed to ensuring that your information is secure.</p>
                    <p>To prevent unauthorised access or disclosure we have put into place electronic and managerial procedures to safeguard and secure information we collect from you.</p>
                    <p><strong>8.1. Electronic Controls</strong></p>
                    <p>All accounts are password protected accounts.  ALISS uses industry standard password managers to manage passwords.  Access to these are restricted.</p>
                    <p>No personal data is saved to the hard drives of desktop PCs.</p>
                    <p>ALISS staff, sub-contractors and volunteers can access accounts remotely therefore removing the need for information to be saved to removable media or local hard drives.</p>
                    <p><strong>8.2. Managerial Controls</strong></p>
                    <p>ALISS staff and volunteers are made aware of data protection legislation and policies and procedures of the ALLIANCE at induction.  Contracts are in place with sub-contractors and consultants to control their use of and access to personal data.</p>
                    <h4>9. Website</h4>
                    <p>Connections to www.aliss.org website are encrypted (https instead of http).</p>
                    <p>ALISS uses a third-party service to maintain, host and secure the performance of our website.  To deliver this service it processes the IP addresses of visitors to the website.</p>
                    <p><strong>9.1. Cookies</strong></p>
                    <p>When users enter the ALISS website their computers will automatically be issued with ‘cookies’.  Cookies are text files which identify users’ computers to the ALISS server.</p>
                    <p>The ALISS website uses cookies to measure use of the website as detailed in Section 4. What information do we collect about you?</p>
                    <h4>10. Other Websites</h4>
                    <p>The ALISS website contain links to other websites.  ALISS is not responsible for the privacy practices of other sites.</p>
                    <h4>11. Notice of Breach of Security</h4>
                    <p>If a security breach causes an unauthorised intrusion to our system that materially affects the information we hold about you, we will notify you as soon as possible and report what action we took in response.</p>
                    <h4>12. Changes to our Privacy Policy</h4>
                    <p>If we decide to change our privacy policy, we will post the updated privacy statement to www.aliss.org</p>
                    <p>We will notify any changes through the news section of website.</p>
                    <h4>13. Your Rights</h4>
                    <p>You have the right to:</p>
                    <ul>
                        <li>access your information</li>
                        <li>withdraw consent to use your information </li>
                        <li>have inaccurate personal data corrected</li>
                        <li>request the restriction of processing</li>
                        <li>lodge a complaint with the Information Commissioner’s Office (ICO)</li>
                    </ul>
                    <p><strong>13.1. Access to your information (Subject Access Request)</strong></p>
                    <p>Upon written request to the ALLIANCE, individuals can find out if we hold any personal information by making a ‘subject access request’ under the Data Protection legislation. If we do hold information about you we will:</p>
                    <ul>
                        <li>give you a description of it;</li>
                        <li>tell you why we are holding it;</li>
                        <li>tell you who it could be disclosed to;</li>
                        <li>for how long it will be retained and </li>
                        <li>let you have a copy of the information in an intelligible form and portable form</li>
                        <li>tell you if it has been transferred overseas and what safeguards were put it place</li>
                        <li>tell you the source of the information if it did not come directly from you</li>
                        <li>notify you of your right to have the information corrected, made complete or erased</li>
                        <li>advise you of your right to complain</li>
                    </ul>
                    <p>The ALLIANCE will provide you with this information within one month.  The ALLIANCE can refuse to provide you with this information if we cannot do so without disclosing personal information about another person or if your request is excessive.</p>
                    <p>To make a subject access request you should put your request in writing to:</p>
                    <p><a title="Click here to contact the ALLIANCE to request access to your information (This will open your email client)." href="mailto:dpo@alliance-scotland.org.uk">dpo@alliance-scotland.org.uk</a></p>
                    <p>OR</p>
                    <address>
                        Data Protection<br />
                        The Health and Social Care Alliance Scotland<br />
                        Venlaw Building <br />
                        349 Bath Street<br />
                        Glasgow<br />
                        G2 4AA
                    </address>
                    <p>The Data Protection Officer is Head of Finance.</p>
                    <p><strong>13.2. Withdraw consent</strong></p>
                    <p>You should be aware that you can withdraw your consent at any time.  Should you choose to withdraw consent, ALISS will delete your personal information on the next available working day and no back up copy is made. Please note that you will not be able to use your account or any features that requires an account. </p>
                    <p><strong>13.3. Correction of inaccurate personal data</strong></p>
                    <p>You have the right to have any inaccurate personal data held by the ALLIANCE to be corrected and you have the right for incomplete personal data to be made complete.  The ALLIANCE encourages individuals to provide us with updates to their personal information in accordance with the purpose for processing.  The ALLIANCE will notify any third parties to whom it disclosed the information of the updates.</p>
                    <p><strong>13.4. Right to be forgotten/data erasure</strong></p>
                    <p>The right to be forgotten entitles you to have your personal data erased, further dissemination of the data stopped and, potentially, have third parties halt processing of the data.  The conditions for erasure include the data no longer being relevant to the original purposes for processing, or when the data subjects withdraw consent.  These rights exist if there are no overriding legitimate grounds for processing e.g. the performance of a contract.</p>
                    <p>ALISS will notify any third parties to whom it disclosed the information of the changes to processing.</p>
                    <p><strong>13.5. Restriction of processing</strong></p>
                    <p>You have the right to request the restriction of the processing of your information should you contest the accuracy of the personal data and/or the lawfulness of the processing.</p>
                    <h4>14. Complaints</h4>
                    <p>Should you wish to complain about how ALISS have handled any aspect of your personal data, you can contact the ALLIANCE using the details below and/or by contacting the Information Commissioner’s Officer (ICO) <a title="Click here to submit a complaint to ALISS (This will open in a new window)." href="https://ico.org.uk/concerns/" target="_blank">https://ico.org.uk/concerns/</a> or write to them at:</p>
                    <address>
                        Information Commissioner's Office<br />
                        Wycliffe House<br />
                        Water Lane<br />
                        Wilmslow<br />
                        Cheshire<br />
                        SK9 5AF
                    </address>
                    <p>Telephone: 0303 123 1113</p>
                    <p><strong>14.1. How to contact us</strong></p>
                    <p>If you have any questions or suggestions regarding this Privacy Policy, please contact our Data Protection Officer at:</p>
                    <p>Telephone: 0303 123 1113</p>
                    <p>Email: <a title="Click here to contact us for more information regarding this privacy policy (This will open in a new window)." href="mailto:dpo@alliance-scotland.org.uk">dpo@alliance-scotland.org.uk</a></p>
                    <address>
                        The Health and Social Care Alliance Scotland (the ALLIANCE)<br />
                        Venlaw Building<br />
                        349 Bath Street<br />
                        Glasgow<br />
                        G2 4AA
                    </address>
                    <p>The ALLIANCE’s email system is not encrypted and anyone sending personally identifiable information via email should be aware of this.</p>
                    <p><strong>Version 0.2</strong></p>
                    <p><strong>Last updated 13th February 2018</strong></p>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}
