{% extends "base.html" %}
{% load static %}

{% block title %}Terms and Conditions - ALISS{% endblock %}
{% block meta_schema %}
  <meta property="og:title" content="Terms & Conditions - ALISS" />
  <meta name="twitter:title" content="Terms & Conditions - ALISS" />
{% endblock %}

{% block container %}
<main class="main" role="main">
  <article id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container">
          <h1>Terms and Conditions</h1>
          <p>These terms and conditions are for the use of A Local Information System for Scotland (ALISS).
          <h4>1. ALISS service description</h4>
          <p>ALISS believes that people of Scotland living with long term conditions, disabled people and unpaid carers should be able to access the information they need to help them live well.</p>
          <p>ALISS is a free service that allows you to search for services that support health and wellbeing without any registration or account requirements. When you have found a service that meets your needs you may contact the resource provider/s with no restrictions.</p>
          <p>Information added to ALISS will be publicly findable and will be used to signpost people to the relevant health and wellbeing services. This is the purpose of ALISS.</p>
          <p>ALISS is a programme delivered and managed by the Health and Social Care Alliance Scotland (the ALLIANCE) and is funded from the Scottish Government.</p>
          <p>The information findable on ALISS is in no way intended to replace advice from a doctor or any other health or social care professional. </p>
          <p><strong>Please see a qualified health professional if you have specific concerns about your health or wellbeing.</strong></p>
          <h4>2. Introduction </h4>
          <p>The purpose of these Terms and Conditions are to ensure people know the procedures and expectations for using the website. </p>
          <p>The ALLIANCE provides this service on a values basis and we expect people to use this service within the ethos of openness, respect for others and respect for the organisations and services contained with the website. </p>
          <p>By using ALISS you accept the Terms and Conditions and Privacy Policy in full. If you do not agree with any part of the Terms and Conditions and/or Privacy Policy then you must not use ALISS in any way. </p>
          <p>By using ALISS you agree that the information you add regarding Organisations, Services and Locations will be made publicly findable on www.aliss.org and any other web platform relevant to the obligations set out in the Scottish Government funding support.</p>
          <p>You must be at least 13 years old to register for the account and features set out below. You must also be 13 years old to search ALISS. By using ALISS you are notifying us that you are over 13 years of age.</p>
          <h4 id="licensing">3. Licencing and Copyright</h4>
          <p>ALISS, in part, contains information from The Scottish Charity Register which is held by the Office of the Scottish Charity Register (OSCR) and is shared under the licence; Open Government Licence v2.0.</p>
          <p>For more information; <a title="Click here for further information on the Scottish Charity register. (This link will take you to a different website)" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/" target="_blank">http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/</a> (This link will take you to a different website)</p>
          <p>ALISS, in part, contains information from the National Records of Scotland Scottish Postcode Directory (SPD). The SPD contains live and deleted postcodes assigned to a variety of geographical areas in Scotland and is shared under the licence; Open Government Licence v3.0.
          For more information; <a title="Click here for further information on the Scottish Postcode Directory. (This link will take you to a different website)" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/</a> (This link will take you to a different website)</p>
          <p>ALISS, in part contains National Statistics and OS data (© Crown copyright and database right 2018), in the form of boundary and digital reference maps. For more information; <a title="Click here for further information on the National Statistics digital reference maps we use. (This link will take you to a different website)" href="https://www.ons.gov.uk/methodology/geography/licences" target="_blank">https://www.ons.gov.uk/methodology/geography/licences</a> (This link will take you to a different website)</p>
          <p>ALISS allows the use of content under a Creative Commons Licence (Attribution 4.0 International (CC BY 4.0)
          <p>You are free to:</p>
          <ul>
            <li>Share – copy and redistribute material in any medium or format</li>
            <li>Adapt – remix, transform and build upon the material</li>
          </ul>
          <p>Under the following terms:</p>
          <ul>
            <li>Attribution - you must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li>

            <li>No additional restrictions – You may not apply legal terms or technological measures that legally restrict others from doing anything the licence permits.</li>
          </ul>
          <p>For more information; <a title="Click here for further information on the Creative Commons Licence. (This link will take you to a different website)" href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>
          (This link will take you to a different website).</p>
          <h4>4. Acceptable use</h4>
          <p><strong>4.1. Account set-up and configuration</strong></p>
          <p>The ALISS website allows you to sign up to an account, to access a range of features that supports a better experience in terms of customised search results and enhanced information management. Your account and password are for your use only and must not be used by anyone else to access ALISS.</p>
          <p>On signing up for an account you are required to:</p>
          <ul>
            <li>Add your name </li>
            <li>Add your email address</li>
            <li>Set up a strong password </li>
          </ul>
          <p>On signing up for an account you have the option to:</p>
          <ul>
            <li>Add your phone number</li>
            <li>Prepopulate your postcode</li>
          </ul>
          <p>Once you have signed up for an ALISS account you have access to the range of features as detailed in 4.3 Account actions.</p>
          <p><strong>4.2. Search</strong></p>
          <p>ALISS puts no restriction on the type and quantity of searches carried out by a person. The system is set up to allow searching for Services that support a person’s health and wellbeing. </p>
          <p>ALISS does NOT allow the automated collection and/or searching of any part of the system in any way. This includes scraping, data mining or any other ways deemed as automated collection of data.</p>
          <p><em>4.2.1 Customise search features</em></p>
          <p>ALISS allows the customisation of search results, to assist in helping you find the correct service. All search results are directly linked to the original postcode entered. You can customise your search results by:</p>
          <ul>
            <li>Filter by category</li>
            <li>Filter by keyword</li>
            <li>Filter by local or national areas</li>
          </ul>
          <p><strong>4.3. Account actions</strong></p>
          <p>Account actions allow you to manage your service information in a way that fits with your needs.</p>
          <ul>
            <li>'My saved services' allows you to save and manage the services that are important to you.</li>
            <li>'My recommendations' allows you to link a range of services with a specific person needs and save and manage them all in one place.</li>
            <li>Email this listing allows you share the hyperlink of the service webpage directly to whoever you want.</li>
            <li>Print this listing allows you print out the service information.</li>
            <li>Report this listing allows you to report to administration team that there is an issue with the information contained with the listing.</li>
          </ul>
          <p><em>4.3.1. Was this helpful?</em></p>
          <p>This feature gives you a quick and easy way to provide feedback to the administration team both in terms of if you found the information on the service helpful or if you found an issue with the information on the service. </p>
          <p>Please be aware that this is not a ratings system on the value of the service itself, but a factual statement on the usefulness of the information provided about the service. </p>
          <p><strong>4.4. Adding Organisations, Services and Locations</strong></p>
          <p>ALISS is committed to good information management procedures and all rules and processes relating to adding Organisations, Services and Locations are managed under the ALISS Programme - Data Standards.</p>
          <p>By signing up to ALISS you are agreeing to these Terms and Conditions and as such you agree that:</p>
          <ul>
            <li>By submitting an Organisation or a Service or a Location you are providing your consent for it being shared via the ALISS website and other products.</li>
            <li>You have the permission and or the authority to add specific information on Organisations, Services and Locations relevant to the ALISS Service Description (Section 1.).</li>
            <li>You will not add any content that infringes on a person’s legal rights; including Data Protection legislation.
              <ul>
                <li>If you are adding information that is classed as “Personal” information you MUST make sure you have the permission from the person/s for using this type of information.</li>
                <li>ALISS DOES NOT allow any “Sensitive” personal information, in any way to be added to the system. If you are found to have added this information your account will be terminated. </li>
                <li>Please see the Information Commissioners Office for definitions <a title="Click here for furhter information on definitions of personal information. (This link will take you to a different website)" href="https://ico.org.uk/for-organisations/guide-to-data-protection/key-definitions/" target="_blank">https://ico.org.uk/for-organisations/guide-to-data-protection/key-definitions/</a> (this link will take you to another website)</li>
              </ul>
            </li>
            <li>You will not add any content that infringes an Organisation or a Service or a Location legal rights.</li>
            <li>The information you add to ALISS is relevant to the “public good” and is added for the purpose of helping people with their health and wellbeing.</li>
            <li>The information you add to ALISS will not promote, endorse or facilitate the promotion of any activities that explicitly involve the consumption of alcohol or drugs.</li>
            <li>You may add a service to ALISS that takes place within a licenced premises, however the premises information should be contained only with the Location information form.</li>
            <li>The information you add to ALISS will not promote, endorse or facilitate the promotion of any activities that explicitly involve commercial type gambling either in a local facility or online. </li>
            <li>You are personally responsible for any inaccuracies and / or omissions in the information you submit through ALISS. </li>
            <li>You comply fully with all the laws of Scotland and the United Kingdom; including Equality Act 2010.</li>
            <li>The information you add and share is not obscene, threatening, deceptive or an invasion of another’s privacy or offensive.</li>
            <li>The information you add does not infringe on copyright, trademark or privacy of person or party.</li>
            <li>You will not post content deliberately intended to harm or upset other users. </li>
            <li>You will not upload or post content that contains software viruses that would harm or destroy the functionality of www.aliss.org or any hardware and software.</li>
          </ul>
          <p><strong>4.5. Represent your organisation</strong></p>
          <p>ALISS believes that the best way to ensure factually correct, accurate and relevant information is to work with the Organisations and Service providers.</p>
          <p>By representing your organisation, you are agreeing:</p>
          <ul>
            <li>To evidence why you should represent your organisation.</li>
            <li>To take an active part in adding, managing and deleting the information that is linked to that Organisation; i.e. the Services and Locations.</li>
            <li>To ensure that the information you are representing is up to date and follows the ALISS Programme - Data Standards.</li>
            <li>The ALISS Programme Manager has final say over the information included in Organisation, Services and Locations.</li>
            <li>That the ALISS team will assess the validity of your request to represent in a fair and consistent way.
              <ul>
                <li>The ALISS team need to ensure that the person requesting to represent has the authority to add, manage and delete the information that is linked to that Organisation; i.e. the Services and Locations.</li>
                <li>The ALISS team will do that through searching the ALLIANCE customer database and/or contacting the organisation and or service to confirm the person who requested to represent does have the authority to add, manage and delete the information that is linked to that Organisation; i.e. the Services and Locations.</li>
                <li>If, for whatever reason, the ALISS team cannot verify that the person who made the request to represent request then we will deny that request.</li>
                <li>We reserve the right that in a situation where a person/s have had their claimed ownership request denied we can terminate their account if we see fit.</li>
              </ul>
            </li>
          </ul>
          <p><strong>4.6. Reporting a problem with the Organisations, Services and Locations</strong></p>
          <p>ALISS is committed to making it easy for people to notify the ALISS team if there are any errors or omissions to the Organisation, Services and Location information.</p>
          <p>By reporting a problem you are:</p>
          <ul>
            <li>Helping people find up to date and factually accurate information.</li>
            <li>Agreeing that the ALISS team has the right to deal with your submission in a way that complies with the rules and procedures set out in these Terms and Conditions’.</li>
            <li>Agreeing that the ALISS team may contact you using the email provided only to obtain clarity on your issue and/or request.</li>
            <li>Agreeing that the ALISS team may contact you using your email provided only to give you an update on the issue and/or resolution update.</li>
          </ul>
          <h4>5. Termination</h4>
          <p>If you have registered for an ALISS account and no longer want to use it, you can request that all account information is deleted. Please note that once the request for the deletion is received all account information is deleted at the next available working day and no back up copy is made.</p>
          <p>If you represented an Organisation/s, and all subsequent information, that you managed will be made available to be represented again.</p>
          <p>ALISS lets people add Organisation, Services and Locations to the system with no obligation to maintain that information. In the circumstance that a request for account termination is received, ALISS is not required to delete any Organisations, Services and Locations added by the person requesting termination.</p>
          <p>If you are found to be in breach of these Terms and Conditions your account information will be terminated. On request, a reason will be given as to the nature of the termination.  The ALISS Programme Manager has final say over this and their decision will be classed as final.</p>
          <p>If the reason for termination falls within the guidance on the Equality Act 2010 we reserve the right to pass all information over to Police Scotland for further investigation.</p>
          <h4>6. Disclaimer</h4>
          <p>The inclusion of Organisations, Services and Locations within ALISS does not imply endorsement or promotion of that Organisation, Service and Location by the ALISS Programme, the ALLIANCE, The Scottish Government or any other Public, Private or Third Sector bodies.</p>
          <p>The ALISS Programme and the ALLIANCE take all reasonable steps to ensure that the information provided in ALISS is accurate, non-discriminatory and relevant to health and wellbeing. However, we cannot guarantee that the information contained in ALISS is accurate, complete and current at any given time. It may also change at any time.</p>
          <p>Information relating to account registration and management will only be shared with a third party service or organisation for the sole purpose of delivering the service as described in these Terms and Conditions.</p>
          <p>We aim to provide a constant and uninterrupted access to www.aliss.org However, occasionally we need to make changes to maintain your service. We may also experience a disruption in service through one of our technical infrastructure providers and while we have no control over fixing the issue, we will endeavour to maintain the service. The actions we take will depend on the severity and timescale of the issue.</p>
          <p>We reserve the right to change, alter, delete or remove any information to maintain the integrity and usability of the system, without notice and with no compensation requirements.</p>
          <p>We reserve the right to change, alter, delete or remove any features and/or functionality to maintain the integrity and usability of the system without notice and with no compensation requirements.</p>
          <p>The information findable on ALISS is in no way intended to replace advice from a doctor or any other health or social care professional.</p>
          <p>Please see a qualified health professional if you have specific concerns about your health or wellbeing.</p>
          <p>The ALISS Programme and the ALLIANCE do not take any responsibility for any issues or actions that result in the use of the ALISS content. It is an individual’s responsibility to make a judgement call on the value and risks associated with contacting, visiting or using an Organisation, Service and Location contained within ALISS.</p>
          <p>We do not take any responsibility for any advice or content of any third party website.</p>
          <h4>6. Contact details</h4>
          <p>The ALISS website is owned and operated by The Health and Social Care Alliance Scotland (the ALLIANCE).</p>
          <address>
          The Health and Social Care Alliance Scotland (the ALLIANCE)<br />
          Venlaw Building<br />
          349 Bath Street<br />
          Glasgow<br />
          G2 4AA
          </address>
          <p>Scottish Charity No. SC 037475<br />
          Company No. 307731</p>
          <p>Phone: 0141 404 0239<br />
          Email: <a title="Click here to contact us for more information (This will open your email client)." href="mailto:info@alliance-scotland.org.uk">info@alliance-scotland.org.uk</a></p>
          <p>Last updated: January 2019</p>
        </div>
      </div>
    </div>
  </article>
</main>
{% endblock %}
