
// Buttons & Links
// ---------------------------------------

a, .btn-link {
	@extend %link-style;
	@include transition(color, $d-time);
	&:hover {
		@extend %link-style_hover;
	}
}
.txt-button {
	@extend %link-style;
	padding: 0 !important;
	text-align: left !important;
	background: none !important;
	font-weight: bold !important;
	font-family: $body-font !important;
	color: $secondary;
	border: 0;
	font-size: $d-fs !important;
	min-width: 0 !important;
	border-radius: 0;
	line-height: 1.6;
	@include transition(color, $d-time);
	@include st {
		background: none;
		color: $medium-gray;
	}
	// @include small {
	// 	font-size: $d-fs-s !important;
	// }
	&.primary {
		color: $primary !important;
		@include st {
			background: none;
			color: $medium-gray !important;
		}
	}
	&.secondary {
		color: $secondary !important;
		@include st {
			background: none;
			color: $medium-gray !important;
		}
	}
	&.alert {
		color: $alert !important;
		@include st {
			background: none;
			color: $medium-gray !important;
		}
	}
}
.btn, .button {
	@include transition(background, $d-time);
	@include st() {
		@extend %button-style_hover;
	}
	&.primary, &.btn-primary {
		@extend %button-style;
		background-color:$primary;
		@include st() {
			background-color:$medium-gray;
			@extend %button-style_hover;
		}
	}
	&.secondary, &.btn-secondary, &.btn-info {
		@extend %button-style-small;
		background-color:$secondary;
		@include st() {
			background-color:$medium-gray;
			@extend %button-style_hover;
		}
	}
	&.success, &.btn-success {
		@extend %button-style;
		background-color:$success;
		@include st() {
			background-color:$success;
			@extend %button-style_hover;
		}
	}
	&.warning, &.btn-warning {
		@extend %button-style;
		background-color:$warning;
		@include st() {
			background-color:$warning;
			@extend %button-style_hover;
		}
	}
	&.alert, &.btn-danger {
		@extend %button-style;
		background-color:$alert;
		@include st() {
			background-color:$alert;
			@extend %button-style_hover;
		}
	}
}
button, input[type=submit] {
	@extend .button;
	@extend .button.primary;
	@extend .btn-primary;
	@include st() {
		@extend %button-style_hover;
		background-color:$medium-gray;
	}
}