{% extends "email/base.html" %}
{% load static %}

{% block title %}Your weekly digest email - ALISS{% endblock %}
{% block container %}
    <table cellpadding="0" cellspacing="0" border="0" align="center" id="mainTable" style="background: #ffffff; width: 700px;">
        <tr style="background: #1E7ABD; color: #ffffff" class="brand-bg head">
            <td valign="top" align="left" style="background: #1E7ABD; color: #ffffff; padding: 25px 35px;" class="brand-bg d-pad">
                <img src="{{ protocol }}://{{ domain }}{% static 'img/email_logo.png' %}" alt="ALISS" />
            </td>
            <td valign="bottom" align="right" style="background: #1E7ABD; color: #ffffff; padding: 25px 35px; padding-left: 0 !important" class="brand-bg d-pad">
                <p style="margin-top: 0; margin-bottom: 5px;" class="date">{{ date }}<!-- Nov 20th 2017 --></p>
                <h1 class="email-heading" style="color: #ffffff; margin: 0; font-size: 30px; line-height: 34px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;">Your weekly digest email</h1>
            </td>
        </tr>
        <tr><td height="30"></td></tr>
        <tr>
            <td valign="top" align="left" style="background: #ffffff; padding: 0 35px 0 35px;" height="100" colspan="2" class="d-pad-alt">
                <h2 class="section-head" style="margin-bottom: 30px; font-size: 24px; line-height: 30px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;">The following services were added in <span style="text-transform: uppercase;">{{ user.postcode }}</span></h2>
                <div class="added category" style="margin-top:25px; margin-bottom: 40px">
                    {% for category in notifications.categories.all %}
                        <h3 style="margin: 0; margin-bottom: 25px !important; font-size: 18px; line-height: 22px;">Category: {{ category.name }}</h3>
                        <!-- Lists first 3 services per cat -->
                        {% for service in categories.services.all %}
                            <div class="service" style="margin: 20px 0 25px 0;">
                                <h2 style="margin-bottom: 0; font-size: 24px; line-height: 30px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;"><a title="{{ service.name }}." href="{{ protocol }}://{{ domain }}{% url 'service_detail' pk=service.pk %}" style="color: #22b2aa !important; font-weight: bold; text-decoration:  none !important;">{{ service.name }}</a></h2>
                                <p style="margin-top: 10px; font-size: 16px; line-height: 22px; ">by <a title="{{ service.organisation.name }}." href="{{ protocol }}://{{ domain }}{% url 'organisation_detail' pk=service.organisation.pk %}" style="color: #22b2aa !important; font-weight: bold; text-decoration: none !important;">{{ service.organisation.name }}</a></p>
                            </div>
                        {% endfor %}
                        <!-- then remaining count, generate link to category with user postcode -->
                        <a title="Click here to view all added services." href="{{ protocol }}://{{ domain }}/search/?postcode={{ user.postcode }}&category={{ category.name }}" class="more" style="color: #22b2aa !important; font-weight: bold; text-decoration: none;">and 15 more...</a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="background: #ffffff; padding: 0 35px 0 35px;" colspan="2" class="d-pad-alt">
                <h2 class="section-head" style="margin-bottom: 30px;">The following services you've saved have been updated:</h2>
                <div class="added category" style="margin-top:25px; margin-bottom: 40px">
                    <!-- shows all saved services that have been updated -->
                    {% for category in notifications.updated.all %}
                        <div class="service" style="margin: 20px 0 25px 0;">
                            <h2 style="margin-bottom: 0; font-size: 24px; line-height: 30px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;"><a title="{{ service.name }}." href="{{ protocol }}://{{ domain }}{% url 'service_detail' pk=service.pk %}" style="color: #22b2aa !important; font-weight: bold; text-decoration:  none !important;">{{ service.name }}</a></h2>
                            <p style="margin-top: 10px; font-size: 16px; line-height: 22px; ">by <a title="{{ service.organisation.name }}." href="{{ protocol }}://{{ domain }}{% url 'organisation_detail' pk=service.organisation.pk %}" style="color: #22b2aa !important; font-weight: bold; text-decoration: none !important;">{{ service.organisation.name }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="background: #ffffff; padding: 0 35px;" colspan="2" class="d-pad-alt">
                <a title="Click here to log in to ALISS." href="{{ protocol }}://{{ domain }}{% url 'login' %}" style="color: #22B2AA !important; font-weight: bold !important;"><div class="button" style="width: 145px; padding: 20px 32px 18px 32px; font-size: 20px; line-height: 20px; background: #F49C27; text-align: center; color: #fff; text-decoration: none; border-radius: 5px; display: inline-block; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;">Log-in to ALISS</div></a>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
        <tr style="background: #4C5C68; color: #ffffff" class="brand-bg head">
            <td valign="center" align="center" style="background: #4C5C68; color: #ffffff; padding: 25px 35px; padding-bottom: 30px !important;" colspan="2" class="brand-bg d-pad">
                <p style="font-size: 16px; line-height: 22px; margin-top: 0px !important">You're receiving this email because someone has recommended services to you on ALISS.</p>
                <p style="font-size: 16px; line-height: 22px; margin-bottom: 0 !important"><a title="Click here to update your notification preferences." href="{% url 'account_update' %}" style="color: #ffffff !important; font-weight: bold;">Update your notification preferences</a></p>
            </td>
        </tr>
    </table>
{% endblock %}
