{% extends "email/base.html" %}
{% load static %}

{% block title %}{{ recommendation_list.name }} - ALISS{% endblock %}
{% block container %}
    <table cellpadding="0" cellspacing="0" border="0" align="center" id="mainTable" style="background: #ffffff; width: 700px;">
        <tr style="background: #1E7ABD; color: #ffffff" class="brand-bg head">
            <td valign="top" align="left" style="background: #1E7ABD; color: #ffffff; padding: 25px 35px;" class="brand-bg d-pad">
                <img src="{{ protocol }}://{{ domain }}{% static 'img/email_logo.png' %}" alt="ALISS" />
            </td>
            <td valign="bottom" align="right" style="background: #1E7ABD; color: #ffffff; padding: 25px 35px; padding-left: 0 !important" class="brand-bg d-pad">
                <p style="margin-top: 0; margin-bottom: 5px;" class="date">&nbsp;</p>
                <h1 class="email-heading" style="color: #ffffff; margin: 0; font-size: 30px; line-height: 34px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;">Your Recommendations</h1>
            </td>
        </tr>
        <tr><td height="30"></td></tr>
        <tr>
            <td valign="top" align="left" style="background: #ffffff; padding: 0 35px 0 35px;" height="100" colspan="2" class="d-pad-alt">
                <h2 class="section-head" style="margin-bottom: 30px; font-size: 24px; line-height: 30px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;">Hi {{ recommendation_list.name }}, {% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %} has recommended some ALISS services for you:</h2>
                <div class="added category" style="margin-top:25px; margin-bottom: 40px">
                    {% for service in recommendation_list.services.all %}
                        <div class="service" style="margin: 20px 0 25px 0;">
                            <h2 style="margin-bottom: 0; font-size: 24px; line-height: 30px; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;"><a title="{{ service.name }}." href="{{ protocol }}://{{ domain }}{% url 'service_detail' pk=service.pk %}" style="color: #22b2aa !important; font-weight: bold; text-decoration:  none !important;">{{ service.name }}</a></h2>
                            <p style="margin-top: 10px; font-size: 16px; line-height: 22px; ">by <a title="{{ service.organisation.name }}." href="{{ protocol }}://{{ domain }}{% url 'organisation_detail' pk=service.organisation.pk %}" style="color: #22b2aa !important; font-weight: bold; text-decoration: none !important;">{{ service.organisation.name }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="background: #ffffff; padding: 0 35px;" colspan="2" class="d-pad-alt">
                <a title="Click here to sign up to ALISS." href="{{ protocol }}://{{ domain }}{% url 'signup' %}" style="color: #22B2AA !important; font-weight: bold !important;"><div class="button" style="width: 150px; padding: 20px 32px 18px 32px; font-size: 20px; line-height: 20px; background: #F49C27; text-align: center; color: #fff; text-decoration: none; border-radius: 5px; display: inline-block; font-family: 'Sofia Pro Soft', Helvetica, Arial, sans-serif !important;">Sign Up to ALISS</div></a>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
        <tr style="background: #4C5C68; color: #ffffff" class="brand-bg head">
            <td valign="center" align="center" style="background: #4C5C68; color: #ffffff; padding: 25px 35px; padding-bottom: 30px !important;" colspan="2" class="brand-bg d-pad">
                <p style="font-size: 16px; line-height: 22px; margin: 0px !important">You're receiving this email because someone has recommended services to you on ALISS.</p>
            </td>
        </tr>
    </table>
{% endblock %}
