{% extends "base.html" %}
{% load aliss %}

{% block title %}{{ object.name }} - ALISS{% endblock %}

{% block container %}
<main class="main" role="main">
    <article id="content" class="organisation grid-container">
        <div class="grid-x">
            <div class="cell small-8 medium-8">
                <div class="copy-container">
                    <h1>Confirm: {{ object.name }}</h1>
                    <div class="desc">
                        <p>{{ object.description|linebreaks }}</p>
                        <p>Last updated <span class="updated alert">{{ object.updated_on }}</span></p>
                    </div>
                </div>

                {% if object.phone or object.email or object.website or object.facebook or object.twitter %}
                    <h4>Contact Information</h4>
                    <p>
                        {% if object.phone %}<strong>{{ object.phone }}</strong><br />{% endif %}
                        {% if object.email %}<a href="mailto:{{ object.email }}">{{ object.email }}</a><br />{% endif %}
                        {% if object.url %}<a href="{{ object.url }}" target="_blank">Website</a><br />{% endif %}
                        {% if object.facebook %}<a href="{{ object.facebook }}" class="fb" target="_blank">Facebook</a><br />{% endif %}
                        {% if object.twitter %}<a href="{{ object.twitter }}" class="tw" target="_blank">Twitter</a>{% endif %}
                    </p>
                {% endif %}
            </div>

            <div class="cell small-4 medium-4">
                {% if not object.published %}
                <div class="content">
                    <br/>
                    <h4>Publish progress</h4>
                    {% include 'partials/breadcrumb.html' with progress=progress %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="">
            <h3>Does this information look correct?</h3>
            <br/>
            <a href="{% url 'organisation_edit' pk=object.pk %}" class="button primary">
                <span class="icon">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                No, let me edit it
            </a>
            <a id="add-service-action" href="{% url 'service_create' pk=object.pk %}" class="button secondary">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                Yes, let's continue &amp; add a service
            </a>
        </div>
    </article>
</main>
{% endblock %}