{% extends "base.html" %}
{% load aliss %}

{% block title %}{{ object.name }} - ALISS{% endblock %}

{% block container %}
<main class="main" role="main">
    <article id="content" class="organisation">
        <div class="row">
            <div class="columns options">
                {% if not object.published %}
                <div class="content">
                    <br/>
                    <h4>Publish progress</h4>
                    {% include 'partials/breadcrumb.html' with progress=progress %}
                </div>
                {% endif %}
            </div>

            <div class="columns content">
                <div class="copy-container">
                    <h1>{{ object.name }}</h1>
                    {% if object.claimed_by %}<p class="org"><span class="claimed">Claimed</span></p>{% endif %}
                    <div class="desc">
                        <p>{{ object.description|linebreaks }}</p>
                        <p>Last updated <span class="updated alert">{{ object.updated_on }}</span></p>
                    </div>
                </div>
            </div>

            <div class="columns contact-info">
                {% if object.phone or object.email or object.website or object.facebook or object.twitter %}
                    <h4>Contact Information</h4>
                    <p>
                        {% if object.phone %}<strong>{{ object.phone }}</strong><br />{% endif %}
                        {% if object.email %}<a href="mailto:{{ object.email }}">{{ object.email }}</a><br />{% endif %}
                        {% if object.url %}<a href="{{ object.url }}" target="_blank">Website</a><br />{% endif %}
                        {% if object.facebook %}<a href="{{ object.facebook }}" class="fb" target="_blank">Facebook</a><br />{% endif %}
                        {% if object.twitter %}<a href="{{ object.twitter }}" class="tw" target="_blank">Twitter</a>{% endif %}
                    </p>
                {% endif %}
            </div>

            <div class="row">
                <h3>Does this information look correct?</h3>
                <a href="{% url 'organisation_edit' pk=object.pk %}" class="button secondary">
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                    No, let me edit it
                </a>
                <a id="add-service-action" href="{% url 'service_create' pk=object.pk %}" class="icon-link primary">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    Yes, let me add a service
                </a>
            </div>

        </div>
    </article>
</main>