{% extends "base.html" %}
{% load aliss %}
{% load cloudinary %}

{% block title %}{{ object.name }} - ALISS{% endblock %}

{% block container %}
<main class="main" role="main">
  <article id="content" class="organisation grid-container">
    <div class="">
      <h3>Does the information below look correct?</h3>
      <br/>
      <a title="Click here to continue editing this organisation." href="{% url 'organisation_edit' pk=object.pk %}" class="button primary bottom-margin">
        <span class="icon">
          <i class="fas fa-pencil-alt"></i>
        </span>
        No, let me edit the organsiation.
      </a>

      <a title="Click here to finish editing this service." href="{% url 'service_create' pk=object.pk %}" class="button secondary bottom-margin">
        <span class="icon">
          <i class="fas fa-check"></i>
        </span>
        Yes, continue and add another service.
      </a>
    </div>
    <br/><br/>

    {% include 'organisation/partials/confirmation-detail.html' with object=object %}

    {% if object.services.first %}

      <a title="Click here to continu editing this service." href="{% url 'service_edit' pk=object.services.first.pk %}" class="button primary bottom-margin">
        <span class="icon">
          <i class="fas fa-pencil-alt"></i>
        </span>
        No, let me edit the service.
      </a>

      <a title="Click here to finish editing this service." href="{% url 'account_my_organisations' %}" class="button secondary bottom-margin">
        <span class="icon">
          <i class="fas fa-check"></i>
        </span>
        Yes, save and and return to my account.
      </a>
      <br/><br/>

      {% include 'organisation/partials/confirmation-detail.html' with object=object.services.first %}

    {% endif %}
  </article>
</main>
{% endblock %}
