{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content" class="content">
        <div class="row">
            <div class="columns">
                <h1>Add a new organisation</h1>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <div class="progress-container">
                    {% include 'partials/breadcrumb.html' with progress=1 %}
                </div>

                <div class="large-form new-org">
                    {% include 'organisation/forms/organisation_form.html' %}  
                </div>
            </div>
        </div>
    </section>

    <hr class="clear" />
</main>
{% endblock %}
