{% extends "base.html" %}
{% load aliss %}
{% load cloudinary %}

{% block title %}{{ object.name }} - ALISS{% endblock %}
{% block meta_schema %}
  <meta name="twitter:title" content="{{ object.name }} on ALISS.org" />
  <meta name="twitter:description" content="{{ object.description|truncatechars:121 }}" />
  <meta property="og:title" content="{{ object.name }} on ALISS.org" />
  <meta property="og:description" content="{{ object.description|truncatechars:147 }}" />
  <meta name="description" content="{{ object.description }}">
  {% if view.kwargs.slug %}
    <link rel="canonical" href="{% url 'organisation_detail' object.pk %}" />
  {% else %}
    <link rel="canonical" href="{% url 'organisation_detail_slug' object.slug %}" />
  {% endif %}
{% endblock %}

{% block container %}
<div class="black"></div>
<div class="modal" id="improve-listing">
  <div class="pad">
    <div class="heading">
      <a title="Click here to close this modal." id="improve_listing_modal_close" tabindex="0" role="button" class="close alert icon-link">
        <span class="icon">
          <i class="fas fa-times"></i>
        </span>
        Close
      </a>
      <h5>Improve this listing</h5>
    </div>
    <div class="form">
      {% if request.user.is_authenticated %}
        <div class="copy-container">
          {% include 'service/forms/feedback.html' with service=object %}
        </div>
      {% else %}
        <p>Please <a title="Click here to login to provide feedback on a service." href="{% url 'login' %}?next={{ request.get_full_path }}">login</a> to leave feedback about a service</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal" id="delete_org">
  <div class="pad">
    <div class="heading">
      <a title="Click here to close this modal." id="delete_organisation_modal_close" role="button" tabindex="0" class="close alert icon-link">
        <span class="icon">
          <i class="fas fa-times"></i>
        </span>
        Close
      </a>
      <h5>Delete organisation</h5>
    </div>
    <div class="content">
      <p>Are you sure you want to delete your organisation?</p>
      <p>This will also delete the associated Services and Locations.</p>
      <div class="buttons">
        <form method="post" action="{% url 'organisation_delete' pk=object.pk %}">
          {% csrf_token %}
          <input type="submit" class="button alert" value="Delete">
          <a title="Cancel the deletion of this organisation." id="delete_organisation_modal_cancel" role="button" tabindex="0" class="button secondary cancel">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
<main class="main" role="main">
  <article id="content" class="organisation grid-container">
    {% if request.user.is_authenticated %}
      {% can_edit request.user object as user_can_edit %}
    {% endif %}
     
    {% if user_can_edit and object.services.count == 0 %}
      <p class="message">
        <span class="icon">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span> No services have been added for this organisation. Until a service is added this organisation won't be visible on ALISS.
        <a title="Add a service." style="font-size: 0.9em; margin-left: 6px;" href="{% url 'service_create' pk=object.pk %}">Add a service.</a>
      </p>
    {% endif %}

    <div class="columns options">
      <div class="cell small-12 medium-4 large-4">
        <div class="pad">
          <div class="info-box toggled" id="organisation_actions">
            <div class="heading">
              <h4 id="organisation_actions_toggle" class="toggle-heading">Actions</h4>
            </div>
            <div class="actions toggle-content">
              {% if not user.is_authenticated %}
              <a title="Click here to log in to claim this organisation" href="{% url 'claim_create' pk=object.pk %}" class="primary icon-link">
                <span class="icon">
                  <i class="fas fa-hand-paper"></i>
                </span>
                Claim this organisation
              </a>
            {% endif %}
              {% if request.user.is_authenticated %}
         
              {% if object.claimed_by == user or user.is_staff%}
              <a title="Add a service." id="add-service-action" href="{% url 'service_create' pk=object.pk %}" class="icon-link primary">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                Add service
              </a>
              <a title="Add a loction." href="{% url 'location_create' pk=object.pk %}" class="icon-link primary">
                <span class="icon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                Add location
              </a>
              <a title="Edit an organisation." href="{% url 'organisation_edit' pk=object.pk %}" class="icon-link">
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
                Edit organisation
              </a>
              <a title="Delete an organisation." id="delete_org_modal" class="delete icon-link">
                <span class="icon">
                  <i class="fas fa-trash-alt"></i>
                </span>
                Delete organisation
              </a>
              
              {% elif user.is_editor and not object.claimed_by %}

                <a title="Add a service." id="add-service-action" href="{% url 'service_create' pk=object.pk %}" class="icon-link primary">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                Add service
              </a>
              <a title="Add a loction." href="{% url 'location_create' pk=object.pk %}" class="icon-link primary">
                <span class="icon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                Add location
              </a>
              <a title="Edit an organisation." href="{% url 'organisation_edit' pk=object.pk %}" class="icon-link">
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
                Edit organisation
              </a>
              <a title="Delete an organisation." id="delete_org_modal" class="delete icon-link">
                <span class="icon">
                  <i class="fas fa-trash-alt"></i>
                </span>
                Delete organisation
              </a>
              

              {% elif not object.claimed_by %}
              
              
              <a title="By claiming an organisation you'll be able to edit and manage services for the organisation" href="{% url 'claim_create' pk=object.pk %}" class="primary icon-link">
                <span class="icon">
                  <i class="fas fa-hand-paper"></i>
                </span>
                Claim this organisation 
              </a>

              {% elif object.claimed_by != user  %}
              <a title="Click here to suggest any changes " id="improve-listing_modal" class="icon-link improve">
                <span class="icon">
                <i class="fas fa-comment"></i>
                </span>
                Improve this listing
              </a>
              <p>This organisation has been claimed. Only the person who has claimed can edit this information. If you want to suggest any changes, please click on the "Improve this listing" link above to submit your feedback.</a></p>

              {% endif %}
        
                {% endif %}
             
              <a title="Click here to go back to the last search." id="back_to_seach" class="icon-link">
                <span class="icon">
                <i class="fas fa-arrow-left"></i>
                </span>
                Back to last search
              </a>
            
            </div>
          </div>
          {% if not object.published %}
          <div class="content">
            <br/>
            <h4>Publish progress</h4>
            {% include 'partials/breadcrumb.html' with progress=progress organisation=object %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="columns content">
      <div class="cell small-12 medium-8 large-8">
        <div class="grid-x">
          <div class="cell small-7 medium-8 large-8">
            <h1>{{ object.name }}</h1>
            {% if object.claimed_by %}
              <p class="org"><span class="claimed">Claimed</span></p>
            {% endif %}
            <div class="desc">
              <p>{{ object.description|linebreaks }}</p>
              <p>Last updated <span class="updated">{{ object.last_edited }}</span></p>
            </div>
          </div>
          <div class="cell small-5 medium-4 large-4">
            {% cloudinary object.logo width=230 height=230 crop="fit" class="org-logo" %}
            <br/>
          </div>
        </div>

        <div class="contact-info">
          {% if object.phone or object.email or object.website or object.facebook or object.twitter %}
            <br/><h3>Contact information</h3>
            <p>
              {% if object.phone %}<strong>{{ object.phone }}</strong><br />{% endif %}
              {% if object.email %}<a title="Click here to email this contact. (This page will open your email client)" href="mailto:{{ object.email }}">{{ object.email }}</a><br />{% endif %}
              {% if object.url %}<a title="Click here to view this contacts website. (This page will open in a new window)" href="{{ object.url }}" target="_blank">Website</a><br />{% endif %}
              {% if object.facebook %}<a title="Click here to view this contacts Facebook profile. (This page will open in a new window)" href="{{ object.facebook }}" class="fb" target="_blank">Facebook</a><br />{% endif %}
              {% if object.twitter %}<a title="Click here to view this contacts Twitter profile. (This page will open in a new window)" href="{{ object.twitter }}" class="tw" target="_blank">Twitter</a>{% endif %}
            </p>
            {% if user_can_edit and object.claimed_by == user %}
              <a title="Click here to edit this organisations information." href="{% url 'organisation_edit' pk=object.pk %}" class="button secondary">Edit organisation info</a>
            {% endif %}
             {% endif %}
        </div>

        <div class="services-list">
          <h3>Services</h3>
          {% if object.services.all %}
            <ul class="search-results{% if user_can_edit %} edit{% endif %}">
              {% for service in object.services.all %}
                {% include 'service/partials/detail.html' with service=service %}
              {% endfor %}
            </ul>
          {% else %}
            <p>No services have been added to this organisation</p>
          {% endif %}
          <br/>
        </div>

        <div class="contact-info">
          {% if object.locations.all %}
          
            <h4>Locations</h4>
            <div class="all-locations">
              {% for location in object.locations.all %}
                {% include 'location/partials/detail.html' %}
              {% endfor %}
              {% if object.claimed_by == user%}
                <a title="Click here to add a location to this service." href="{% url 'location_create' pk=object.pk %}" class="button primary">Add location</a>
                   {% elif not object.claimed_by and user.is_editor %}
                    <a title="Click here to add a location to this service." href="{% url 'location_create' pk=object.pk %}" class="button primary">Add location</a>
                        {% elif user.is_staff %}
                         <a title="Click here to add a location to this service." href="{% url 'location_create' pk=object.pk %}" class="button primary">Add location</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </article>
</main>

<script type="application/ld+json">
{% url 'organisation_detail' pk=object.pk as org_path %}
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ object.name }}",
  {% if object.email %}
  "email": "{{ object.email }}",
  {% endif %}
  {% if object.phone %}
  "telephone": "{{ object.phone }}",
  {% endif %}
  "url": "{% absolute org_path %}"
}
</script>
{% endblock %}

{% block before_body_close %}
  <script type="text/javascript">
  $(document).ready(function(){
    var searchURL = localStorage.getItem('searchURL');
    if (searchURL != null){
    $('#back_to_seach').attr('href', searchURL).show();
    }
  })
  </script>
{% endblock%}
