{% extends "base.html" %}
{% load aliss %}
{% block title %}Add an organisation - ALISS{% endblock %}
{% block meta_schema %}
  <meta property="og:title" content="Add an organisation - ALISS" />
  <meta name="twitter:title" content="Add an organisation - ALISS" />
{% endblock %}

{% block container %}
<main class="main" role="main">
  <section class="grid-container" id="content">
    <div class="grid-x">
      <div class="cell small-12 medium-8">
        <h1>Add a new organisation</h1>
        <div class="org-search">
          <br/>
          <label for="org-search-input"><h4>
            First, check if your organisation is already listed by searching for it:
          </h4></label>
          <br/>
          <div class="sbs-inputs">
            <form class="">
              <input id="org-search-input" class="glow" type="text" placeholder="e.g. The ALLIANCE" value="{{ request.GET.q }}" name="q">
              <input title="Click here to search to see if your organisation has already been listed." type="submit" value="Search" class="secondary">
            </form>
          </div>
        </div>

        <div class="org-results">
          {% if request.GET.q and object_list %}
            <br/>
            <h4>You searched for {{ request.GET.q }}</h4>
            <table class="stack">
              <thead>
                <tr>
                  <th width="">Name</th>
                  <th width="">Claim Status</th>
                </tr>
              </thead>
              <tbody>
              {% for organisation in object_list %}
                <tr>
                  <td>
                  <span class="name"><a title="Click here for more information on {{ organisation.name }}. (This page will open in a new window)" target="_blank" href="{% url 'organisation_detail' pk=organisation.id %}">{{ organisation.name }}</a></span>
                </td>
                  <ul class="options">
                    <td>
                      {% if organisation.is_claimed %}
                        <span title="This organisation is updated by one of its own representatives." class="claimed">Claimed</span>
                        <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="2" title="This organisation is already updated by one of its own representatives.">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </span>
                      {% else %}
                        <a title="Click here to claim {{ organisation.name }} as your organisation." href="{% url 'claim_create' pk=organisation.id %}">
                          Claim organisation
                        </a>
                        <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="2" title="If you are a member of an organisation you can claim representation and gain edit rights over its entry on ALISS.">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </span>
                      {% endif %}
                    </td>
                  </ul>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          {% if request.GET.q %}
            {% include 'partials/pagination.html' with page=page_obj paginator=paginator %}


            <hr class="clear"/>

            {% if object_list %}
              <div class="s-12 m-6 l-6 columns">
                <h5>Found your organisation?</h5>
                <p>Click 'Request to represent' to claim representation of the organisation. Once approved you'll be able to edit and publish services on ALISS.</p>
              </div>
              <div class="s-12 m-6 l-6 columns">
                <h5>Couldn't find your organisation?</h5>
                <p>Start the process by adding your organisation: </p>
                <a title="Click here to add your organisation." href="{% url 'organisation_create' %}" class="button primary">Add your organisation</a>
              </div>
            {% else %}
              <div class="s-12 m-6 l-6 columns">
                <h5>No organisations were found with the name '{{ request.GET.q }}'</h5>
                <p>Start the process by adding your organisation: </p>
                <a title="Click here to add your organisation." href="{% url 'organisation_create' %}" class="button primary">Add your organisation</a>
              </div>
            {% endif %}
          {% endif %}
          <hr class="clear"/>
        </div>
      </div>

      <div class="cell small-12 medium-4">
        <div class="pad">
          <h5>Publishing on ALISS</h5>
          {% include 'partials/breadcrumb.html' %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block before_body_close %}
  <script type="text/javascript">
  $(document).ready(function(){
    var urlString = window.location.href
    var url = new URL(urlString)
    var searchedOrg = url.searchParams.get("q")
    window.localStorage.setItem("searchedOrg", searchedOrg)
  })
  </script>
{% endblock%}
