{% extends "base.html" %}
{% load aliss %}
{% block title %}Add an organisation - ALISS{% endblock %}
{% block meta_schema %}
  <meta property="og:title" content="Add an organisation - ALISS" />
  <meta name="twitter:title" content="Add an organisation - ALISS" />
{% endblock %}

{% block container %}
<section id="search">

  <div class="row">
    <div class="columns">
      <h1>Add a new service</h1>
      <label for="org-search-input"><h4>
        First, check if the service is listed with some organisation is listed by searching for it:
      </h4></label>
        <div class="sbs-inputs">
          <button class="tab active" data-parent="div.search-holder" data-tab="#org-search">Organisations</button>
        </div>

        <div class="search-box tabbed-search-box">
          <div class="search-holder sbs-inputs">
            <form class="active" action="{% url 'organisation_search_results_service' %}" id="org-search">
              <input class="query" type="text" name="q" id="q" placeholder="e.g. The ALLIANCE">
              <div class="search-button">
                <button type="submit"><span>Search</span></button>
              </div>
            </form>

      
          </div>
        </div>
      </div>
    
  </div>
</section>
{% endblock %}

