{% extends "base.html" %}

{% block title %}Unpublished organisations - ALISS{% endblock %}

{% block container %}
<main class="main" role="main">
  <section id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container">
          <h1>Unpublished organisations</h1>
          <p>Organisations not yet available on ALISS.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="search-orgs">
    <div class="row">
      <div class="columns">
        <div class="org-search">
          <label>Search by name</label>
          <div class="sbs-inputs">
            <form>
              <input type="text" placeholder="e.g. The ALLIANCE" value="{{ request.GET.q }}" name="q">
              <input type="submit" value="Search" class="secondary">
            </form>
          </div>
        </div>
        <div class="">
          <br/>

          {% if request.GET.q %}
          <h4>You searched for "{{ request.GET.q }}"</h4>
          <br/>
          {% endif %}

          {% if object_list %}
            <table class="orgs">
              <col width="25%">
              <col width="20%">
              <col width="20%">
              <col width="15%">
              <col width="20%">
              <thead>
              <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Create date</th>
                <th>User</th>
                <th>Actions</th>
              </tr>
              </thead>
              {% for organisation in object_list %}
                <tr>
                  <td class="name">
                    <a title="{{ organisation.name }}." href="{% url 'organisation_detail' pk=organisation.pk %}">
                    {{ organisation.name }.}
                    </a>
                  </td>
                  <td>
                    {{ organisation.services.count }} Service(s) <br/>
                    {{ organisation.locations.count }} Locations(s)
                  </td>
                  <td>
                    {{ organisation.created_on }}
                  </td>
                  <td>
                    {% if organisation.created_by %}
                      <a title="{{ organisation.created_by }}." href="{% url 'account_detail' pk=organisation.created_by.pk %}">{{ organisation.created_by }}</a>
                    {% else %}
                      n/a
                    {% endif %}
                  </td>
                  <td class="options">
                    <form action="{% url 'organisation_publish' pk=organisation.pk %}" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Approve and publish" />
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

          {% include 'partials/pagination.html' with page=page_obj paginator=paginator %}

          <br/>
          <a title="Click here to navigate back to the dashboard." href="{% url 'account_dashboard' %}" class="button primary">Back to dashboard</a>
        </div>
      </div>
    </dv>
  </section>
</main>
{% endblock %}
