{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
  <section id="content" class="grid-container">
    <div class="grid-x">
      <div class="cell large-8 medium-8 small-12">
        <h1>{{ object.name }}</h1>
        <div class="breadcrumbs">
          <a title="{{ object.name }}." href="{% url 'organisation_detail' pk=object.pk %}">{{ object.name }}</a>
          <span class="sep"></span>
          <span>Update organisation</span>
        </div>
        <br/><br/>
        <form method="post" class="organisation-form" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'organisation/forms/organisation_form.html' %}
          <div class="submit">
            <input type="submit" class="secondary" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}