{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
  <section id="content" class="grid-container">
    <div class="grid-x">
      <div class="cell large-8 medium-8 small-12">
        <h1>{{ object.name }}</h1>
        <div class="breadcrumbs">
          <a title="{{ object.name }}." href="{% url 'organisation_detail' pk=object.pk %}">{{ object.name }}</a>
          <span class="sep"></span>
          <span>Update organisation</span>
        </div>
        <br/><br/>
        <form method="post" class="organisation-form" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'organisation/forms/organisation_form.html' %}

        <br>
        <i class="fa fa-info-circle" aria-hidden="true" ><p style="font-family: Sofia Pro;">Please do not include any sensitive personal information (including information about your physical and/or mental health).  If you do include such personal information then it will be publicly accessible via ALISS.  Please note that entries on ALISS are not reviewed and any such personal information will remain on the entry, unless and until you remove it.</p> 
        </i>

<br>
          <div class="submit">
            <input type="submit" class="secondary" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}