<form method="post">
    <input type="hidden" name="organisation" value="{{ organisation.name }}">
    <div class="f-row">
        {% include 'partials/forms/field.html' with field=form.name %}
        <span class="annotation">
            If entered, this name appears on your org page so try to avoid duplicates.
        </span>
    </div>
    <div class="f-row">
        {% include 'partials/forms/field.html' with field=form.street_address %}
    </div>
    <div class="f-row">
        {% include 'partials/forms/field.html' with field=form.locality %}
    </div>
    <div class="f-row">
        {% include 'partials/forms/field.html' with field=form.postal_code %}
    </div>
    <div class="submit">
        <input type="submit" value="Add Location">
    </div>
</form>
