{{ master_component({
  classes: '',
  item_type: "",
  item_title: "Contact information",
  item_text: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.",
  item_links: [
    {
      icon_class: "website",
      href: "/",
      text: "Visit the website",
      title: "Click here to..."
    },
    {
      icon_class: "telephone",
      href: "/",
      text: "0141 4040239",
      title: "Click here to..."
    },
    {
      icon_class: "email",
      href: "/",
      text: "email@aliss.org.uk",
      title: "Click here to..."
    },
    {
      icon_class: "location",
      href: "/",
      text: "Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA.",
      title: "Click here to..."
    },
    {
      icon_class: "facebook",
      href: "/",
      text: "Find us on Facebook",
      title: "Click here to..."
    },
    {
      icon_class: "twitter",
      href: "/",
      text: "Find us on Twitter",
      title: "Click here to..."
    }
  ]
}) }}