{% load aliss %}

{% if locations %}
  <div class="location{% if locations|length > 1 %} multiple{% endif %}">
    {% process_locations locations postcode=request.GET.postcode as ordered_locations%}
    {% if ordered_locations %}
      {% for location in ordered_locations %}
        {% if forloop.first and not forloop.last %}
          <a href="https://maps.google.com?daddr={{ location.formatted_address }}" class="icon-link">
            <span class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            <span class="first-location">
              {{ location.formatted_address }}
            </span>
          </a>
          <div class="more">
            <a class="more-link" tabindex="0">More Locations</a>
          </div>
          <div class="locations-list">
        {% else %}
          <a href="https://maps.google.com?daddr={{ location.formatted_address }}" class="icon-link">
            <span class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            {{ location.formatted_address }}
          </a>
        {% endif %}
        {% if forloop.last and not forloop.first %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
