.aliss-organisation {
    &__standard {
        display: flex;
        flex-direction: row;

        h2 {
            line-height: 1;
            margin: rem-calc(0 0 0 20);
        }
    }
    &__content {
        padding: rem-calc(0 0 0 35);
    }
}