.acc-skip-link {
	left: rem-calc(-9999);
	padding: rem-calc(8);
	position: absolute;
	background-color: #ffeb3b;
	box-shadow: rem-calc(0 -2) #ffeb3b, rem-calc(0 4) #212b32;
	color: #212b32;
	&:active,
	&:focus {
		left: rem-calc(16);
		top: rem-calc(16);
		z-index: 2;
	}
	&:focus {
		outline: rem-calc(4) solid transparent;
		text-decoration: none;
	}
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }