{% load static %}
<div class="footer-holder">
    <footer class="footer" role="contentinfo">
        <div class="row">
            <div class="columns">
                <ul class="footer-links">
                    <li>
                        <a title="Click here to navigate to the terms and conditions page." href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>
                    </li>
                    <li>
                        <a title="Click here to navigate to the privacy policy page." href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    </li>
                    <li>
                        <a title="Click here to navigate to the API documentation page." href="http://docs.aliss.org">API Documentation</a>
                    </li>
                    <li>
                        <a title="Click here to navigate to the ALISS data standards page." href="{% static 'pdf/ALISS_data-standards.pdf' %}">ALISS Data Standards</a>
                    </li>
                </ul>
                <div class="copy-container">
                    <address>Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA</address>
                    <p>© Copyright Health and Social Care Alliance Scotland (the ALLIANCE) 2018. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
