<div class="footer-holder">
    <footer class="footer" role="contentinfo">
        <div class="row">
            <div class="columns">
                <ul class="footer-links">
                    <li>
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">ALISS Data Standards</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
