<div class="row content for-not-for">
    <div class="columns">
        <div class="info-box">
            <div class="heading">
                <h4>ALISS will help you find</h4>
            </div>
            <ul class="for">
                <li>Support Groups</li>
                <li>Food Banks</li>
                <li>Debt Relief</li>
                <li>Illness Support</li>
                <li class="long-text">This is a longer item</li>
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="info-box">
            <div class="heading">
                <h4>ALISS will NOT help you find</h4>
            </div>
            <ul class="not-for">
                <li>Volunteer Roles</li>
                <li>Emergency Care</li>
                <li>Events</li>
                <li>Documents</li>
            </ul>
        </div>
    </div>
</div>
