<div class="row content for-not-for">
  <div class="columns">
    <div class="info-box">
      <div class="heading">
        <h4>ALISS can help you find</h4>
      </div>
      <ul class="for">
        <li>Foodbanks</li>
        <li>Money advice</li>
        <li class="long-text">Mental health support</li>
        <li class="long-text">Homelessness support</li>
        <li class="long-text">Local and national services</li>
      </ul>
    </div>
  </div>
  <div class="columns">
    <div class="info-box">
      <div class="heading">
        <h4>ALISS cannot help you find</h4>
      </div>
      <ul class="not-for">
        <li>Volunteer Roles</li>
        <li>Training courses</li>
        <li>Events</li>
        <li>Documents</li>
        <li class="long-text">General business listings</li>
      </ul>
    </div>
  </div>
</div>
