{% load static %}

<header class="header {% if request.user.is_authenticated %}logged-in{% endif %}" role="banner">
    <div class="row">
        <div class="columns">
            <a href="{% url 'homepage' %}">
                <div id="branding">
                    <svg style="fill: white">
                        <use href="{% static 'img/svg-sprite/symbols.svg' %}#logo" />
                        <title>ALISS</title>
                        <desc>A Local Information System for Scotland</desc>
                    </svg>
                </div>
            </a>
            <div class="top-hat">
                {% if request.user.is_authenticated %}
                    <div class="account-info">
                        <div class="account hide-notifications">
                            <a href="{% url 'account_saved_services' %}" class="name">{% if request.user.name %}{{ request.user.name }}{% else %}{{ request.user.email }}{% endif %}</a>
                            {% comment %}
                            <div class="notifications-holder">
                                <a id="notifications_toggle" class="notifications-count items">1</a>
                                <div class="notifications" id="notifications">
                                    <div class="holder">
                                        <ul>
                                            <li>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, veniam minus corporis culpa. Alias porro molestias tenetur nobis ducimus, deleniti. <a href="#">Update your preferences</a>.</p>
                                                <div class="details">
                                                    <ul>
                                                        <li>1 min ago</li>
                                                        <li><a href="#" class="delete">Dismiss</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <p>Lorem ipsum dolor sit amet. <a href="#">Read More</a>.</p>
                                                <div class="details">
                                                    <ul>
                                                        <li>1 min ago</li>
                                                        <li><a href="#" class="delete">Dismiss</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}
                        </div>
                        <ul>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="account-info">
                        <ul>
                            <li{% if request.resolver_match.url_name == 'login' %} class="active"{% endif %}>
                                <a href="{% url 'login' %}">Log In</a>
                            </li>
                            <li{% if request.resolver_match.url_name == 'signup' %} class="active"{% endif %}>
                                <a href="{% url 'signup' %}">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div class="tab-button">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeehb6FgGxPQLisbpS5qsQ7pa-BB0luWStRhhnHCSGNpGGC4A/viewform" target="_blank" class="button secondary">Give Feedback</a>
                </div>
            </div>
            <div class="navigation">
                <a id="menu_toggle">
                    <span class="nav">
                        <span class="text">Navigation</span>
                    </span>
                    <span class="close">
                        <span class="text">Close</span>
                    </span>
                </a>
                <div id="menu">
                    <div class="inner">
                        <nav role="navigation">
                            <ul>
                                <li{% if request.resolver_match.url_name == 'homepage' or request.resolver_match.url_name == 'search' %} class="active"{% endif %}>
                                    <a href="{% url 'homepage' %}">Search</a>
                                </li>
                                <li{% if request.resolver_match.url_name == 'about' %} class="active"{% endif %}>
                                    <a href="{% url 'about' %}">About</a>
                                </li>
                                <li>
                                    <a href="https://medium.com/@ALISSProgramme" target="_blank">News</a>
                                </li>
                                <li{% if request.resolver_match.url_name == 'organisation_create' or request.resolver_match.url_name == 'organisation_search' %} class="active"{% endif %}>
                                    <a href="{% url 'organisation_search' %}">Add an organisation</a>
                                </li>
                            </ul>
                        </nav>
                        {% include 'partials/social.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="branding_print">
        <img src="{% static 'img/logo-print.png' %}">
        <h2>aliss.org</h2>
    </div>
</header>
