{% load static %}

<header class="header {% if request.user.is_authenticated %}logged-in{% endif %}" role="banner">
    <div class="row">
        <div class="columns">
            <a title="Click here to navigate to the ALISS homepage." href="{% url 'homepage' %}">
                <div id="branding">
                    <svg style="fill: white">
                        <title>ALISS logo. (Clicking here will take you to the homepage.</title>
                        <desc>A Local Information System for Scotland</desc>
                        <use xlink:href="#logo" />
                    </svg>
                </div>
            </a>
            <div class="top-hat">
                {% if request.user.is_authenticated %}

                <div class="account-info">
                    <ul>
                        <li>
                            <a title="Click here for this users details." href="{% url 'account_saved_services' %}" class="name">{% if request.user.name %}{{ request.user.name }}{% else %}{{ request.user.email }}{% endif %}</a>

                        </li>
                        <li>
                            <a title="Click here to logout." href="{% url 'logout' %}">Logout</a>

                        </li>
                    </ul>
                </div>
               
                {% else %}
                    <div class="account-info">
                        <ul>
                            <li{% if request.resolver_match.url_name == 'login' %} class="active"{% endif %}>
                                <a title="Click here to log in." href="{% url 'login' %}">Log in</a>
                            </li>
                            <li{% if request.resolver_match.url_name == 'signup' %} class="active"{% endif %}>
                                <a title="Click here to sign up." href="{% url 'signup' %}">Sign up</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
             
            </div>
            <div class="navigation">
                <a title="Click here to toggle the navigation bars visibility." id="menu_toggle" tabindex="0">
                    <span class="nav">
                        <span class="text">Navigation</span>
                    </span>
                    <span class="close">
                        <span class="text">Close</span>
                    </span>
                </a>
                <div id="menu">
                    <div class="inner">
                        <nav role="navigation">
                            <ul>
                                <li{% if request.resolver_match.url_name == 'homepage' or request.resolver_match.url_name == 'search' %} class="active"{% endif %}>
                                    <a title="Click here to navigate to the search page." href="{% url 'homepage' %}">Search</a>
                                </li>
                                <li{% if request.resolver_match.url_name == 'about' %} class="active"{% endif %}>
                                    <a title="Click here to navigate to the about us page." href="{% url 'about' %}">About</a>
                                </li>
                                <!-- <li>
                                    <a title="Visit Medium.com for the latest news and updates on ALISS. (This page will open in a new window)" href="https://medium.com/@ALISSProgramme" target="_blank">News</a>
                                </li> -->
                                <li{% if request.resolver_match.url_name == 'organisation_create' or request.resolver_match.url_name == 'organisation_search' %} class="active"{% endif %}>
                                    <a title="Click here to add an organisation." href="{% url 'potential_create' %}">Add an organisation</a>
                                </li>
                            </ul>
                        </nav>
                        {% include 'partials/social.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="branding_print">
        <img alt="" src="{% static 'img/logo-print.png' %}">
        <h2>aliss.org</h2>
    </div>
  
</header>

