<section class="center-section">
    <div class="row section-title">
        <div class="columns">
            <h3>Share a Search</h3>
            <p>Know someone looking for help? You can use the form below to create a website link to a custom ALISS search tailored to their location and needs:</p>
        </div>
    </div>
    <div class="row share-form">
        <div class="columns">
            <span class="part-url">
                aliss.org/
            </span>
            <input type="text" placeholder="e.g. G2 4AA" class="postcode">
            <span class="part-url">
                /
            </span>
            <select class="category">
                <option value="">Select Category</option>
            </select>
            <div class="buttons">
                <a href="#" class="button secondary">Copy Link</a>
            </div>
        </div>
    </div>
</section>
