<section class="center-section">
  <div class="row section-title">
    <div class="columns">
      <h3>Share your search</h3>
      <p>Know someone looking for help? Create a link to a custom ALISS search tailored to their location and needs using a postcode and a term:</p>
    </div>
  </div>
  <div class="row share-form">
    <div class="columns">
      <span class="part-url">
        aliss.org/
      </span>
      <input aria-label="Postcode to search" type="text" placeholder="e.g. G24AA" class="postcode" value="{{ postcode.postcode }}" maxlength="8">
      <span class="part-url">
        /
      </span>
      <input aria-label="Category to search" type="text" placeholder="e.g. food OR mental health" class="category" value="{{ request.GET.q }}">
      <div class="buttons">
        <button title="Click here to copy your generated link." id="copy_search_link" class="button secondary" data-clipboard-target="#share_url">Copy link</button>
      </div>
    </div>
    <input id="share_url" type="hidden" value="https://www.aliss.org/">
  </div>
  <div class="row">
    <div class="columns share-success">
      <p>Link copied.</p>
    </div>
    <div class="columns share-error">
      <p>Please enter a value in the postcode field.</p>
    </div>
    <div class="columns copy-error">
      <p>Oops, we couldn't copy your link. Please try again.</p>
    </div>
  </div>
</section>
