.aliss-img {
    &__downloaded {
        height: rem-calc(100);
        width: auto;
        margin: rem-calc(0) rem-calc(0) rem-calc(16) rem-calc(0);    

        &__service {
            display: block;
        }
    }
}