/** @format */

//Breakpoints
//http://include-media.com/
$breakpoints: (
	phone: 390px,
	mobile: 410px,
	tablet: 768px,
	desktop: 1024px,
	largedesktop: 1280px,
);

// ALISS brand colours
$brand: (
	aliss-blue: #1E7ABD,
	aliss-dark-blue: #004785,
	aliss-light-green: #1B8500,
	aliss-dark-red: #a01b19,
	aliss-light-red: #BE221F,
	aliss-light-teal: #2EEEE3,
	aliss-lighter-gray: #f7f7f9,
	aliss-light-gray: #EDEDED,
	aliss-dark-gray: #4C5C68,
);

// Social networking colours
$social: (
	facebook: #39588a,
	twitter: #559cc9,
	google: #d05044,
);

// Default colours
$black: #000;
$white: #fff;

// Generic colour pallete
$colours: (
	light-gray: #ccc,
	medium-gray: #999,
	dark-gray: #666,
	faded-black: #212121,
);

// Asset paths
$body-font-url: '../fonts';
$aliss-imgs: '../img';

// Global
$body-background: $white;
// $global-width: rem-calc(1240);
$global-width: rem-calc(1440);
$global-margin: 1rem;
$global-padding: 1rem;
$global-lineheight: 1.4;
$body-font-color: $black;

//alignment
.align-bottom {
	vertical-align: text-bottom;
}

//display
.d-inline-block {
	display: inline-block;
}

// Border
.no-border {
	border: none;
}

// Padding
.no-padding {
	padding: 0px !important;
}

// Margin
.no-margin {
	margin: 0px !important;
}

.m--16 {
	margin: rem-calc(16);
}

.pl {
	&--4 {
		padding-left: 4px;
	}
	&--8 {
		padding-left: 8px;
	}
	&--15 {
		padding-left: 15px;
	}
	&--16 {
		padding-left: 16px;
	}
}

.pr {
	&--4 {
		padding-right: 4px;
	}
	&--8 {
		padding-right: 8px;
	}
	&--15 {
		padding-right: 15px;
	}
	&--16 {
		padding-right: 16px;
	}
}

.pt {
	&--0 {
		padding-top: 0px;
	}
	&--4 {
		padding-top: 4px;
	}
	&--8 {
		padding-top: 8px;
	}
	&--15 {
		padding-top: 15px;
	}
	&--16{
		padding-top: 16px;
	}
}

// Margins
.mb {
	&--0 {
		margin-bottom: 0px;
	}
	&--8 {
		margin-bottom: 8px;
	}
	&--16 {
		margin-bottom: 16px;
	}
	&--15 {
		margin-bottom: 15px;
	}
	&--24 {
		margin-bottom: 24px;
	}
	&--30 {
		margin-bottom: 30px;
	}
	&--32 {
		margin-bottom: 32px;
	}
	&--48 {
		margin-bottom: 48px;
	}
}
.mt {
	&--0 {
		margin-top: 0px;
	}
	&--8 {
		margin-top: 8px;
	}
	&--16 {
		margin-top: 16px;
	}
	&--24 {
		margin-top: 24px;
	}
	&--30 {
		margin-top: 30px;
	}
	&--32 {
		margin-top: 32px;
	}
	&--48 {
		margin-top: 48px;
	}
}
.mr {
	&--8 {
		margin-right: 8px;
	}
}

.ml {
	&--0 {
		margin-left: 0px;
	}
	&--8 {
		margin-left: 8px;
	}
	&--16 {
		margin-left: 16px;
	}
	&--24 {
		margin-left: 24px;
	}
	&--30 {
		margin-left: 30px;
	}
	&--32 {
		margin-left: 32px;
	}
	&--48 {
		margin-left: 48px;
	}
}

.mr {
	&--0 {
		margin-right: 0px;
	}
	&--8 {
		margin-right: 8px;
	}
	&--16 {
		margin-right: 16px;
	}
	&--24 {
		margin-right: 24px;
	}
	&--30 {
		margin-right: 30px;
	}
	&--32 {
		margin-right: 32px;
	}
	&--48 {
		margin-right: 48px;
	}
}

.ml {
	&--8 {
		margin-left: 8px;
	}
}

//paddings 
.pl {
	&--32 {
		padding-left: 32px;
	}
}