{% extends "base.html" %} {% load static %} {% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <div class="breadcrumbs">
                        <a title="{{ object.organisation.name }}" href="{% url 'organisation_detail' pk=object.organisation.pk %}">{{ object.organisation.name }}</a>
                        <span class="sep"></span>
                        <span>Delete location</span>
                    </div>
        

                    {%if object.services.all %}
                    <p>The location of this service cannot be removed as there must be at least one primary location when there are no service areas applied.</p>

                    <p>The following services have this location:</p>
                    <ul>
                        {% for service in object.services.all %}
                        <li><a href="{% url 'service_detail' pk=service.pk %}">{{ service }}</a></li>
                        {% endfor %}
                    </ul>
                    <a title="Cancel the deletion of this location." href="{% url 'organisation_detail' pk=object.organisation.pk %}" class="button secondary">Cancel</a> 
                    {%else%}

                </div>
            </div>
        </div>
    </section>
    <section class="large-form">
        <div class="row">
            <div class="columns">
                <p>Are you sure you want to delete <strong>{{ object.name }}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="submit">
                        <input type="submit" class="alert" value="Delete location">
                        <a title="Cancel the deletion of this location." href="{% url 'organisation_detail' pk=object.organisation.pk %}" class="button secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        {%endif%}
    </section>
    
</main>
{% endblock %}