{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
  <section id="content">
    <div class="row">
      <div class="columns content">
        <div class="copy-container">
          <div class="breadcrumbs">
            <a title="{{ location.organisation.name }}" href="{% url 'organisation_detail' pk=location.organisation.pk %}">{{ location.organisation.name }}</a>
            <span class="sep"></span>
            <span>Update location</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="large-form">
    <div class="row">
      <div class="columns">
        <form method="post">
          {% csrf_token %}
          {% include 'location/forms/location_form.html' %}
          <div class="submit">
            <input type="submit" value="Update Location">
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
