{% extends "base.html" %}

{% block container %}
<main class="main" role="main">
    <section id="content">
        <div class="row">
            <div class="columns content">
                <div class="copy-container">
                    <h1>{{ organisation.name }}</h1>
                    <div class="breadcrumbs">
                        <a href="{% url 'organisation_detail' pk=organisation.pk %}">{{ organisation.name }}</a>
                        <span class="sep"></span>
                        <span>Update location</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="large-form">
        <div class="row">
            <div class="columns">
                {% include 'organisation/forms/organisation_form.html' %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
